[2017-07-18 08:05] #547 closed

[2017-07-18 08:18] riuvshin commented on #547
thanks for the reply @olleolleolle , I;ve found that I could use `--since-tag  x` to workaround 1) but it still not clear how to append changelog... if that is not possible I will generate it in separate file and then will merge it but this is not something I wanted :)
2) yes i've tried `--bug-labels` and `--enhancement-labels` but this works only for issues not for PRs.

[2017-07-19 02:32] ianroberts131 commented on #546
I \*think\* I've located where the change should be made, so decided to try to throw a string there and test to see if I was on the right track...but I'm having trouble figuring out how to test it.

I believe the change needs to be made in `generator_generation.rb`, Line 69.
Here was how I planned to test this:
[code]
I think I just need to insert another `\n`, but wasn't sure this would be visibl

[2017-07-19 07:54] olleolleolle commented on #546
Maybe you only need to run the CLI command wrapped in `bundle exec`, it seems that there are other pieces of code being run - code from outside what you have in the Gemfile.

[2017-07-19 07:56] olleolleolle commented on #546
Bundler manipulates your Ruby $LOAD_PATH to place your Gemfile-selected code first on it.

[2017-07-19 07:56] olleolleolle commented on #546
Hope this helps!

[2017-07-19 17:33] gustavjf commented on #502
Yes, thank you @olleolleolle!

[2017-07-20 04:03] kabirbaidhya commented on #56
Any updates on this issue?

[2017-07-20 04:11] kabirbaidhya opened #549 "Generating release notes using this"
Hi,

Is there any easier way to generate release notes using this tool? All we need is to generate the notes in the same format as the change log but only for the issues closed or PRs merged since the last release tag.

It would help a lot while drafting a new release too.

[2017-07-20 05:28] olleolleolle commented on #549
I don't know if this works: Have you tried experimenting with the `--since` flag?

[2017-07-20 16:07] kabirbaidhya commented on #549
@olleolleolle I tried using `--since`, it worked but it was showing some issues from already released tag too. I tried `--since-tag` as well, but it the result was same.

Finally, I came across the `--unreleased-only` option, which is what I was looking for. It did work as expected.
[code]

BTW, is it possible to just print the generated output and not write to the `CHANGELOG.md` file? Kind of som

[2017-08-02 17:51] rjenkinsjr commented on #469
@hrmoller not sure if this is still an issue for you, but I just ran into it as well and wanted to post my findings.

I think the warning being printed is incorrect. I'm on macOS 10.12.6, Ruby 2.4.1 and github_changelog_generator 1.14.3 and the following syntax seems to have the desired result, albeit the warning:

`github_changelog_generator --exclude-tags-regex '.*' 'OWNER/REPO'`

This contrived

[2017-08-07 15:54] chrislopresto commented on #524
We need this as well and would be happy to collaborate on the necessary updates.

[2017-08-07 17:31] olleolleolle commented on #524
I made a branch, and pushed changes to it, which was a start to get "things going". Tomorrow, GitHub has a web-sent live talk about the GraphQL API. (Investigate that to see how it can look.)

I intend to be there, learning bits of how to get this from "cool" to "real".

This move from GitHub's REST API to the GraphQL comes with some knowledge crunching: all the data that we _want_ to receive, and

[2017-08-09 06:58] lacostej commented on #473
I migrated from a command line invocation to the rake task and was surprised to see the dot file was ignored. I prefer to have the config in the dot file as to not have to edit the Rakefile for things like specifying the next version number.

[2017-08-21 15:19] olleolleolle opened #552 "Improve OptionParser usage"
https://codeclimate.com/github/skywinder/github-changelog-generator/GitHubChangelogGenerator::Parser#source

[2017-08-22 00:47] rytilahti commented on #56
I'm interested in a reverse support for this (that is, filling the changelog with commit messages from tags). I have been recently writing short summaries of changes to commit messages of annotated tags, which are displayed in the github in a form of release notes. It would be nice to get this extracted and prepended to the generated content to give some more context.

[2017-08-24 17:52] alexjfisher commented on #304
I can't get since_tag to work either.  I've been trying to migrate https://github.com/voxpupuli/puppet-archive

[2017-08-24 17:57] alexjfisher commented on #304
@olleolleolle https://github.com/skywinder/github-changelog-generator/pull/438 doesn't seem to be working for everyone.  Do you have any idea what we might be doing wrong?

[2017-08-25 08:29] alexjfisher opened #555 "since_tag doesn't work when tag specified is the latest tag"
If `since_tag` is the latest tag available, the `unreleased` section contains *all* PRs/issues (not just the ones since the date of the since_tag).

[2017-08-25 08:32] alexjfisher commented on #304
I've figured out why it was working for me and opened a new issue https://github.com/skywinder/github-changelog-generator/issues/555
@nrodriguez Was your since_tag also the latest tag?

[2017-08-26 06:17] skywinder commented on #56
@rytilahti  I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2017-08-28 05:50] 3minus1 commented on #546
I have added HR breaks between each chanege_log for improved readability. I've created a pull request. My first open source contribution. Would love some comments.

[2017-09-05 14:58] y-luis opened #557 "Can't install on ubuntu 17.04"
[code]

I did `sudo apt-get install ruby-dev` and `sudo apt-get install zlib1g-dev` like referred [here](https://github.com/skywinder/github-changelog-generator/issues/64) without success.

Thanks.

[2017-09-05 15:09] olleolleolle commented on #557
It's a sad situation that Rainbow is in, a dependency of ours.

Perhaps you'll be better off using a Ruby version manager (which installs from source and maintains versions of Ruby fir you)? Better off than having a non-functional Ruby from the distribution.

[2017-09-10 10:01] olleolleolle commented on #546
@ianroberts131 Thanks for your efforts in this!

Would you like to go ahead with the change, or leave it to someone else, or are you wondering something?

[2017-09-10 10:02] olleolleolle commented on #545
@skywinder Could you remove that link in the project's metadata in the description part of the page?

[2017-09-10 10:15] olleolleolle opened #558 "Support all Types of changes listed in Keepachangelog 1.0.0"
[Keep a Changelog 1.0.0](http://keepachangelog.com/en/1.0.0/) lists these Types of changes:

Should the tool support all of these?

[2017-09-10 10:18] olleolleolle opened #559 "Output should be parsable by Vandamme"
Output generated by this tool should be parsable by the Gemnasium team's changelog parser [Vandamme](http://tech-angels.github.io/vandamme/).

Read the section "Changelogs Convention" to be able to make it parsable.

[2017-09-14 13:27] mjonker92 opened #560 "Commit of release is seen as unreleased."
We have created a new release from the latest master commit. The release notes for this release contain the commit of the last release.

Also after creating the release and running with `--unreleased-only` I still get the commit of the last release (which closed an issue) as the release notes.

[2017-09-14 19:49] wyardley commented on #388
I am seeing this issue as well, I don't mind having it in 2 places (in fact, that's why I flagged something with both labels), but it gets escaped so that (first pass):
[code]
second pass
[code]

[2017-09-27 21:10] JustinPullen commented on #557
@y-luis try this `gem install rake` then run `gem install github_changelog_generator`

If that does not work you might need to update ruby gem (`gem update --system`) and then run the above commands.

[2017-09-30 18:45] #503 closed

[2017-10-03 23:14] Crunch09 commented on #555
Hey,
haven't contributed to this project yet but happy to look into this bug if no one has started work on this yet.

[2017-10-04 11:29] GCC-Autobot opened #565 "Which to mark with the label Issue or PR?"
I'm not quite sure i understand how to handle PR's and issues.  What is the expected result for the following scenario.

1.) Issued created saying https does not work anymore
2.) PR Created that refers to the above issue and gets fixed and merged

Questions:
Which one should get tagged with the bug label?  If i tag both then they both show up under the fixed bugs section.

[2017-10-05 21:15] #304 closed

[2017-10-05 21:15] #555 closed

[2017-10-10 21:49] olleolleolle commented on #475
@Arcanemagus Could you test out the pre-release to see where we are?

[2017-10-10 21:50] Arcanemagus commented on #475
The pre-release seems to be working for me at least 😉.

[2017-10-10 21:51] olleolleolle commented on #475
@Arcanemagus Thanks for test-driving. Can we close this issue?

[2017-10-10 21:54] Arcanemagus commented on #475
Makes sense to me, probably should have been closed with the merge of #475.

[2017-10-10 21:54] #475 closed

[2017-10-11 09:43] romdim opened #572 "Pivotal integration"
Hello there!

First of all, great tool! Really helped automating our changelog.
I'd be delighted if we could draft a pivotal integration as we don't keep our issues on github and currently all of our pull requests reference a #number which is not linked to anything but the pull request. Depending on the reference we'd be able to understand if it's a bug, feature, milestone, etc. as it works right

[2017-10-12 10:34] Slamdunk commented on #497
Totally 👍 for this.

Maybe also related to https://github.com/skywinder/github-changelog-generator/issues/256

Supporting two or more branches is common, bugfixes go to the lowest supported branch and then merged in more recent branches, while latest branch keeps getting PR merged in the meantime.

This bug mixes the result that therefore must be manually cleared 😞

[2017-10-13 12:41] abdonrd commented on #558
Any news about that? Thanks in advance!

[2017-10-13 12:42] olleolleolle commented on #558
@abdonrd Pull Request and code ideas are welcome.

[2017-10-13 18:57] dirk-proper commented on #365
+1 for this feature. We see duplicates in the changelog due to having more than one pull request from the same feature branch into multiple branches (develop and master).

[2017-10-13 20:14] olleolleolle commented on #367
I have updated the Description of the Issue with the new backtrace and error raised.

[2017-10-13 20:22] olleolleolle commented on #367
Example output that I'm thinking of would be usable by someone trying to get this to work:

[2017-10-15 18:46] Furtif opened #577 "bug: Output on aborting when unknown user and project only prints out banner, not why it aborted"
Use `bundle info [gemname]` to see where a bundled gem is installed.
bundle exec github_changelog_generator
Usage: github_changelog_generator [options]
Command exited with code 1

[2017-10-15 19:18] olleolleolle commented on #577
I’m not quite following.

Can you explain this with words like “I’m trying to achieve ___” or “When I do ___ this happens ___ but I expected ___.”

[2017-10-15 19:38] Furtif commented on #577
appveyor bug
[code]

[2017-10-15 19:49] olleolleolle commented on #577
Perhaps you have a link to this build?

[This latest build](https://ci.appveyor.com/project/olleolleolle/github-changelog-generator/build/job/uqyye246ucqxgo8b) is for `master` of this repository, now.

[2017-10-15 20:03] Furtif commented on #577
yes master

[2017-10-15 20:04] Furtif commented on #577
Using github_changelog_generator 1.15.0.pre.beta from git://github.com/skywinder/github-changelog-generator.git (at master@10e6287)

[2017-10-15 20:10] olleolleolle commented on #577
@Furtif I'm still confused about the output your showed. The command

[code]

which could output

[code]

(where I assume `[options]` means "a here truncated pretty-printing of the parsed options".)

does not exist as a build step – at least not in the AppVeyor build that I linked.

Do you have a build link to where AppVeyor fails that you can share?

[2017-10-15 20:12] Furtif commented on #577
https://ci.appveyor.com/project/jjskuld/necrobot

[2017-10-15 20:15] Furtif commented on #577
appveyor conf
[code]

[2017-10-15 20:24] olleolleolle commented on #577
Thanks for sharing this.

I was able to get to the same output situation using:

[code]

I looked at the code and found that you _must_ add: `--user jjskuld --project necrobot`

[code]

[2017-10-15 20:27] Furtif commented on #577
here?
[code]
to
[code]
?

[2017-10-15 20:39] olleolleolle commented on #577
Hope this helps, and, thanks for the bug report.

[2017-10-23 21:53] AlexWayfer opened #580 "Rebased PRs"
Hello!

In [AlexWayfer/flame](https://github.com/AlexWayfer/flame) I have [a list of commits](https://github.com/AlexWayfer/flame/commits/master?after=50b9806a3617384ad6b4cffe0651a9b53266ebbe+69) with [commit for version updating](https://github.com/AlexWayfer/flame/commit/cad968bd83548b1d1931a536954c32d363f9372c) and [commit with big refactoring](https://github.com/AlexWayfer/flame/commit/e34118f

[2017-10-24 04:45] olleolleolle commented on #580
In order to help you, can you these things:

- print out the version of this tool
- also try with the prerelease; gem install (with the dash-dash pre suffix), and compare results

[2017-10-24 08:40] AlexWayfer commented on #580
@olleolleolle, of course:

[code]

Almost the same (just duplicate about `#7` removed from enhancements):

[code]

[2017-10-24 08:50] olleolleolle commented on #580
(I'm sorry for terseness before. There is no excuse for that.)

The decision on which tag to put "Issues and PRs" into is done using the `merged_at` timestamp, if I recall correctly.

Code search for that: https://github.com/skywinder/github-changelog-generator/search?utf8=%E2%9C%93&q=merged_at&type=

There's been previous reports of issues with this, especially when you run maintenance and releas

[2017-10-24 09:34] AlexWayfer commented on #580
I understand that this program is based on time (`merged_at` or `created_at`), and this is an iron condition in its principle of operation, but I'm talking about the problems that accompany this decision.

How to reproduce, I guess:

* `master` branch with commit at 17:00, for example
* feature-branch (in PR, open) with commit at 18:00
* new commit (version update, for example) in `master` at 21:0

[2017-10-24 18:54] ksrb commented on #51
Is there a way to just include the entire commit message for now? I've trying various options and couldn't figure it out 😞.

Something like:
[code]

PS: Should I file another issue for this question?

[2017-10-24 19:25] olleolleolle commented on #51
@ksrb (It's good to create a separate Issue - so that I can mark it with the Label 'question'.

[2017-10-24 19:33] ksrb opened #581 "Options to show commit messages?"
Is there a way to just include the entire set of commit messages for now?
I've been staring at the documentation and trying various options but haven't managed to figure it out if exists.

Something like:
[code]

[2017-10-24 19:33] ksrb commented on #51
Done 😄 https://github.com/skywinder/github-changelog-generator/issues/581

[2017-10-24 19:46] olleolleolle commented on #581
@ksrb I guess there isn't.

There are several other changelog generators out there that take this route. Or use `git log` in some permutation?

[2017-10-24 20:00] ksrb commented on #581
Yeah I've been looking at some of the alternative in this repo's https://github.com/skywinder/Github-Changelog-Generator/wiki/Alternatives.

But google and github are telling me that this project is by far the most active 😉 .

What's going on with this project though, is it mostly just in maintenance now? No new features?

[2017-10-24 20:04] olleolleolle commented on #581
@ksrb You're talking to the active community right now.

[2017-10-24 20:20] ksrb commented on #581
Understood no worries thanks for responding.

[2017-10-25 12:07] alexjfisher opened #582 "A way to add release summaries"
Hi

It'd be really nice if there was a way to add release 'summaries' when using this tool. [Random example](https://github.com/puppetlabs/puppetlabs-stdlib/blob/8376c9b927d6034437db95126baa900a8213afcc/CHANGELOG.md#summary-1).

At first I thought the tool could either examine tags for annotations or maybe query the github 'release' data, but this won't work (people need to generate the changelog

[2017-10-25 12:08] olleolleolle commented on #582
@alexjfisher Perhaps a `.github-changelog-generator/` _directory_?

[2017-10-25 12:11] alexjfisher commented on #582
With a file of markdown for each tag you want a summary?

[2017-10-25 12:13] olleolleolle commented on #582
@alexjfisher I was more like;

- `.github-changelog-generator/summaries.yml`
- `.github-changelog-generator/config.ini` (or whatever we can call the format in the current `.github_changelog_generator` file)

[2017-10-25 12:13] alexjfisher commented on #582
I went for yaml with a separate key for `summary` with the vague idea of making it more future proof.  Pass.  Maybe somebody else would be interested in setting `exclude: true` or something? Probably not.

[2017-10-25 12:18] alexjfisher commented on #582
oh ok.  That makes sense.  Maybe 'releases.yml' to allow for other stuff in the future?  I can imagine people maybe wanting to mark a release as 'pulled' or 'deprecated' or who knows.  At Vox Pupuli we might try and use the same data to mark tags in github as releases.  Maybe something that aligns with that concept would be good?

[2017-10-25 12:20] olleolleolle commented on #582
- `.github-changelog-generator/releases.yml` then

[2017-10-25 23:28] richnsoos opened #583 "issue_line_labels and breaking_labels fail as rake file config params"
As suggested in [the documentation](https://github.com/skywinder/github-changelog-generator#rake-task) I have a rake task to which I'm passing config parameters; however, issue_line_labels and breaking_labels trigger the following failures:

[code]

[code]

This is how I'm setting the config params:
[code]

All others config params are processes without error.

Any advice?

[2017-10-25 23:31] olleolleolle commented on #583
Cool, you found a defect!

[2017-10-26 12:45] #583 closed

[2017-10-26 14:06] richnsoos commented on #583
cool! @olleolleolle  has the gem been released yet?

[2017-10-26 15:04] olleolleolle commented on #583
@richnsoos I will be making a new pre-release, which can be tried using `gem install github_changelog_generator --pre`

[2017-10-26 17:25] Frikki commented on #557
[code]

Is the solution on Debian based systems such as Ubuntu and Linux Mint.

Thanks, @JustinPullen

[2017-10-26 20:52] richnsoos commented on #583
cc: @pantocrator27

[2017-10-29 15:55] onqtam opened #585 "please write somewhere in the docs that a 'tmp' folder has to exist in C:/ for windows"

[2017-10-29 18:05] olleolleolle commented on #583
@richnsoos A new --pre was just released.

[2017-11-02 13:41] bgirardot opened #586 "Fails on Ubuntu 16.04 Faraday::ConnectionFailed using SSL + fix"
Just for reference, I hit this error running on ubuntu 16.04:

/usr/lib/ruby/2.3.0/net/http.rb:882:in `rescue in block in connect': Failed to open TCP connection to api.github.com:443 (getaddrinfo: Temporary failure in name resolution) (Faraday::ConnectionFailed)

sudo apt-get install ca-cacert fixed the issue.

[2017-11-02 13:41] bgirardot commented on #586
Oh my mistake, installing the certs did not fix the issue.

Anyone have any ideas?

[2017-11-02 13:42] olleolleolle commented on #586
@bgirardot Would you share the details about your version etc?

[2017-11-02 13:45] bgirardot commented on #586
@olleolleolle My apologies, I am not much of a developer, especially ruby.

github_changelog_generator --version
Version: 1.14.3

ruby --version
ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]

I am sure there is something I could do that would give a lot more details about all the ruby items I had to install.

[2017-11-02 14:05] olleolleolle commented on #586
@bgirardot Could you try the --pre version of this gem?

[2017-11-02 14:16] bgirardot commented on #586
It did not change anything for me, still errored at the same place, but here is the output from the --pre install:

sudo gem install --pre github_changelog_generator
[sudo] password for bg:
Fetching: retriable-3.1.1.gem (100%)
Successfully installed retriable-3.1.1
Fetching: github_changelog_generator-1.15.0.pre.rc.gem (100%)
Successfully installed github_changelog_generator-1.15.0.pre.rc
Parsing

[2017-11-02 14:20] olleolleolle commented on #586
So, while reading options, I noted an untruth in the docs: `SSL_CA_PATH` is not the environment variable we check, but `SSL_CA_FILE`.

Idea: Is your SSL_CA_FILE path is set and pointing at a certificate bundle which works with GitHub?

[2017-11-02 15:25] bgirardot commented on #586
I do not seem to have an env variable set related to ssl.

I would set that in my local environment where I run the gem?

[2017-11-02 15:30] bgirardot commented on #586
Does this help at all? I see this certs file:

/var/lib/gems/2.3.0/gems/github_changelog_generator-1.15.0.pre.rc/lib/github_changelog_generator/ssl_certs/cacert.pem

[2017-11-02 15:38] olleolleolle commented on #586
@bgirardot The goal for this gem is to provide a certi bundle file which would work, when not SSL_CA_FILE env variable was set in the user's environment.

Perhaps it's time for a refresh of the bundle.

You could download one and try it, overriding the one which comes with the gem.

[code]

Then try calling the tool with this newly-downloaded thing:

[code]

PS: You're helping me also, by testing

[2017-11-02 15:51] bgirardot commented on #586
Exactly the same results unfortunately. I also tried with exporting the variable so i knew it was in my env variable.

something else must be going on with os.

I am running ubuntu in a VirtualBox VM, but that has never caused me any issues in years.

It is just a very standard install straight from the ISO, fresh install.

thank you for all the help, but I am going to keep working on it, unless s

[2017-11-05 23:58] radarsh commented on #458
Git bash user on Windows. I solved it by adding `--cache_log /dev/null` command line argument.

[2017-11-11 17:56] #577 closed

[2017-11-14 19:07] jordanbrauer commented on #565
I have the same question. The logs that are generated from this tool are gorgeous! It's a shame that they are not always coherent (perhaps we as users are doing something less than optimal?). (related & possibly related issues... #67, #289, #292, #365, #388)

However, I think that this begs a different question – _are there any "**best practices**" for this tool_ that we as users can follow to min

[2017-11-17 13:31] ferrarimarco opened #588 "Add a new line after the credits"
Hi, thanks for this great project.

git complains about a missing newline at the end of the generated CHANGELOG.

Is it possible to add one? Let's discuss. :smile:

References:
- [Why should text files end with a newline?](https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline)
- [git - No newline at end of file](https://stackoverflow.com/questions/5813311/no-newline-a

[2017-11-20 22:29] richnsoos commented on #583
i validated that version [1.15.0.pre.rc](https://rubygems.org/gems/github_changelog_generator/versions/1.15.0.pre.rc) of changeloggenerator does handle issue_line_labels successfully. thank you!

[2017-11-21 04:38] nikolakulikov opened #589 "Objective-C? Swift?"
Здравствуйте, Петр!
Сразу хочу извиниться, что пишу вам в гитхаб.
Я ищу разработчика с опытом в Objective-C (который у вас есть, судя по репозиторию :), хотя бы пониманием Swift, возможностью разговаривать хотя бы на ломаном английском и суммарным опытом в iOS от 2 до 100 лет :)
Напишите, пожалуйста, в скайп cv.kulikov@gmail.com (это именно скайп), если это про вас :)
Спасибо

[2017-11-21 15:35] skywinder commented on #583
🎉  Olle, you're awesome!

[2017-11-21 16:26] denis-peshkov opened #590 "Use it with GitLab"
is it possible to use it with GitLab?
if yes, pls help me how to do it...

I installed it from npm
`npm install -g github-changelog-generator`
then, can't understood how to run it using **gh-change-gen**

[2017-11-21 16:40] olleolleolle commented on #590
@denis-peshkov This is another project. That project is Node.js, this one is Ruby.

And, no, no GitLab support.

[2017-11-21 16:40] olleolleolle commented on #590
Hope this helps!

[2017-11-21 16:40] #590 closed

[2017-11-23 10:02] ferrarimarco commented on #253
@olleolleolle I had the very same issue. Could be worth in presenting a meaningful error message? Thanks

[2017-11-23 10:04] olleolleolle commented on #253
@ferrarimarco Sorry, no, the upcoming development is done using OctoKit, not github_api.

`github_api-0.12.3` was what I saw in the stackteace above.

[2017-11-23 10:07] ferrarimarco commented on #253
You're right, here is my stacktrace:

[code]

[2017-11-23 10:28] ferrarimarco opened #591 "Dockerfile and Docker automated builds"
Hi @olleolleolle

Would you mind accepting a pull request for a Dockerfile? I can also configure a Docker Hub automated build that runs on each tag (even on each commit if that is the desired behaviour).

[2017-11-23 10:54] olleolleolle commented on #591
I’d be happy to have a PR!

[2017-11-23 11:06] ferrarimarco commented on #591
Ok, I'm working on it.

How do you publish new releases on Rubygems? I need this info to think about the Dockerfile and the configuration of automated builds

[2017-11-23 11:58] ferrarimarco commented on #591
@olleolleolle here it is: #592

[2017-11-23 12:26] olleolleolle commented on #591
@ferrarimarco I use the `rake release` Rake task to make new versions?

[2017-11-23 13:07] ferrarimarco commented on #591
As soon as (and if) #592 is merged I'll configure the Docker Hub automated build if it's fine for you

[2017-11-23 13:24] ferrarimarco commented on #591
Ok I can now configure the Docker automated build. Which prefix should we use for the image?

[2017-11-23 15:05] vitalkanev commented on #590
I will add this generator to the Alternatives wiki page. :+1:

[2017-11-23 15:43] ferrarimarco commented on #591
@olleolleolle I don't have access to this repo configuration, so I cannot enable the automatic build all by myself.

Let's explore the options:

### Automated build with Docker hub

If we want to use (like previously suggested) Docker Hub for builds we should (since skywinder is a user account on GitHub and not GitHub Organization):
1. Register a new account on Docker Hub (let's call it docker-hub

[2017-11-23 16:17] olleolleolle commented on #591
Skywinder is the GitHub username of a _person_. (Hi, @skywinder!)

Perhaps the time has arrived when we must use an org?

[2017-11-23 22:08] ferrarimarco commented on #591
I know he's person :)

I created a skywinder organization on Docker Hub so everyone in that org could manage its Docker images. Otherwise we would have to share the credentials.

And yes, by creating a GitHub organization we could solve this issue.

[2017-11-26 17:44] skywinder commented on #589
здравсвуйте. английский не ломанный и опыт 10+ лет.
 напишите пожалуйста ваше предложение и что за проект вы хотите
поддерживать.
On Tue, Nov 21, 2017 at 4:38 AM nikolakulikov <notifications@github.com>
wrote:

--
---
Regards,
Petr Korolev

[2017-11-28 14:15] skywinder commented on #581
Close it in favor of #51
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure, @ksrb  👍

[2017-11-28 14:15] #581 closed

[2017-11-28 21:58] ksrb commented on #581
It would be cool to see it added but unfortunately I'm not using this project right now so I wouldn't be able to test it 😞 .

[2017-11-30 00:59] lambdafu commented on #549
@kabirbaidhya Under Linux, you can use "-o /dev/stdout" to print it to stdout.

[2017-12-04 11:29] arekkas opened #593 "Docker image does not exist on docker hub"
[code]

[2017-12-04 11:34] olleolleolle commented on #593
@arekkas This is because it isn't yet finished.

Thanks for reminding. Closing this in favor of #591

[2017-12-04 11:34] #593 closed

[2017-12-04 13:26] adrian1358 opened #594 "Docker image missing?"
Hi,

tried to install this tool a few days ago, and today I tried again and still the same issue.

So after entering the command from the docs:

`docker run -it --rm -v "$(pwd)":/usr/local/src/your-app skywinder/github-changelog-generator`

I receive:

`Unable to find image 'skywinder/github-changelog-generator:latest' locally
docker: Error response from daemon: pull access denied for skywinder/gi

[2017-12-04 13:32] vitalkanev commented on #594
Docker image is still work-in-progress. Visit https://github.com/skywinder/github-changelog-generator/issues/591 for more information

[2017-12-04 13:36] olleolleolle commented on #594
Closing in favor of #591

[2017-12-04 13:36] #594 closed

[2017-12-05 20:03] skywinder commented on #591
Hello everyone!
Make sense. Any ideas about naming?
The Same name such as github-changelog-generator?
So it seems we have to create a logo for such a big deal 😉

[2017-12-05 20:42] skywinder commented on #549
Related to https://github.com/skywinder/github-changelog-generator/issues/56

[2017-12-06 09:13] ferrarimarco commented on #591
the same name seems resonable to me :+1:

[2017-12-06 14:53] skywinder opened #595 "Move repo to organisation"
In continue of discussion in #591
https://github.com/skywinder/github-changelog-generator/issues/591#issuecomment-346703143

This project becomes very big and very sociable.
So I accept purpose to move it to organisation.

Here is a naming option:
1. ghcg
2. github-changelog-generator
3. GithubChangelogGenerator

I already book these names of organizations.
Let's a vote for naming altogether. 👍

I

[2017-12-06 14:56] skywinder commented on #545
Oops. Just found it. Fixed. 😸

[2017-12-06 14:56] #545 closed

[2017-12-06 15:01] olleolleolle commented on #545
<3

[2017-12-06 15:01] olleolleolle commented on #595
I like `2`.

[2017-12-06 15:43] ferrarimarco commented on #595
no. `1` and `2` for me

[2017-12-11 15:59] mueller-ma opened #598 "Readme: Do I need to run commands as user or root?"
Hey,
I'm unfamiliar with gem and docker, so it would be nice to add `$` or `#` (or `sudo`) in front of all commands, so everyone knows if they need to be run as normal user or as root.

[2017-12-11 15:59] olleolleolle commented on #598
Run them as normal user.

Could you make a PR with this improvement?

[2017-12-11 16:18] mueller-ma commented on #598
Also the gem command?

[2017-12-12 14:21] agisilaos opened #599 "Generator doesn't work when I run the command presented in the docs"
Hey everyone, I'm trying to run the generator so I can create a changelog file but when I run the command github_changelog_generator - u user -p project I get this weird error message. Any ideas why this might happen? 🤔

<img width="1368" alt="screen shot 2017-12-12 at 16 17 22" src="https://user-images.githubusercontent.com/10944108/33889318-61f38ebe-df58-11e7-8968-a1f29048f4c4.png">

<img width=

[2017-12-12 15:28] olleolleolle commented on #599
Short answer: the README describes the upcoming version. 1.14.x had a different behavior.

For 1.14.x:

To generate a changelog for Project foo by user sven: instead of “-p foo -u sven” write “sven/foo”.

[2017-12-13 18:14] agisilaos commented on #599
Wow, I'm not so sure how I missed that because I read the docs, thanks for answering so quickly @olleolleolle and sorry for opening such a "lame" issue. 😢  Issue has been sorted out 👍

[2017-12-13 18:14] #599 closed

[2017-12-13 18:26] olleolleolle commented on #599
@agisilaos Thanks for asking, and don't be sorry. Your screenshots were clear, you did all you could. The next person will be able to find this conversation and learn. You left this thing better than you found it.

[2017-12-13 20:54] olleolleolle commented on #598
Fixed in #602 - thanks!

[2017-12-13 20:54] #598 closed

[2017-12-14 15:03] lttb opened #604 "since_tag with unreleased tag unexpected behavior"
Hi! Thank you a lot for this tool.

I faced with this kind of problem when you set a `since_tag` that has not been released yet.
It starts to generate changes from the first tag then.

It looks like that we don't need to generate anything if that tag is unreleased/undefined

[2017-12-15 05:16] DevinWalker commented on #56
Putting my vote out there that this would be great to see implemented 👍

[2017-12-15 05:21] DevinWalker commented on #56
This a pretty neat tool that perhaps this project can take notes from: https://github.com/github-tools/github-release-notes

[2017-12-20 01:44] dpieri commented on #365
Here's a similar problem:

All of our tags are on Master. Often we have long lived feature branches that will have multiple PRs against them (breaking up the feature into multiple PRs so that the discrete PRs are easier to review). When the feature is done it finally gets merged into master via a final PR.

With the current version of github_changelog_generator those incremental PRs (which are not

[2017-12-30 13:08] BazookaJoe1900 opened #609 "Is there way to list referenced but not closed issues?"
In my repo I (try) to make a reference to an issue(s) in every commit I am doing.
by using 'refs #xxx' or 'closed #xxx' on the commit message itself, it very useful and make sure that every commit has a 'father', a reason to be done.
sometimes version should be generated and not all the referenced issues are closed.
Adding a section that go over the commits, and finds thus references, and adding a

[2017-12-30 13:24] BazookaJoe1900 commented on #489
is that related to #609 [Is there way to list referenced but not closed issues]?

[2017-12-30 14:10] matanhavi commented on #252
any news on that?

[2017-12-30 14:10] BazookaJoe1900 commented on #252
any news on that?

[2018-01-03 07:17] kavanat opened #612 "Library for windows environment"
How can we use this library for windows environment?

[2018-01-03 07:41] olleolleolle commented on #612
You install the gem, make sure Ruby's `bin` directory is on path (a Windows installer for Ruby ought to be able to help with that), and then call the executable from a Command Prompt (aka a terminal window).

[2018-01-10 14:45] zoff99 opened #613 "add ability to use wildcard in "exclude-tags" commandline option"
now
[code]
does not work. can you add the ability to use wildcards (or regex if that is easier) ?

[2018-01-10 14:46] zoff99 commented on #613
i have to do something like this
[code]
which is not nice. also i do not know if this will work if the number of tags grows too large

[2018-01-11 04:51] ScGPS opened #614 "[Requirement] Need add date format"
Hi,
I want to get every issue date, not only list.
like
**Closed issues:**
+ 2017-12-21  #1 test models (#1)
+ 2017-12-20  #2 [Test API] Paramters(Response)  (#2)
**Merged pull requests:**
+ 2017-12-21  \[bug\] Resources \> Parameters, delete query string [\#3]

not
**Closed issues:**
+ 2017-12-20  #1 [Test API] Paramters(Response)  (#1)
+ 2017-12-14  #2 [Test API] Paramters(Request) (#2)
**Merged

[2018-01-11 09:10] ferrarimarco commented on #595
hi all, any updates on this? 😄

[2018-01-14 20:41] JacobEvelyn commented on #580
I'm running into the exact same issue with `github_changelog_generator 1.14.3`. In my [`friends` gem commit list](https://github.com/JacobEvelyn/friends/commits/master) I just added commit `ed54d60` (new rebased version: `f49cb49`) as the only change in version 0.35 of my gem. However, because I guess I started working on that change before version 0.34 was released and I rebased before merging, m

[2018-01-15 16:47] pociej commented on #560
+1

[2018-01-20 13:44] peppy opened #615 "Specifying since-tag on a PR merge commit can cause that PR to be included"
When specifying a `since-tag` that corresponds to a PR merge commit (where the ref of the tag and the merge commit are equal) the PR is unexpectedly included in the changelog.

Tested on latest pre-release build using

`github_changelog_generator -u ppy -p osu-framework --since-tag changelog-20180120 --max-issues 500 --no-issues --release-branch master`

note that the state of this repository may

[2018-01-26 17:08] hunner opened #617 "Some PRs logged for the wrong releases"
1f68ef8 causes many PRs to be logged in the changelog incorrectly.

One problem caused by this this is because the `merged_at` date (on github's PR api) can be 1+ seconds later than the merge commit date because the PR is closed after the merge commit is pushed. This matters because if the merge commit of a PR is the tagged SHA then that PR is considered part of the next release (it's merged_at ti

[2018-02-13 17:47] ekohl commented on #617
Isn't this a duplicate of https://github.com/skywinder/github-changelog-generator/issues/497?

[2018-02-13 18:12] hunner commented on #617
@ekohl I think that evaluating the git history solely on timestamps is leading to several weird behaviors. We can't change that for issues (maybe milestones are best for those) but can use the actual git history for PRs. I am taking a stab at this in #619

[2018-02-15 12:34] riuvshin commented on #591
still no automated build for github-changelog-generator ?

`docker run -it --rm -v "$(pwd)":/usr/local/src/your-app skywinder/github-changelog-generator` fails beacuse there is no such image :)

[2018-02-16 18:25] hunner commented on #617
For reference, this was from #504 but also predated that.

[2018-02-16 21:41] hunner commented on #613
You can use `--exclude-tags-regex`

[2018-02-16 21:47] hunner commented on #604
It appears that this is the intended behavior dating all the way back to when `--since-tag` was introduced in 32f4df57
It does seem that it is not useful to continue to generate the *entire* changelog because a tag is missing. Only a warning is raised currently; perhaps it should error instead.

[2018-02-16 22:26] hunner commented on #580
@AlexWayfer There appears to be something amiss...

- The commit that you point out occurs directly following the v4.18.1 tag (https://github.com/AlexWayfer/flame/commit/e34118f) does not appear to be related to any pull requests according to github's api (https://api.github.com/repos/AlexWayfer/flame/commits/e34118f). That commit may have been pushed to the repository outside of Github's pull req

[2018-02-16 22:36] hunner commented on #580
@JacobEvelyn Yours looks similar; https://api.github.com/repos/JacobEvelyn/friends/pulls/187 `merge_commit_sha` is https://api.github.com/repos/JacobEvelyn/friends/commits/a337549 and merged `ed54d90`. Your `git-redate` changed the git SHA and decoupled it from the api PR history.

The first suggestion to base changes on git history rather than merge times is implemented in #619 and may work bette

[2018-02-17 05:36] #604 closed

[2018-02-17 11:37] AlexWayfer commented on #580
@hunner, thank you. That's strange. I really rarely use force push to `master`.  But maybe something went wrong…

Can this be checked by `github-changelog-generator`? Via GitHub API or `git`. But I see:

, and I think the answer is "no".

It's very sad.

Sorry if this commit's mess was my fault.

[2018-02-21 10:41] hasufell opened #625 "Tag messages are ignored"
Unless I missed something it looks to me like git tag messages are completely ignored. Tags are currently only used to determine release version number, date and so on.

Tag messages provide additional summarization of changes, that are not necessarily reflected by just PRs and may explain the purpose of the release.

[2018-02-21 10:42] olleolleolle commented on #625
Interesting suggestion. Does the GitHub API present Git tag messages in any way? Please do investigate!

[2018-02-21 22:13] hasufell commented on #625
https://developer.github.com/v3/git/tags/

[2018-03-07 21:41] hunner commented on #580
@AlexWayfer @JacobEvelyn I added a "rebased commit: <SHA>" ability to #619 to be able to track PRs that are merged with modified SHAs with GCG \o/

[2018-03-08 00:17] AlexWayfer commented on #580
@hunner, thank you! 👏

[2018-03-08 04:56] lindydonna opened #629 "Version in master branch hangs on MacOS"
I did the following:
- Pulled down the master branch
- Ran `gem build github_changelog_generator && gem install *.gem`
- Ran `github_changelog_generator` as usual

The `--help` command works, but actual usage just hangs at the `Using these options:` step. See full output below.

I'm very new to Ruby (learning it on the fly so I could use the change in  https://github.com/skywinder/github-changelog

[2018-03-09 10:16] ArtieReus commented on #629
@lindydonna  did you tried to run it from a docker container? then you are free of strange dependencies or incompatibilities...
https://github.com/sapcc/elektra/blob/master/contrib/elektra-changelog-builder/Dockerfile

[2018-03-15 20:12] h3xstream commented on #585
@onqtam is probably refering to hardcoded path that refer to unix specific `/tmp` folder.

## Stacktrace
[code]

## Workaround

Create a folder `C:/tmp/`

[2018-03-15 20:16] h3xstream commented on #585
Location of the bug :

https://github.com/skywinder/github-changelog-generator/blob/1dc33e3005ef682ce9be459196c9c51a2c17c24e/lib/github_changelog_generator/parser.rb#L221-L224

[2018-03-16 17:48] ShahBinoy opened #630 "Manual evaluation of bugfixes and enhancements from Commit message"
If we are not using Github Issues to track our issues.

Is it possible to extract the bugfix information from commit messages instead of Issue Labels

eg. `--bugfix-message-label-regex` so that it picks bugs based on regex patterns in commit message.

[2018-03-19 21:02] c33s opened #631 "filename & directory names maybe should a little bit shorter"
[code]

[2018-03-20 01:22] rkpatel33 commented on #244
Getting the same error when creating a release for an Electron project using `electron-builder`. Unfortunately this a private repo and I can't share it, but its created using the github API.

![image](https://user-images.githubusercontent.com/3799489/37630553-74c4cf58-2ba2-11e8-9a5e-73a52172a723.png)

[2018-03-20 06:53] olleolleolle commented on #631
Thanks for reporting.

This is a VCR issue. We’re auto-naming these.

Perhaps there’s a way to avoid making long names!

[2018-03-22 02:14] liuxuan30 opened #632 "Can we exclude closed Requests"
Hi there,

We have been using this for a long time. But our changelog.md keeps going, and I found many of them are closed issues, which we don't want to include:https://github.com/danielgindi/Charts/blob/master/CHANGELOG.md

I checked the -h options, there are no one to exclude closed issues. Is there anyway to simplify the change log?

[2018-03-22 07:55] olleolleolle commented on #632
@liuxuan30 One of the ways is to create a GitHub Label, and tag the closed issue with _that label_ in order to exclude it from the generated changelog. The tool has such an option (in a newer release, _perhaps_ even only on `master` - if you can use a `Gemfile` and specifically install the `master` version from git, you'll be using latest):

[code]

[2018-03-22 19:21] ShahBinoy commented on #630
@olleolleolle Any thoughts on this?

[2018-03-23 01:04] liuxuan30 commented on #632
ah, @olleolleolle Thanks for the information!

[2018-03-23 01:04] #632 closed

[2018-03-23 01:44] liuxuan30 commented on #632
@olleolleolle sorry to ask, is this default lags a feature of 1.15 release? Seems it's still in beta so gem update won't work. Any idea when 1.15 will be released?

[2018-03-23 05:44] olleolleolle commented on #632
Perhaps you can update with “gem install” with the long option `pre` (“minus minus pre”, I’m typing on a phone). `gem -h` could have information on this. I hope this helps.

[2018-03-27 07:29] TAGC opened #633 "Updating to v1.15.0-rc requires --user and --project"
I initially installed the latest stable version of this library (v1.14.3) and was able to have it automatically figure out my username and project. However, after updating to the v1.15.0-rc, running it generates the following output:

[code]

Is it now a requirement to explicitly specify these things, or did I do something wrong?

[2018-03-27 08:01] olleolleolle commented on #633
@TAGC You're right, this is a feature that got removed.

For the GitHub project `weyland-yutani/alien-species-test1`, the invocation is:

[code]

[2018-03-27 08:01] olleolleolle commented on #633
(You can use the file-based configuration to store these settings, too.)

[2018-03-27 08:05] TAGC commented on #633
Ah okay, thanks.

[2018-03-27 08:05] #633 closed

[2018-03-27 21:26] ojongerius commented on #591
Hey there! Any luck with this work? There is an image, https://hub.docker.com/r/skywinder exists. Just a matter of adding this repository, no?

[2018-03-28 07:01] olleolleolle commented on #591
@ojongerius Would you care to put those words into a PR to the README?

[2018-03-28 07:43] ferrarimarco commented on #595
Hi @skywinder @olleolleolle any news on this task?

[2018-03-28 07:55] ferrarimarco commented on #591
@ojongerius https://hub.docker.com/r/skywinder was created before #595
It will be deleted in the coming days (otherwise @skywinder would have his username already taken on Docker Hub).

[2018-03-28 08:05] ferrarimarco commented on #591
@olleolleolle @skywinder if we want to move ahead before #595, we have some alternatives (but let's wait for the deletion of skywinder organization I asked today):
1. @skywinder could register an account on Docker Hub, create a github-changelog-generator repository and grant me access to it as a collaborator to that repo and to the Travis build so I can set things up
1. I could setup a Docker Hub

[2018-03-28 08:20] olleolleolle commented on #591
@ferrarimarco Do you want to shepherd the Docker parts? Welcome! Awesome. 2 is a good option, then!

[2018-03-28 10:21] ferrarimarco commented on #591
@ojongerius @riuvshin you can use https://hub.docker.com/r/ferrarimarco/github-changelog-generator/

[2018-03-28 10:26] ojongerius commented on #591
@ferrarimarco could you please update the README to use that url instead of the current broken link?

[2018-03-28 10:28] ferrarimarco commented on #591
there is a PR for that #634

[2018-03-28 11:22] #591 closed

[2018-04-01 04:44] olleolleolle commented on #558
Closed in #636! Thanks!

[2018-04-01 04:44] #558 closed

[2018-04-05 02:25] #617 closed

[2018-04-06 17:00] ferrarimarco opened #638 "Closed issues reported under the wrong milestone"
Hi @skywinder @olleolleolle
I don't know if I'm missing something here, but in one of my changelogs some issues are reported under the wrong milestone (the `--[no-]filter-by-milestone` option makes no difference):

Project: https://github.com/scissor-project/open-scissor

Some examples of wrongly-filed issues:
- Issue 1: created 2017-10-27, closed 2018-01-22, filed under 2.0.0 milestone, appears u

[2018-04-07 00:03] skywinder opened #639 "Automatically generate a changelog based on merge request"
A cross-link to issue in gitlab:
https://gitlab.com/gitlab-org/gitlab-ce/issues/15345

Let's think, how to help it work smooth together.

[2018-04-12 06:52] szszszsz commented on #586
Hi!  First of all, great tool! I was very satisfied with its output.

Any updates in the matter of this issue? I have encountered it too, including official Docker image.
I have done own build from source in a container on both 16.04 and 17.10 with the same effect. Used commit: https://github.com/skywinder/github-changelog-generator/commit/0b013f44f8db76ce50a1315e1c1d51f94aae45fe (current master).

[2018-04-12 15:39] hunner commented on #497
#619 fixes this for PR merge detection but doesn't fix it for the generated diff links. Something like https://github.com/skywinder/github-changelog-generator/pull/619#issuecomment-370598725 would be needed.

[2018-04-12 21:36] hunner commented on #615
This may be fixed in master now.

[2018-04-12 21:37] hunner commented on #560
This may be fixed in master now.

[2018-04-12 21:38] hunner commented on #580
Merged. I've used it a surprising amount of times. Sometimes the github API just loses track of merge commits of older PRs too. I don't know why.

[2018-04-12 21:45] hunner commented on #633
For reference #451

[2018-04-13 07:07] metalcamp commented on #639
@skywinder sit-rep? Do you need any help with this particular feature?

[2018-04-13 07:07] paulfantom commented on #56
I wrote a shell wrapper to integrate github-changelog-generator, semver and chandler and I'm gonna leave it here: https://github.com/cloudalchemy/ansible-prometheus/blob/master/.travis/auto.sh

[2018-04-13 07:08] #638 closed

[2018-04-14 14:44] paulfantom opened #642 "Issue closed with github keyword seen in wrong place"
### Problem:
After merging PR which closes an issue and tagging this with `git tag` issue lands in "Upcoming" section of changelog and PR is in tagged one.

### Steps taken:
1. Create issue ([example](https://github.com/cloudalchemy/ansible-prometheus/issues/90))
2. Create PR and link it to issue with github keyword like `related` ([example](https://github.com/cloudalchemy/ansible-prometheus/pull/

[2018-04-15 12:40] skywinder commented on #51
Kinda of ideas/update:

https://github.com/omniauth/omniauth-saml/blob/master/CONTRIBUTING.md#git-commit-conventions

I like the way of typing commits this way. I think in first iteration we can support this format.

[2018-04-15 12:41] skywinder commented on #51
## Git Commit Conventions

We use git commit as per [Conventional Changelog](https://github.com/ajoslin/conventional-changelog):

[code]

Allowed types:

*   **feat**: A new feature
*   **fix**: A bug fix
*   **docs**: Documentation only changes
*   **style**: Changes that do not affect the meaning of the code (white-space, formatting, missing semi-colons, newline, line endings, etc)
*   **refacto

[2018-04-15 12:52] skywinder opened #643 "Mention about our tool with feature requests"
Found similar project with detailed explanation of "problems":
https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli#problems-with-github-changelog-generator-or-similar-projects

- [ ] Opinionated on how to write commits, issues or PRs.
- [ ] No or partially support reference links.
- [ ] Not system agnostic. Only support GitHub.
- [ ] No

[2018-04-15 12:58] skywinder commented on #492
Cool, @Lucashuang0802
Feel free to reopen the issue, if you still need help. 👍

[2018-04-15 12:58] #492 closed

[2018-04-15 13:01] skywinder commented on #595
Hey, @ferrarimarco , @olleolleolle

Let's move on. We are the best! 🥇

p.s. it's great numbers on the repo to do that 😸 4.4k ⭐️  + 444 🍴
![image](https://user-images.githubusercontent.com/3356474/38778696-28f291ee-40c6-11e8-8994-6a2974591967.png)

[2018-04-15 13:29] skywinder commented on #595
Done! Hello, @github-changelog-generator ! 🎉
![image](https://user-images.githubusercontent.com/3356474/38778959-132aa672-40ca-11e8-98cb-39770baf7f9e.png)

[2018-04-15 13:29] #595 closed

[2018-04-15 13:33] skywinder commented on #595
Now we need to make a logo for the organisation 😉

[2018-04-15 13:47] skywinder commented on #639
@metalcamp it would be awesome!
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2018-04-15 21:24] skywinder commented on #629
@lindydonna is this issue still actual?

[2018-04-15 21:32] skywinder commented on #565
Hi, @GCC-Autobot , @jordanbrauer .
Sorry for the very late reply.
This issue could be solved by tagging of one of the issue (or PR) by label that gcg ignore by option `--exclude-label`. (you can use one of default  (such as `duplicate,question,invalid,wontfix` or create your own.

Some of the PR's close multiple issues, some of them siple references to other issues or close them as aside effect.

[2018-04-15 21:33] skywinder commented on #582
Feel free to reopen the issue, if you still need help. 👍

[2018-04-15 23:26] srizzling commented on #316
with regards to this. I would like to add a section that has some list of artifacts (AMIs) in my case attached to each release. Is there someway I can add that?

[2018-04-16 19:34] skywinder commented on #316
@srizzling Yep. It's a super cool and most required feature.

I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2018-04-16 19:54] skywinder commented on #588
Hi! Let's come back to this update. Seems #627 will fix this. @ferrarimarco can you kindly check, is that PR do, what you mean above?

[2018-04-16 19:57] lindydonna commented on #629
@skywinder I didn't try out the docker container, and I'm actually no longer using this tool, unfortunately. I had some very particular requirements, since I had to generate a changelog for multiple repos but integrate them together, so I had to write my own tool :(. I'll close this.

[2018-04-16 19:57] #629 closed

[2018-04-17 07:00] ferrarimarco commented on #588
I'll give it a shot later today :)

[2018-04-17 07:27] ferrarimarco opened #644 "Configure a Docker Automated build"
Hi all.

Let's track the requirements of this feature (now scattered across various PRs and issues).

# Background

1. I opened #591 (Dockerfile and Docker automated builds)
1. #595 (Move repo to organization) was created but took a bit to complete
1. In the meantime #591 was closed by #634 (Remove Docker bits) because I (temporarily) moved the GHCG Docker image under the `ferrarimarco` Docker Hub

[2018-04-17 07:29] olleolleolle commented on #644
Smart use of dependabot!

[2018-04-17 14:17] LulzAugusto opened #645 "Why does it fetch everything even when using --since-tag?"
Hey, I work on a kinda large project and I wanna integrate this tool with our release process. The problem is that it takes one run to reach the API limit and it seems that even using parameters like `since-tag` it still shows `fetching all the 800+ tags`. Is this something I can help with maybe or is there a reason for it to work like this? I really think we can make it more useful by focusing on

[2018-05-02 11:45] medbenmakhlouf opened #647 "couldn't generate changelog for organization repos"
Hi All,

I am trying to use this tool to generate changelog for a repository  created under organization but it wouldn't work. could you please guide me how can I solve this ?

thank you so much for your help.

[2018-05-02 20:43] hunner commented on #647
Hi,

Could you provide some details about what you're trying to do?

[2018-05-07 08:37] medbenmakhlouf commented on #647
Hi @hunner ,

thanks for your response, I figure out by :
- using Organization Name as username
- add token to the command.

it works really fine.

thanks and I am going to close the ticket.

[2018-05-07 08:37] #647 closed

[2018-05-07 09:54] ArtieReus opened #649 "New Release"
Hi there,
there is any plan to roll out a new release? Last one is from October 2017.

Best,
Arturo

[2018-05-08 13:24] ArtieReus opened #651 "process stucks/hangs and the memory usage increases up to 4.6Gib"
Hi again,
i was very happy to know that my pull request #616 got merged a few days ago so I could get rid of my fork. Sadly I figured out that using the last state of the repo the process stucks/hangs and the memory usage increased to 4.6Gib.

![bildschirmfoto 2018-05-08 um 13 35 17](https://user-images.githubusercontent.com/1876079/39758981-b1289f00-52d1-11e8-8932-6739d3f92501.png)

So I decided

[2018-05-11 16:42] rroepke opened #652 "More instructions on how to use it with docker"
Hi,

I need more instructions to run it with docker.

The command given is:

`docker run -it --rm -v "$(pwd)":/usr/local/src/your-app ferrarimarco/github-changelog-generator`

where I guess my repo should be in the folder /your-app/ right?

But how do I actually run it?

Any help would be good :-) thank you

[2018-05-11 21:31] hunner commented on #651
That's not great. I am able to replicate this with `bundle exec ./bin/github_changelog_generator --user sapcc --project elektra` on the current master (7fe9adb7439ae6468dc487e4273637ac568280bd). `du -sh` says the repo is 29M cloned on-disk.

The repo has 59 closed issues, 199 closed PRs, and 4617 commits.

I `^C`d when the memory usage was ~3G and got this stacktrace:
[code]

I removed the threadi

[2018-05-12 07:12] #652 closed

[2018-05-14 07:42] ArtieReus commented on #651
Thx for the root cause analysis!

[2018-05-15 16:51] hunner commented on #651
@ArtieReus If the fix in #653 fixes the issue for you I'd love to know!

[2018-05-15 21:17] ArtieReus commented on #651
@hunner let me try the fix against my repo tomorrow and I will post the results. Thx

[2018-05-16 07:08] ferrarimarco commented on #644
@skywinder @olleolleolle did you have the chance to think about this?

[2018-05-16 08:53] ArtieReus commented on #651
@hunner I test the fix #653 and it works good against the elektra repo. It takes a bit longer than before (before it is meant status from end of january), but it works through:

    Done!
    Generated log placed in ///host/CHANGELOG.md

    real	2m21.545s
    user	0m0.245s
    sys	0m0.096s

System usage is around 800Mib which is a bit but ok:
![bildschirmfoto 2018-05-16 um 10 48 29](https://user-

[2018-05-16 09:07] #651 closed

[2018-05-20 04:16] mattfidler commented on #244
I am getting similar issues  here:

https://github.com/nlmixrdevelopment/nlmixr/releases

It is a public repo;  I tried adding/editing tags but it just cluttered it further.

[2018-05-25 00:58] felker commented on #629
I also have this issue on macOS. I am not very familiar with Docker so I have been unable to test it there, but I could try it with some guidance.

[2018-05-25 01:13] felker commented on #629
Also, this issue occurs with `1.15.0.pre.rc` but not with `1.15.0.pre.beta` for me.

[2018-05-26 14:43] boydkr opened #656 "Triggering Github Rate limits"
I'm getting a whole load of these when trying to run the changelog generator now:
[code]

We have been using this for several months, and it just started happening with our latest release

[2018-05-28 21:50] antenore commented on #656
Same here

[code]

Repository: FreeRDP/Remmina

It was already fixed in #406 but it looks like it's not a regression. More like @github limiting access

[2018-05-28 21:56] antenore commented on #656
Wait... My version is toooooooo old.

[2018-05-28 22:43] antenore commented on #656
ok, same issue with ```Version: 1.15.0-rc```

[2018-05-30 06:32] olleolleolle commented on #656
@boydkr As a diagnostic question: are you using a GitHub personal token to run the program? https://github.com/github-changelog-generator/github-changelog-generator#github-token

[2018-05-30 14:39] boydkr commented on #656
Yes, it blows up way sooner if you don't.

The changelog is being partially/mostly generated despite the rate limiting in our case.  I think it varies depending on how quickly the rate limit is hit.

[2018-05-31 05:37] #588 closed

[2018-06-01 14:04] LulzAugusto commented on #645
Anyone? 🙏

[2018-06-06 08:31] githubvinod opened #658 "Not generating CHANGELOG.md"
Not generating CHANGELOG.md

{:tag1=>nil,
 :tag2=>nil,
 :date_format=>"%Y-%m-%d",
 :output=>"CHANGELOG.md",
 :base=>"HISTORY.md",
 :issues=>true,
 :add_issues_wo_labels=>true,
 :add_pr_wo_labels=>true,
 :pulls=>true,
 :filter_issues_by_milestone=>true,
 :author=>true,
 :unreleased=>true,
 :unreleased_label=>"Unreleased",
 :compare_link=>true,
 :enhancement_labels=>["enhancement", "Enhancement"],

[2018-06-06 18:23] olleolleolle commented on #658
This Windows Issue has been fixed in the “pre” version.

[2018-06-06 18:46] hunner commented on #645
tl;dr the github api only supports fetching all tags afaict.

---

The API method used to fetch tags is the Repository#tags method at https://github.com/github-changelog-generator/github-changelog-generator/blob/24a1b457877581182cf9f9a189f90ab33c73b472/lib/github_changelog_generator/octo_fetcher.rb#L111-L113

This API method does not take any filtering options that I am aware of, according to http

[2018-06-07 08:41] githubvinod commented on #658
Thanks for quick response.it worked for me.
Need one more help from your side.Am getting **Merged pull requests** only, need commits message along with pull requests.
# Change Log

## [Unreleased](https://github.com/githubvinod/devlhealthcareguy/tree/HEAD)

[Full Changelog](https://github.com/githubvinod/devlhealthcareguy/compare/2018-4-1...HEAD)

**Merged pull requests:**

- Add Staticman data [\

[2018-06-07 08:46] olleolleolle commented on #658
@githubvinod Glad to hear that it worked. 🎉

This is a feature request, not related to this Issue. I'll close this Issue.

[2018-06-07 08:46] #658 closed

[2018-06-07 11:13] SaveTheAles opened #659 "--exclude-tags-regex doesn't work correct"
Hi! I'd like to exclude minor versions from my changelog.

this is a flag what I use with `--exclude-tags-regex ".*\..*\..*\..*"`

but
`Warning: unable to reject any tag, using regex nil in --exclude-tags option.`

What can I do with it?

[2018-06-07 11:39] githubvinod commented on #658
ok...Thanks for your support.

[2018-06-07 11:45] githubvinod opened #660 "Commits messages"
Generated CHANGELOG.md, but it shows only Merged pull requests, shall I get git commits message along with Merged pull requests. Generated  CHANGELOG.md content below :

# Change Log

## [Unreleased](https://github.com/githubvinod/devlhealthcareguy/tree/HEAD)

[Full Changelog](https://github.com/githubvinod/devlhealthcareguy/compare/2018-4-1...HEAD)

**Merged pull requests:**

- Add Staticman data

[2018-06-11 16:20] Skeyelab commented on #656
Think this has anything to do with the Microsoft acquisition? Timing seems to correlate.

[2018-06-12 15:24] tphoney commented on #649
Any timeline of getting this merged and released ?

[2018-06-14 08:24] talend-jphautin commented on #586
hello,

Thanks for this tool.

I am not a ruby user and do not wanted to install all the ruby stufff so I am using the docker image provided by ferrarimarco.
Running it it found the repository, fetch the tags and then it facing the same issue.
reproducing is quite simple with the image, unfortunately.

[2018-06-15 16:36] Skeyelab commented on #656
I've noticed if I close the GitHub Desktop application and VS Code and run this from a basic terminal, it seems to work better.  Maybe those clients are sending some calls to the API, causing overages?

[2018-06-18 19:56] NathanUrwin opened #662 "Use markdownlint"
https://github.com/markdownlint/markdownlint

[2018-07-10 12:21] ekohl commented on #313
My use case for this is that we have an external issue tracker. That means we pretty much want to do `output.gsub(/(fixes|fixing|refs) #(\d+)/i, '\1 [#\2](https://tracker.example.com/\2]')`. Has there been any progress on this?

[2018-07-11 22:29] dman776 commented on #614
+1

[2018-07-19 21:11] sooknarine opened #663 "Latest docker image hanging"
We're trying your github-changelog-generator and appreciate the work you've put into it!  Friendly heads up - the latest docker image appears to be hanging.  The previous 1.14.3 works, though.

This hangs:  `docker run -it --rm -v "$(pwd)":/usr/local/src/your-app ferrarimarco/github-changelog-generator:latest -u skywinder -p ActionSheetPicker-3.0`

This works:  `docker run -it --rm -v "$(pwd)":/us

[2018-07-20 09:44] rparcus opened #664 "Will this work on gitlab as well?"
Or is there any intention of supporting the feature?

[2018-07-23 14:13] david22swan opened #665 "Error when run against module with a second module merged into it."
The changelog generator rake task seems to throw an error whenever it is run against a module that had previously had a separate orphaned module merged into to it. The error it shows is:

[code]

Encountered this problem when starting a new release on the puppetlabs-stdlib module. Here is a link to my fork of said module and the branch that the changes currently exit on:

https://github.com/david2

[2018-07-25 21:31] alicon commented on #663
Same issue here

[2018-07-31 13:46] arturalbov commented on #663
I've got same issue

[2018-08-04 11:54] 304NotModified commented on #585
even with a c:/tmp I get the same error (Windows 10 x64)

All users has write access tot c:/tmp

[2018-08-10 13:11] RareScrap commented on #458
@ceddlyburge Thank you!

[2018-08-15 13:35] kujenga opened #668 "Hang on pretty print of options in 1.15.0-rc"
I just tried out the latest release candidate, and it seems to hang when pretty printing the options. I run the program and it just sits there, seemingly doing nothing.

When I comment out this line, which the stacktrace points to, the program continues as expected for me: https://github.com/github-changelog-generator/github-changelog-generator/blob/72452a1315e1126f3468069ff7d4dfbcefe71ab2/lib/git

[2018-08-15 13:54] kujenga commented on #668
This may be a duplicate of https://github.com/github-changelog-generator/github-changelog-generator/issues/663

[2018-08-17 19:17] Furtif opened #669 "Encore!"
:bug_prefix=>"**Fixed bugs:**",
 :deprecated_prefix=>"**Deprecated:**",
 :removed_prefix=>"**Removed:**",
 :security_prefix=>"**Security fixes:**",
 :http_cache=>true,
 :require=>[],
 :user=>"Rocketbot",
 :project=>"Account-Manager",
 :token=>"hidden value"}
Command exited with code 1

[2018-08-18 19:35] #669 closed

[2018-08-20 06:55] dongpil commented on #663
Same issue here

[2018-08-20 22:45] josephbhunt opened #670 "Is there an option to prevent the changelog from showing links to PRs?"
I would like to have a changelog that does not show links to the PRs. Is there a way to do this?

[2018-08-21 18:00] josephbhunt opened #671 "invalid byte sequence when using --base option"
I'm trying to append to the existing change log (CHANGELOG.md). I need to be able to do this because  we want to add manual changes (not related to PRs or issues or anything on github) in between the regular github stuff.

So the process would be 1. Generate a CHANGELOG.mg. 2. Manually add some more content to CHANGELOG.md. 3. Run the generator again and append the new changes to CHANGELOG.md.

Wh

[2018-08-27 07:33] ferrarimarco commented on #663
@sooknarine is this happening with the non dockerized 1.15.0-rc?

[2018-08-28 02:04] sooknarine commented on #663
@ferrarimarco unfortunately I've changed roles and no longer have access to the system that used your tool :( Perhaps @alicon or @arturalbov can try the non dockerized 1.15.0-rc?

[2018-08-29 11:09] ignazioc opened #672 "Any suggestion about _when_ running this scrip?"
I love this tool, it's saving me so much time but I didn't figured out yet when it's the best moment to run ti.
I'm using gitflow and I run this script when I create a release candidate branch.
The result is that all the new PR/Issues are marked as `Unreleased`

I also tried to run it directly on `master` after that `develop` is merged. This is not always possible for policy reasons and may requir

[2018-09-04 08:42] josesimoes opened #673 "generate changelog from two repos"
Hi,

At nanoFramework we are running a project that has several repos. Because the issues usually touch more than one project, we have them centralised at the Home repo. The usual development workflow occurs in the individual repos (PRs, merges, etc)
When generating the change log for one of the repos we would like to use the PRs and tags from the "self" repo _and_ link to the issues that are on t

[2018-09-04 08:47] olleolleolle commented on #673
Short answer: No.

[2018-09-04 08:47] #673 closed

[2018-09-05 03:06] skywinder commented on #673
hi, @josesimoes there was similar issues about this case.
Here is
1) a several difficulties with automatic parsing and merges issues from forked repos
2) logically the correct case to generate history since the fork.

But it could be possible to put previous history changelog part as prefix. here is very old and wanted feature.  #213 I believe that what you need and will help you. feel free to +1

[2018-09-05 03:07] skywinder commented on #673
related with #472

[2018-09-05 03:08] skywinder commented on #673
and dup of #252

[2018-09-05 03:56] skywinder commented on #672
I have a script that bumps versions and updates changelog according to git-flow scheme.
You can check, how it's implemented here: https://github.com/skywinder/bumper_pusher

It looks pretty ugly (since it was my second project on ruby, but the main idea is straightforward)
https://github.com/skywinder/bumper_pusher/blob/8b6a2f8fb25237da3757b88dcad35cc7cb1f6b24/lib/bumper_pusher/bumper.rb#L346

[2018-09-05 08:08] josesimoes commented on #252
I up for this feature too.
Second option on the log layout is preferable. But having the possibility to add labels (to the configuration file categories) from two (or more) repos and combining those on a single changelog output would be awesome!

[2018-09-05 08:09] josesimoes commented on #673
Hi @skywinder ! Thanks for looking into this. I believe it's more with #252 than with forked repos.
I've added my comment there as upvote.

BTW, great work you guys have done here! 👏

[2018-09-11 01:00] weitony111 commented on #585
@304NotModified Please try to create the `tmp` directory under your current working directory or root folder of your current drive.

[2018-09-18 18:36] espears4sq commented on #565
Another aspect of this which is confusing from the options is whether or not I can filter PRs by labels (not only issues). For example, suppose I work in a monorepo, where PRs and issues can apply only for some teams and not for others.

I want to generate a changelog between two commits, but I only want to include PRs that have a certain label (to make them relevant for my team). Based on the doc

[2018-09-18 19:44] espears4sq opened #674 "How to generate a changelog for a repo that will never have any tags or releases."
I work in a large repo shared by multiple projects. The repo will never have any tags or releases. Creating releases is never a part of the workflow for any teams sharing the repo. It's just a long-lived series of commits, PRs and issues. And many issues and pull requests are not relevant for my team, only the ones with specific labels.

How can I generate a changelog between two commit IDs that i

[2018-09-18 19:54] espears4sq commented on #172
@skywinder The original quote for this issue asks for the feature to work between commits, but it seems that this only works between tags (at least when I use `--between-tags` and provide commit hash IDs, it always says it cannot find them).

Is there a way to do this between any two arbitrary commits, even if they have no relationship to any tags? It would be fine if assumptions need to be made a

[2018-09-18 21:48] espears4sq opened #675 "How to specify different remote besides origin?"
When working with forks of primary repos, sometimes it is important to create a changelog for the fork even though you are working inside a close which has origin configured for the primary repo.

How can a user specify which remote should be used instead of origin?

[2018-09-20 07:03] #668 closed

[2018-09-20 12:36] #582 closed

[2018-09-21 07:18] olleolleolle opened #678 "[DOC] Explain new Labels and Summary Section support in README"
Update README.md

- with **new labels support** and
- examples of usage of summary section

See #654

[2018-09-24 04:29] olleolleolle commented on #678
Thanks, this is a good start, would you begin a PR with that content? (I can't copy-and-paste the raw Markdown from here.)

[2018-09-24 04:30] olleolleolle commented on #678
Actually, I _can_ see the raw Markdown!

[2018-09-24 05:12] mob-sakai commented on #678
Thanks for your PR!

[2018-09-24 07:15] #678 closed

[2018-09-24 07:18] olleolleolle opened #681 "[ci] Configure a CircleCI 2.0 configuration"
This Issue is about **updating the CircleCI configuration** to a **non-deprecated** version.

This guide is about updating from 1.0 (default) to 2.0 (configured using a `.circleci/config.yml` file): https://circleci.com/sunset1-0/#migration-steps

[2018-09-25 00:54] skywinder commented on #678
You're awesome, guys! 🎉

[2018-09-25 16:36] NillerMedDild commented on #585
Thank you for opening this issue in the first place, it was a very quick fix thanks to this :)

[2018-09-26 20:35] skywinder commented on #672
@olleolleolle I remember you do a bunch of things with `rake`.
Is this tool can help with in this situation?

[2018-09-27 03:00] mob-sakai commented on #672
Use `--future-release  [RELEASE-VERSION]` option.
It will replace unreleased section with release version, without tagging.

[code]

[2018-09-27 06:42] olleolleolle opened #683 "[DOC] Add a usage example using --future-release"
The README needs a worked example of using the `--future-release` feature, so that CI tools and so on can build the CHANGELOG before any tags are created, keeping the CHANGELOG "inside the right tag".

- Add a heading
- Add an example
- Add an introduction explaining when someone needs to use this

https://github.com/github-changelog-generator/github-changelog-generator/issues/672#issuecomment-424

[2018-09-27 09:36] ignazioc commented on #672
Nice thanks !

On Thu 27. Sep 2018 at 05:00, Takashi Sakai <notifications@github.com>
wrote:

[2018-09-28 01:50] skywinder commented on #683
btw, It's a good idea to use "Help wanted" tag. Here the https://hacktoberfest.digitalocean.com/ coming. So we can participate and work with the community of contributors to get such kind of chore work done! 👍

[2018-09-28 01:51] skywinder commented on #672
Closing in favor of improvement #683
@ignazioc Feel free to reopen the issue if you still need help. 👍

[2018-09-28 01:51] #672 closed

[2018-10-08 22:47] markmandel commented on #663
Hi! Just wanted to a leave a note this is happening for me too!

I :heart: this project (we're using it over on [Agones](https://agones.dev), but there are some bugs in the 1.14.3 (issues going into the wrong release), that I'm hoping will be fixed in a new release, so I don't have to manually fix them by hand.

Any chance for a new release on this project, and a subsequent push to the new Docker

[2018-10-09 02:42] mob-sakai commented on #683
As draft:

### Using the future release feature

Use `--future-release [RELEASE-VERSION]` option to generate the CHANGELOG before tagging.
It will replace "Unreleased" section with "[RELEASE-VERSION]" section.
This is a suitable way for the development flow that generates CHANGELOG before each releasing (such as git-flow).

[2018-10-09 17:48] markmandel commented on #663
If you need a later Docker image that works - I just threw together a Docker image that runs the latest code in Github: https://hub.docker.com/r/markmandel/github-changelog-generator/

Mount your code to `/project` in the container, and you are good to go.

[2018-10-12 21:59] aredshaw commented on #683
I would be happy to help with any documentation on this project. What are your priorities?

[2018-10-13 18:07] skywinder commented on #683
Hi, @aredshaw !
Would be glad to add you PR. Feel free to  use @mob-sakai, try to use it and add the missing description. 👍

[2018-10-13 18:12] skywinder commented on #435
Related to #482

[2018-10-15 18:02] aredshaw commented on #683
I used the README.md to install it on a Windows 10 machine. Here are my current questions.

1. The documenation says:

I see you are using sudo. That works find in Linux, but do I have to run this as administrator on Windows? I tried it without and it seemed to install fine.

2. The documentation says:

I am guessing this has not been done yet. Would you like me to work on this also?

3. You have

[2018-10-16 08:10] olleolleolle commented on #683
Hi @aredshaw!

Thanks for asking specific questions - I hope these answers are any good.

1. Suggestion/question: Would it be clearer if the docs began saying `gem install github_changelog_generator`? Any _other_ ways of installing it could be explained in subsequent sentences. ("Your system may differ. Perhaps you must use `sudo gem install github_changelog_generator` on Linux, perhaps you must u

[2018-10-17 09:11] #681 closed

[2018-10-17 09:36] olleolleolle opened #685 "CircleCI: Add a build matrix"
- Build a set of parallel jobs that run the RSpec tests for each Ruby
- Build 1 job for Ruby 2.5.1 which runs Rubocop

[2018-10-17 18:10] szemek commented on #685
@olleolleolle can you specify list of ruby versions?

[2018-10-17 19:07] olleolleolle commented on #685
See Travis YML file in root of this repo.

[2018-10-18 07:09] olleolleolle opened #687 "End support of Ruby 2.2"
[Ruby 2.2 support has ended](https://www.ruby-lang.org/en/news/2018/06/20/support-of-ruby-2-2-has-ended/)

- [ ] Update Rubocop to check for Ruby `2.3`
- [ ] Update in the gemspec "required ruby version"
- [ ] Go through documentation, and update (or add) Ruby version requirement note

[2018-10-18 07:11] olleolleolle opened #688 "[rspec] Avoid matching on EXACT returns, use hash_including and other matchers"
This issue is about avoiding brittle tests, by using RSpec Matchers which only check for the data the tested behavior _needs_.

One example failure: https://circleci.com/gh/szemek/github-changelog-generator/54

[code]

[2018-10-19 19:02] aredshaw commented on #683
Is Docker an alternative installing and running it? Is Ruby required to run this program?
By the way, I found there is a version of Docker for my version of Windows, so it is available to anyone.

[2018-11-01 13:49] galaxylegand commented on #668
Please deactivated all notifications thanks

Larry w strickland

On Thu, Sep 20, 2018, 03:03 Olle Jonsson <notifications@github.com wrote:

[2018-11-06 14:03] wanbinkimoon commented on #403
Same issue here on MAC OS Mojave 10.14

[2018-11-08 11:42] sijomc opened #691 "Execute changelog-generator on a cloned repository in a local machine without using github token"
Please help me to execute changelog-generator on a cloned repository in a local machine without using GitHub token.

Thanks in Advance

[2018-11-08 12:04] olleolleolle commented on #691
The generator will work on GitHub metadata, which is fetched remotely.

Public repositories can be queried without a GitHub token. There are quotas (limits) on usage, though. Warnings will be printed when quotas are exceeded.

What have you tried doing?

**Thinking**: There should be a forum/questions place. Currently, I'm using the "question" GitHub Issues Label for these things.

[2018-11-08 12:39] kingkong8800 opened #692 "r"

[2018-11-08 12:43] #692 closed

[2018-11-19 08:46] olleolleolle opened #693 "[doc] Add Case Studies/Use-cases section, with examples from real-world usage"
Use-case of how one Node.js software project is using this tool to "improve release process":

https://github.com/davewasmer/ember-cli-favicon/commit/08be5a5a105bbeef359a5e252d2ace0a1334411e

- a gcg config file with a single option
- a config file for [ember-cli-release](https://github.com/shipshapecode/ember-cli-release) to call the tool

[2018-12-10 00:35] levithomason commented on #656
This is unrelated the MS acquisition.  I've been using github_changelog_generator for a few years and have had this issue for quite some time.  I've been dancing around it with options like:

[code]

Trying to really limit the requests to what I need (PRs merged into master since the last 250 commits).  Though, even this has not proven successful.

It would be ideal if we could manually adjust the

[2018-12-10 16:41] NathanUrwin opened #694 "Use markdownlint on CHANGELOG.md"
https://github.com/markdownlint/markdownlint

or

https://github.com/DavidAnson/markdownlint

[2018-12-20 14:25] m-tmatma opened #695 "`Octokit::NotFound' error happens since 372875f7"
`github-changelog-generator` gets the following error for our repository since 372875f7 .

[code]

# reproduction scenario

Use ruby2.4 to avoid #676.

[code]

## OK (`372875f7~`) (60ade2ac2b33006784015752f18c2117900c265d)

[code]

## NG (372875f7)

[code]

[2018-12-31 18:01] skywinder commented on #674
Hello. I believe this feature request will solve your task. Isn't it? https://github.com/github-changelog-generator/github-changelog-generator/issues/51

[2019-01-17 20:50] edusantana commented on #678
I was trying to use it, but it is not working. Can you share a project that uses it?

[2019-01-17 22:32] edusantana commented on #678
I looking at https://github.com/voxpupuli/puppet-extlib/blob/master/Rakefile

[2019-01-18 00:07] mob-sakai commented on #678
Hi @edusantana
Did you install `github-changelog-generator` with `gem install`?
It is a too old version to use summary section.
[code]

Use `gem specific_install` instead of `gem install`.

`gem specific_install git@github.com:github-changelog-generator/github-changelog-generator.git -b master`

[2019-01-18 11:10] rockandska opened #697 "[question] Generate changelog with local tag before its pushed"
Hi,

Changelog-generator use the tags to generate his changelog.
Does it works if the tag is not already pushed to github but only local ?
I would like to push the release with his changelog in the same step without the need to push the tag then generate the changelog.

Regards,

[2019-01-18 11:38] edusantana commented on #678
As you [see here](https://github.com/abntex/limarka/blob/58ab4804af11aa0f05a706a36441124477d5cf63/limarka.gemspec#L28) a use it like this:

[code]

My workaround was to use it [at the Gemfile as well](https://github.com/abntex/limarka/blob/58ab4804af11aa0f05a706a36441124477d5cf63/Gemfile#L4), but I don't like it.

At what version this summary option was added?

[2019-01-18 12:52] mob-sakai commented on #678
1.15.0, but it has not been released yet.

[2019-01-18 12:56] mob-sakai commented on #697
Use `--future-release [RELEASE-VERSION]` option to generate the CHANGELOG before tagging.
It will replace "Unreleased" section with "[RELEASE-VERSION]" section.
This is a suitable way for the development flow that generates CHANGELOG before each releasing (such as git-flow).

[2019-01-18 12:59] #697 closed

[2019-01-29 15:03] localredhead commented on #56
+1

[2019-01-29 17:17] rockandska commented on #307
Hi,

Any news about this ?

As state by @tkarls , it is really confusing to not seeing it since the tags already pushed to GH are generated even without PR associated

[code]

[2019-02-04 19:44] moorara opened #699 "Cannot generate the changelog for a repo moved from BitBucket to GitHub"
I have moved a git repo from Bitbucket to GitHub with all its commit history. When I run `github_changelog_generator` on master branch of this repo, I get the following error and exit code `1`:

[code]

Any idea what's going wrong?

[2019-02-05 04:18] #699 closed

[2019-02-13 01:50] liuxuan30 commented on #632
any idea when would 1.15 be released? almost a year 😂

[2019-02-20 06:30] dskrypko commented on #663
@markmandel
It seems that the `--release-branch` option doesn't work with your docker image. I tried to generate CHANGELOG for the not `master` branch but got weird CHANGELOG. It didn't match neither `master` branch nor branch I specified.

[2019-02-20 06:35] markmandel commented on #663
@dskrypko
My image may not be up to date with what is in github - it's not an automatic rebuild.

But you can likely take the Dockerfile and create your own, up to date image from it!

[2019-02-21 18:55] ferrarimarco commented on #663
The version that is currently tagged as a docker image is in sync with the latest GCG version.

As soon as a new version is released, I'll update the image.

Actually since we saw no version in a few months, I may release an updated "latest" image pointing to the current master.

[2019-02-21 19:01] ferrarimarco commented on #644
@olleolleolle @skywinder let's resume this work if you want since there are a couple of issues related to this. :)

What do you think?

[2019-02-21 19:02] ferrarimarco commented on #663
BTW we are tracking this issue in #644

[2019-02-21 19:03] #663 closed

[2019-02-21 19:05] ferrarimarco commented on #649
Also needed for #644

[2019-02-21 23:28] thaJeztah commented on #644
Happy to assist as well if needed; one thing I noticed in the old Dockerfile, is that it was fetching the source from inside the Dockerfile; using a `COPY` instead would make sure that the Dockerfile can be built from any branch, and the code always matching the code in that branch

[2019-02-22 20:17] ferrarimarco commented on #644
Sounds like a good use case for a multi-staged build actually. So yes, good idea! I'll open a PR for this, since I don't yet have write access here :(

[2019-02-22 20:30] ferrarimarco commented on #644
@olleolleolle @skywinder I created an org in Docker Hub but you should approve the access request so I can eventually set up an automated build

[2019-02-22 20:53] thaJeztah commented on #644
It's generally good etiquette to use pull requests, even if you have write access 🤗

[2019-02-22 21:31] ferrarimarco commented on #644
@thaJeztah I'm a member of this org :)

[2019-03-01 00:48] olleolleolle commented on #664
You can try using #657 - if you use the fine RubyGem https://github.com/rdp/specific_install

[2019-03-01 01:06] #687 closed

[2019-03-01 01:14] olleolleolle commented on #644
(I don't have admin rights on this repository.)

I also can't see a Docker Hub Organization - does it exist somewhere?

Looking around, I was able to find quite a few people who had set up builds: https://hub.docker.com/search?q=github-changelog-generator&type=image

[2019-03-01 06:21] olleolleolle commented on #694
The failures in currently generated Markdown file include:

- MD012 Multiple consecutive blank lines
- MD013 Line length
- MD022 Headers should be surrounded by blank lines
- MD038 Spaces inside code span elements

[2019-03-01 06:25] olleolleolle commented on #694
* **MD038**: This was about the title of an Issue, which had the backtick  \` character in it - it was a quote from a Ruby backtrace.

[2019-03-05 21:09] #450 closed

[2019-03-06 21:20] ferrarimarco commented on #644
@olleolleolle I created an org here: https://cloud.docker.com/orgs/githubchangeloggenerator

but need approval to create an automated build...

[2019-03-11 09:18] mesaugat commented on #649
Can we make a pre-release if not the `2.0.0` release? Been waiting for #579 to get released.

[2019-03-28 23:00] acidprime opened #712 "Example Rakefile"
I wanted this to run automatically when in our CI system we push a new tag,so created this. Might be useful for the README or in general just wanted to share. This example runs the command and commits the results & submits a PR at the end.

Thanks for the great gem!

## Gemfile

[code]

## Rakefile

[code]

## Dockerfile

[code]

[2019-04-03 18:09] flybitsbot opened #713 "N/A"
Posted by mistake!

[2019-04-03 18:11] #713 closed

[2019-04-03 18:11] moorara opened #714 "Re-write/implement this awesome piece of software in Go!"
Anyone interested in re-writing the best GitHub changelog generator in the world (a.k.a github_changelog_generator) in Go?

I am craving for having this changelog generator as a single binary and also importing it in my releaser tool and using it programmatically!

[2019-04-06 19:19] alexjfisher opened #715 "Mixed line endings in output file when using 'release summaries'"
When using the tool with the release summaries feature, the generated CHANGELOG.md ends up with mixed line endings.  Specifically, we've noticed windows style line endings appearing in the release summary content whilst the rest of the file has unix line endings.

[code]

[2019-04-07 17:37] LexiconCode commented on #458
This should be included on the readme for windows

[2019-04-08 00:02] NathanUrwin commented on #694
Duplicate of #662

[2019-04-08 00:02] #662 closed

[2019-04-08 06:45] olleolleolle commented on #458
@LexiconCode I added a link to  this Issue, and the shortest-possible Workaround note in the FAQ. Would you've found it?

[2019-04-09 09:42] maierlars commented on #714
In such a case german children would say: "Immer der, der fragt!"

[2019-04-26 19:56] Ark-kun opened #717 "docker container waits for a long time, then crashes"
[code]

[2019-04-29 09:44] pavolloffay opened #718 "Add @ to the author link"
`@` is commonly added to the author link eg.  [@pavolloffay](https://github.com/pavolloffay).

I would like to also consider changing the link template fom

- Feature foo [\#567](https://github.com/jaegertracing/jaeger-client-java/pull/567) ([dougEfresh](https://github.com/dougEfresh))

to

- Feature foo ([#567](https://github.com/jaegertracing/jaeger-client-java/pull/567), [@dougEfresh](https://g

[2019-04-29 11:06] pavolloffay opened #719 "Order merged PRs based on the merge order and not PR #number"
The changelog should be ordered by how PRs landed into a branch and not when they have been opened.

[2019-05-02 17:57] mokychandrey commented on #717
Plus one. Got same issue.

[2019-05-03 20:21] nickadams675 opened #720 "Doc update for Add Section"
Hello,

Thank you for the awesome project!!! If possible I am looking for guidance on creating a new "about this changelog" up top to cite "how to keep a change log" and conforming to SemVer. Thanks!
-Skyfox

[2019-05-09 19:26] NathanUrwin commented on #469
This is happening to me as well, although I'm unsure of whether it has anything to do with the GitLab feature branch I'm using. See PR #657.

[code]

[2019-05-11 11:17] huan opened #722 "Could we publish the latest version to gem?"
when I use `$ gem install github_changelog_generator` the code is quite outdated.

Could we publish the latest code to gem so that we could install the latest code from here?

Thanks!

[2019-05-11 11:24] huan commented on #656
I can confirm that https://github.com/github-changelog-generator/github-changelog-generator/pull/661 can solve this problem with my medium size repository https://github.com/Chatie/wechaty/

[2019-05-13 09:28] ericyahhh commented on #722
@huan You can at least use the pre-release version `v1.15.0` which has a lot of bug fixes

`gem install github_changelog_generator --pre`

[2019-05-17 02:09] NathanUrwin commented on #714
![Screen Shot 2019-05-16 at 9 08 41 PM](https://user-images.githubusercontent.com/13526277/57898468-cf132080-781e-11e9-9304-0ac6bd48b807.png)

[2019-05-17 02:14] NathanUrwin commented on #697
The `--future-release` option doesn't seem to create a **Merged pull requests:** for me...

[2019-05-19 15:42] christopher-dG opened #724 "How to generate changelog for just a single release?"
I used to be able to do this with `--between-tags` (unintuitively). But now that it's gone, I don' think there is a replacement. It would be really nice to have `--include-tags` and `--include-tags-regex` options.

[2019-05-19 15:45] christopher-dG commented on #724
I see this is somewhat of a duplicate, part of my request is addressed here: #376

[2019-05-19 15:55] christopher-dG opened #725 "Incorrect results with --exclude-tags-regex"
As a workaround for #724, I hacked a regex for `--exclude-tags-regex` to accept any string except my specific tag: `^(?!v0\.6\.0$)`. This works in that the only section generated is for tag `v0.6.0`, but the "Merged pull requests" sections contains far more PRs than were actually merged in that time frame (30/33 total PRs are displayed, the correct number is 9).

Tested with this command:
[code]

[2019-05-20 23:59] christopher-dG opened #726 "Case insensitive labels"
It would be nice if the list elements for `--exclude-labels` etc. were compared case-insensitively. So I could say `--exclude-labels invalid` and issues marked `Invalid` also get picked up and excluded. Currently all the defaults contain both lowercase and capitalized versions so it wouldn't change any default behaviour, either.

[2019-05-21 07:29] drupol commented on #659
`".*\..*\..*\..*"` => How can this be a regex for git tags ?

[2019-05-21 08:44] drupol commented on #613
As the option `--exclude-tags-regex` is not really working properly, I'm using:
`
--between-tags $(git tag --sort=-creatordate --merged '7.x-2.x' | tr '\n' ',')`

where `7.x-2.x` is the name of the branch.

[2019-05-25 19:37] kriszrtina commented on #697
K

[2019-05-28 05:12] christopher-dG commented on #724
It would also be very nice to generate a changelog for the range between two arbitrary releases, which might not be subsequent (somewhat relevant to #497).

[2019-06-04 08:09] soundstep commented on #656
Currently using `1.15.0.pre.rc`, I'm also getting a lot of `RETRY - Octokit::AbuseDetected`.
The `--max-issues` parameters seems to have no effect at all.

[code]

[2019-06-07 01:21] skywinder commented on #712
Hi, @acidprime
Thanks for the mention, it's good explainer.
Would you mind to add it to readme?
I'd be more than happy to merge a PR adding this explainer, it seems like it would be useful for sure 👍

[2019-06-07 01:26] skywinder commented on #388
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual.

[2019-06-07 01:26] #388 closed

[2019-06-07 01:28] skywinder commented on #565
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-06-07 01:28] #565 closed

[2019-06-07 01:29] skywinder commented on #402
There is no recent activity for this issue. It looks like this issue is not valid anymore since it was a lot of releases. Feel free to reopen it, if it still actual. 👍

[2019-06-07 01:29] #402 closed

[2019-06-08 15:49] ferrarimarco commented on #717
I updated the `latest` version today, can you please check?

[2019-06-15 00:25] #272 closed

[2019-06-15 00:46] skywinder opened #727 "🖖 Keep it alive: We need more Collaborators to github-changelog-generator"
### History:

I started this project by myself on Oct 26, 2014.

A year later, with the power of a [list of awesome developers](https://github.com/github-changelog-generator/github-changelog-generator/graphs/contributors) and especially  @olleolleolle we continued to improve this library.

Then I switched to other projects and realized, that repo is living by their life (with intensive supervision

[2019-06-15 00:49] skywinder commented on #272
Hey. that was an awesome time. Thanks to everyone , who participated in this project. Let's keep it alive together. Updates are here: #727

[2019-06-16 07:08] ferrarimarco commented on #727
I'm already onboard, so count me in! :)

[2019-06-17 15:14] m1guelpf commented on #727
Would love to help :D

[2019-06-19 22:57] skywinder commented on #727
@ferrarimarco Welcome to the club. You're a veteran in this repo, and I'm honored that you attend to us. 🎉

[2019-06-19 23:02] skywinder commented on #727
@m1guelpf Thank you for the quick response. Very glad to hear from new people about willing to help! 👍
Are there any ideas, that you would like to build/improve in the repo?
p.s.
Here is a list of Issues for inspiration:
https://github.com/github-changelog-generator/github-changelog-generator/labels/help%20wanted

[2019-06-22 08:51] ferrarimarco commented on #714
While this is potential source of fun, it's out of scope :)

[2019-06-22 08:51] #714 closed

[2019-06-22 08:54] ferrarimarco commented on #664
Closing this for now, we're tracking progress in #657

[2019-06-22 08:54] #664 closed

[2019-06-22 08:56] #712 closed

[2019-06-22 09:11] ferrarimarco opened #728 "Releasing 1.15.0"
Hi @skywinder , @olleolleolle

We have a number of issues asking for a new release (#722, #649) and issues that are blocked because they need a new release (#717).

I think we should release the 1.15.0 final, pointing to the latest master ([the latest commits](https://github.com/github-changelog-generator/github-changelog-generator/releases/tag/v1.15.0.pre.rc) add nothing major).

I think this is

[2019-06-22 09:12] ferrarimarco commented on #722
Tracking this in #728

[2019-06-22 09:12] #722 closed

[2019-06-22 09:12] ferrarimarco commented on #649
#728

[2019-06-22 09:12] #649 closed

[2019-06-22 09:12] ferrarimarco commented on #644
@olleolleolle @skywinder I need admin access to this repo to proceed further on this.

[2019-06-22 09:13] ferrarimarco commented on #717
Closing, this is related to the docker image, not to github changelog generator. (and this will be fixed once the 1.15.0 version is out)

[2019-06-22 09:13] #717 closed

[2019-06-22 15:07] ferrarimarco commented on #717
See #728

[2019-06-26 07:38] Ic3fr0g opened #730 "Can we get tag annotations"
Is it possible to fetch the tag annotations for each tag, subsequently add them to each tag's description?

[code]

https://github.com/github-changelog-generator/github-changelog-generator/blob/f73e689ef1d4b8726aa39c4dc5cc8671da0d45e2/lib/github_changelog_generator/octo_fetcher.rb#L109

[2019-06-26 09:09] Ic3fr0g commented on #730
I created a [GIST](https://gist.github.com/Ic3fr0g/3f4d98fd4a1593bac1dce9e84e7de849) in Python. Hope this helps someone. It has a lot of assumptions! Would love for somebody to hit the Github API instead of the way I have done this (`git tag -l -n9`), parsing and regex.

[2019-07-06 01:26] ghvfsdasdu opened #731 "国外文凭办理精英国际文凭俱乐部"
[国外文凭](www.diplomaclub.net)，使馆认证,定制成绩单,留信网认证www.diplomaclub.net
[国外文凭办理](www.diplomaclub.net)精英国际文凭俱乐部

[2019-07-06 08:16] #731 closed

[2019-07-08 19:59] Ic3fr0g commented on #730
In the meantime, I incorporated that script as a git hook. See this [link](https://github.com/Ic3fr0g/autochangelog-hook). Would love to see this functionality as well.

[2019-07-09 16:17] ferrarimarco commented on #730
Hi @Ic3fr0g !

Since you have some work already, care to stage a PR?

[2019-07-10 14:59] Ic3fr0g commented on #730
I did this in Python

[2019-07-14 07:10] jayvdb opened #732 "Export unrendered data"
It would be useful to be able to extract the data in a machine readable stable format , so it can be used by other tools.

If the same data format was able to be loaded, it would allow users to slice and dice and edit the data in other tools before pushing it back into github-changelog-generator .

That would allow users to implement their own "partial" https://github.com/github-changelog-generato

[2019-07-18 09:18] ekohl commented on #728
Would this be a release of current master? https://github.com/github-changelog-generator/github-changelog-generator/pull/641 was arguing that it needed to be a major version bump. That said, :+1: for a new release.

[2019-07-18 15:31] ferrarimarco commented on #728
I had a look at the commit since the last pre-release and are mostly bug fixes or docs addition.

What made you think we need to bump to release the current master? Any particular commit/PR?

Thanks!

[2019-07-18 16:02] ekohl commented on #728
The open PR (not mine) has argumentation. I don't have a strong opinion other than that it's time for a new release :)

[2019-07-18 16:27] ferrarimarco commented on #728
I'm not going to merge them before releasing 1.15.0 :)

[2019-08-11 13:43] JordyValentine opened #733 "Issues Generating Changelog (Windows)"
Hi,
I have just found this tool and it looks like it will be really useful, but I'm having a bit of trouble getting it to work.
I originally installed the gem/master version and attempted to generate a changelog using the command;
`github_changelog_generator --base CHANGELOG.md`
But I was met with the same issue posted here #658
I then installed the pre-release version as suggested in a few differ

[2019-08-30 16:14] billw2012 commented on #724
I am doing this by using unreleased changes `github_changelog_generator --future-release %version% --release-branch %release_branch% --unreleased-only <etc>`.
I put off automatically applying my release tag until after this happens (or I would if this tool didn't stop my appveyor build with no message...)

[2019-09-02 01:51] huan commented on #728
When could we release the v1.15? Or I have to use a workaround like `gem install github_changelog_generator --pre` to prevent hitting the threshold of Github API rate-limitation.

[2019-09-02 02:26] huan commented on #722
I have to modify the `lib/github_changelog_generator/octo_fetcher.rb` with `MAX_THREAD_NUMBER = 10` to include the #661 fix by hand now.

[2019-09-02 23:08] billw2012 commented on #660
I would like to get commit messages as well, at least as an option. We work using master as a dev branch, and not every thing that goes in has an issue associated with it. If it does then put it under issues, otherwise having a section for general commits would be useful (excluding merge commits etc. of course).

[2019-09-05 10:33] ferrarimarco commented on #728
There is work undergoing to release it in the coming days!

[2019-09-06 05:23] BazookaJoe1900 commented on #609
not relevant

[2019-09-06 05:23] #609 closed

[2019-09-08 10:15] abolinhas opened #735 "Gitea integration"
Hi
It's possible use this with gitea repos?
Best regards

[2019-09-17 22:21] choldgraf commented on #733
Note that I'm running into the same issue - this time on WSL linux

[2019-09-25 16:20] ferrarimarco commented on #735
Hi! There are currently no plans to support gitea, but feel free to contribute with a PR :)

[2019-09-25 16:20] #735 closed

[2019-10-04 02:49] mcelicalderon opened #738 "TypeError: no implicit conversion of nil into Array"
I have a really weird issue on MacOS, everything works fine in Ubuntu with the same repository, I have set the same github token.

[code]

Repository is public, so might be easy to replicate

https://github.com/graphql-devise/graphql_devise

I have tried using the rake task `bundle exec rake changelog` and also the global command `github_changelog_generator "graphql-devise/graphql_devise"`

I can

[2019-10-04 04:51] mcelicalderon commented on #738
I was able to pinpoint the problem to the cache that the Octokit client uses, disabling that option will make it work until [this line](https://github.com/github-changelog-generator/github-changelog-generator/blob/v1.14.3/lib/github_changelog_generator/generator/generator_generation.rb#L147) where `present?` is not defined for array, not sure why that happens if activesupport is required.

This is

[2019-10-05 08:12] ferrarimarco commented on #728
The repo is ready for the 1.15.0. I need to build and release the gem, and we're set!

[2019-10-05 14:28] alexjfisher commented on #738
@mcelicalderon Any idea why this is suddenly happening?  I've been through all dependencies and tried older versions, but no luck finding a culprit.

[2019-10-05 15:16] mcelicalderon commented on #738
Well this was the first time I used the gem on MacOS, so I'm guessing it has something to do with the lower level system tools the http client uses for caching. Also for the `present?`  error, I think it probably worked before for me as I was running it with the rake task, so somewhere in that path it loads activesupport correctly? By the way, changing [this line](https://github.com/github-changel

[2019-10-05 18:36] alexjfisher commented on #738
I'm on Ubuntu and it just stopped working a few? days ago.  At [Vox Pupuli](https://voxpupuli.org/), we use it as part of our [module release process](https://voxpupuli.org/docs/releasing_version/).  AFAIK, it's, (all versions I've tried), broken for everyone trying to use it right now.

The `--no-http-cache` option is working for me (but as you point out, that's unavailable in the rake task).  I'

[2019-10-05 18:53] alexjfisher commented on #738
If it is still working on your Ubuntu box, does deleting `/tmp/github-changelog-http-cache` cause it to break?  (I found a repo it appeared to work on.  Deleting the cache broke it though)

[2019-10-06 00:09] mcelicalderon commented on #738
I just checked that my Ubuntu setup is not affected by removing the `/tmp/github-changelog-http-cache` DIR. Here is my lockfile in Ubuntu which continues to work
[code]

[2019-10-06 00:54] mcelicalderon commented on #738
I open a PR here #739

That should work for now as a workaround to this issue when using the rake task at least as active Support is correctly loaded

[2019-10-06 01:18] mcelicalderon commented on #738
Also `v1.15.0` looks like is about to be released (not downloadable via rubygems yet). I have installed by manually building the gem and the `ActiveSupport` problem appears to be fixed. Only the http cache problem remains on my mac. Now this command works without modifying the source of the gem on `v1.15.0`
[code]

[2019-10-07 09:29] alexjfisher commented on #738
I'm 99% sure the issue was in Faraday.  I had tried 0.15.X and it didn't work for me.  But... that's because I didn't also clear `/tmp/github-changelog-http-cache` after downgrading and I guess 0.16.X had left dodgy content in it.
From https://github.com/lostisland/faraday/releases/tag/v0.17.0

[2019-10-07 10:04] alexjfisher commented on #738
Having gotten it working, if I downgrade faraday to 0.16 (by pinning in the Gemfile), it still works *until* I remove the cache directory and try again.
If I remove the pin and `bundle update` to (upgrade faraday to 0.17), it *still* fails.
Until I nuke the cache dir.

No wonder I had so much trouble figuring out which gem to point my finger at... :)

[2019-10-07 10:15] alexjfisher commented on #738
@iMacTia Thank you for the 0.17 release.  Is it worth mentioning needing to clear cache directories in the 0.17 release notes?

[2019-10-07 14:49] mcelicalderon commented on #738
Confirming Faraday 0.17 also fixes the issue on MacOS, thanks. I'll close this issue now as it is not related to this gem. Also the new release 1.15 of this gem (still not available in rubygems) fixes the activesupport include problem.

[2019-10-07 14:49] #738 closed

[2019-10-07 15:26] iMacTia commented on #738
@alexjfisher thanks for pointing that out, it's a gem-specific issue since we have no caching in Faraday, but I'll happily add it as a note to the release in case that could save some time to others 😃

[2019-10-08 11:49] AffiTheCreator opened #740 "404 - error Not found (Octokit::NotFound ) because github-site is being modified by program"
I'm trying to implement your software in a production environment that uses Gitlab was the DevOps.
I've install github_changelog_generator via git clone and then install from terminal using the
[code]
To run the program I´m using the following arguments

[code]
Where :
`@user` is my user
`$PROJECT` is the name of my project
` http://gitlab.MyDomain.com` is the gitlab domain of the company
` http:/

[2019-10-08 13:37] AffiTheCreator commented on #740
I´ve created a fork for this project and modified the line mention above and it produced the same results
Still cannot access my API page for Gitlab , the output shows` http://gitlab.MyDomain.com/repos/@user/$PROJECT/tags?per_page=100: 404 - Error: 404 Not Found (Octokit::NotFound)`

[2019-10-09 02:30] liuxuan30 commented on #728
when can you release for gem? can't wait

[2019-10-13 21:25] ArturT opened #741 "uninitialized constant Faraday::Error::ClientError (NameError)"
When I try to generate changelog for my project [KnapsackPro/knapsack-pro-cypress](https://github.com/KnapsackPro/knapsack-pro-cypress/) I get error `uninitialized constant Faraday::Error::ClientError (NameError)`.

A few days ago I tried to generate changelog for different project and I got the same error. I assumed it's temporary problem with Github but today issue still exists.

I guess request

[2019-10-13 21:27] ArturT commented on #741
I found fix. Updating to faraday 0.17.0 solved issue.

[code]

[2019-10-13 21:27] #741 closed

[2019-10-15 23:21] 0sc commented on #730
I'll like to try my hands on this.

@Ic3fr0g could you clarify how you obtain the annotations? Going through your script looks like its only the tag title it uses.

[2019-10-28 16:08] ferrarimarco commented on #728
Released

[2019-10-28 16:08] #728 closed

[2019-10-28 21:52] ferrarimarco commented on #675
Hi @espears4sq

Can you clarify your question with an example? Thanks!

[2019-10-29 21:03] #474 closed

[2019-11-04 14:36] alexjfisher opened #742 "Special characters inside `inline_code` incorrectly escaped"
When a PR/issue title contains backticks the contents inside the backticks should not be escaped when generating markdown.

For example, in *this* project https://github.com/github-changelog-generator/github-changelog-generator/pull/566 results in incorrect markdown in the [generated changelog](https://github.com/github-changelog-generator/github-changelog-generator/blame/595ba5a8ae5c0f53ac25fb013

[2019-11-04 17:11] crash7 commented on #252
👍 - second option would be great!

[2019-11-08 16:54] vstepanov-lohika-tix opened #744 "To improve build_url method in Locust HttpSession"
In Locust clients.py there is a custom _build_url method for HttpSession that returns:
    return "%s%s" % (self.base_url, path)
It leads to errors if additional path is not starting from slash "/"

It will be more correct to use  urljoin method from urllib.parse:
    return urljoin(self.base_url, path)
So it will work properly with and without leading slash in path.

[2019-11-08 16:59] vstepanov-lohika-tix commented on #744
Opened in a wrong repo, sorry

[2019-11-08 16:59] #744 closed

[2019-11-11 06:50] paced opened #745 "Default future-release to latest milestone"
`future-release` currently needs to be manually set. I think it can be automated by replacing it with the latest milestone found in a repository if:

1. `unreleased == false`
2. An authentication token has been provided.

This way, if you use GitHub Milestones and name them using SemVer, you will never need an "Unreleased" section.

I'm not sure if this is how everybody else is using Milestones, s

[2019-11-11 06:55] paced opened #746 "Do not overwrite human-readable changes to old versions"
My ideal workflow would be:

1. To run `github-changelog-generator` before every merge into `master` as an automatic commit.
2. Directly commit human-readable changes to `CHANGELOG.md` in `master`.
3. Repeat.

Problem right now is that the human-readable changelogs would be overwritten by step 1. The idea of this feature request is to only add changes to the `CHANGELOG.md` file in versions that ar

[2019-11-12 06:50] paced commented on #745
If anybody wants to use a GitHub Action that does this, check [this out](https://github.com/teaminkling/autologger).

[2019-11-12 06:51] paced commented on #746
I wrote a GitHub Action that does this (and other stuff) [here](https://github.com/teaminkling/autologger).

[2019-11-14 12:12] dlbuckley commented on #724
This has also become a blocker for upgrading too. We have pinned to an older version (1.14.3) until this change has been reverted.

[2019-12-12 09:52] skywinder opened #747 "FAQ section from issues with the `question` label"
I'm thinking to make another plugin for this project to generate a FAQ section from issues with the `question` label

[2019-12-17 11:17] CharMixer opened #748 "Github Action"
Thanks a lot for the work done by this community, It saved me a lot of time.

To be able to integrate it with a new project, I've created a github action which uses the docker image already created by @ferrarimarco. I thought that this could be useful for someone else.

It can be found here: https://github.com/marketplace/actions/automatic-changelog-generator
I'm quite new to Github Actions, so th

[2019-12-24 09:24] skywinder commented on #748
Thanks. It's a good idea to add it as Action.

 I'm also new with actions and didn't have time to figure out, how to work with it. Let's have a look. If you have an idea, how to set up it in repo or make a quick readme addition based on your experience, how to setup it in your repo - I would be happy to merge it!

btw, you can add your project, since it's a wiki page and everyone can edit it: http

[2019-12-24 09:28] skywinder commented on #748
I see your action, but don't see any kind of code or instrucrtions how to setup it:
https://github.com/OpenSentry/idp/actions?query=workflow%3AChangelog

It would be cool, if you can add this instruction for other users. But it's definetly cool thing to automate!

[2019-12-24 14:23] skywinder commented on #469
@hrmoller is it still actual? looks like it fixed already.

[2019-12-24 14:24] skywinder commented on #718
There is no such feature yet. I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2019-12-28 10:56] weekly-digest[bot] opened #749 "Weekly Digest (21 December, 2019 - 28 December, 2019)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 2 pull requests were created, updated or merged.
## UPDATED PULL REQUEST
Last week, 2 pull requests were updated.
:yellow_heart: #737 [Handling cas

[2019-12-30 15:10] #67 closed

[2019-12-30 15:13] skywinder commented on #71
@aelavender can you give us example repo for the tests?

[2019-12-30 15:17] skywinder commented on #71
Close it in favor of #361

[2019-12-30 15:17] #71 closed

[2019-12-30 15:36] skywinder commented on #209
This issue has been closed as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.
Feel free to leave a comment below, if it's still actual.

[2019-12-30 15:36] #209 closed

[2020-01-05 08:57] weekly-digest[bot] opened #750 "Weekly Digest (29 December, 2019 - 5 January, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #743 [Don't escape spe

[2020-01-12 08:57] weekly-digest[bot] opened #751 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 1 pull request was created, updated or merged.
## UPDATED PULL REQUEST
Last week, 1 pull request was updated.
:yellow_heart: #657 [Added rudimentar

[2020-01-17 13:39] CharMixer commented on #748
Sorry for my late response.

I will update the action with some more insights on how to set it up.
I just finished a new flow, which uses a PR-flow instead of a direct master push.
This allows protected branches better.

I'm already getting some stars for this action, so I will of course try to get this into a more stable version. Currenly, only a subset of params is supported and testing has been

[2020-01-19 02:01] weekly-digest[bot] opened #752 "Weekly Digest (12 January, 2020 - 19 January, 2020)"
Here's the Weekly Digest for [github-changelog-generator/github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator):
# ISSUES
## NOISY ISSUE
The issue most discussed this week has been:
:speaker: #748 [Github Action](https://github.com/github-changelog-generator/github-changelog-generator/issues/748), by [CharMixer](https://github.com/CharMixer)
It receiv

[2020-01-20 15:21] Ghost-chu commented on #56
bump in 2020

[2020-01-21 03:41] dusan-dragon opened #754 "Feature request: Add option to include header md file"

[2020-01-21 12:34] skywinder commented on #748
@CharMixer  thanks for the update. sounds very promising! Please, let me know if you want to integrate this feature. I would also love to add you as a member of this group if you are willing to improve this project! 👍

[2020-01-21 12:34] #752 closed

[2020-01-21 12:34] #751 closed

[2020-01-21 12:34] #750 closed

[2020-01-21 12:35] #749 closed

[2020-01-22 07:16] dusan-dragon commented on #316
I guess this is supported already by option `configure-sections` ?

[2020-01-22 07:20] dusan-dragon opened #756 "Feature request: Allow to specify custom configuration file path"
So at the moment the generator is looking for config file `.github_changelog_generator` in the root of repo. It would be nice if we could override it with some cli param.

It would help us to clear a root folder a little bit and also it solve the problem if you have monorepo / multiple libs in one repository

[2020-01-24 16:34] CharMixer commented on #748
Thanks for the offer.
I'm not sure what you mean by "integrate this feature", other than adding it to the readme.  It would probably be better to add you to my project, if you would like to add some new parameters to it for instance.

[2020-01-25 21:53] m-tmatma commented on #695
@ferrarimarco

This is not windows-specific.

It happens on ubuntu 19.10 too.

## Set GitHub Token in advance

[code]

## Install gems

[code]

## Install github-changelog-generator

[code]

## Set up variable

[code]

## Run github_changelog_generator

[code]

## Error log

[code]

[2020-01-26 08:57] weekly-digest[bot] opened #757 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 4 issues were created.
Of these, 0 issues have been closed and 4 issues are still open.
## OPEN ISSUES
:green_heart: #756 [Feature request: Allow to specify custom configuration file path](https://github.com

[2020-01-27 12:49] ferrarimarco commented on #695
Is `c1357c0cf2b5dcee5458d2e48f2b0b3130643db9` a valid commit?

If I go to https://github.com/sakura-editor/changelog-sakura/commit/c1357c0cf2b5dcee5458d2e48f2b0b3130643db9 I get a 404...

[2020-01-27 20:53] uzshrestha opened #758 "github-changelog-generator 1.15 Error"
[code]

[code]
[code]

[2020-01-27 23:10] m-tmatma commented on #695
https://github.com/sakura-editor/sakura/commits/c1357c0cf2b5dcee5458d2e48f2b0b3130643db9

This commit is included at https://github.com/sakura-editor/sakura

https://github.com/sakura-editor/changelog-sakura is the repository for creating changlog of https://github.com/sakura-editor/sakura

[2020-01-29 15:53] cdenneen opened #759 "Username and Namespace don't match"
If github_changelog_generator uses config.user as the base of the project:

i.e.
skywinder/github_changelog_generator

How would I be able to set my username as cdenneen?

if you provide a different username but a "/" to the project will that work?

config.user = cdenneen
config.project = skywinder/github_changelog_generator

[2020-01-29 15:58] #759 closed

[2020-02-02 08:57] weekly-digest[bot] opened #760 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #758 [github-changelog-generator 1.15 Error](https://github.com/github-changelog-generator

[2020-02-04 12:09] gavinc1980 opened #761 "GitLab [self managed] integration"
Hello,

I see some people have been able to get this running on GitLab. The readme only shows github.

Can anyone advise how to get this runnning with GitLab self managed?

Would love to start using this tool

[2020-02-05 00:26] mitermayer opened #762 "Dockerize"
I wish this was dockerized to avoid installing dependencies.

I am happy to submit a PR and implement this feature if you are ok with it.

[2020-02-05 10:38] ferrarimarco commented on #762
Hi @mitermayer ! Have a look at https://github.com/github-changelog-generator/github-changelog-generator#running-with-docker :)

[2020-02-05 10:38] #762 closed

[2020-02-09 03:55] weekly-digest[bot] opened #763 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #761 [GitLab [self managed] integration](https://github.com/github-changelog-generator/git

[2020-02-13 04:21] mockitoguy commented on #56
@skywinder, this would be an awesome feature!

In CI/CD scenario where every change on master is released I cannot have any file written to master during the release (like writing to the changelog file). It's because merging multiple PRs concurrently will cause the release builds to compete for the changelog resource. A nice solution is to post release notes to GH Releases, instead of a file in th

[2020-02-16 03:55] weekly-digest[bot] opened #764 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week, no issues were created.

 - - -
# PULL REQUESTS
Last week, 4 pull requests were created, updated or merged.
## UPDATED PULL REQUEST
Last week, 4 pull requests were updated.
:yellow_heart: #755 [Fix not pars

[2020-02-21 09:44] skywinder commented on #761
duplicate of https://github.com/github-changelog-generator/github-changelog-generator/issues/419

[2020-02-21 09:44] #761 closed

[2020-02-21 09:44] #757 closed

[2020-02-21 09:44] #760 closed

[2020-02-21 09:44] #763 closed

[2020-02-21 09:44] #764 closed

[2020-02-22 11:30] skywinder commented on #419
This feature is ready in #657
Looks great. I want to double-check this code and then merge it.

In case if you don't want to wait:
I made separate repo to test GitLab things: https://github.com/github-changelog-generator/gitlab-changelog-generator

I can add you as owners there, so we can even make a separate gem for GitLab for now.

p.s. hmm. looks that we have to rename this project after this m

[2020-02-22 11:36] skywinder commented on #695
Confirmed. Can't build as well.

I will try to check, where is a problem. I don't know, why `Gemfile.lock` is not included in the repo, now it's a bit tricky to reproduce the same state of the project.

ps. I'm also want to make step-by-step guide how to build dev version of this tool. The new version is placed in `develop` branch :

https://github.com/github-changelog-generator/github-changelog-g

[2020-02-23 03:55] weekly-digest[bot] opened #766 "Weekly Digest (16 February, 2020 - 23 February, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 1 issue was created.
It is closed now.
## CLOSED ISSUES
:heart: #765 [Minor grammar fix](https://github.com/github-changelog-generator/github-changelog-generator/pull/765), by [cachedout](https://github.com/

[2020-02-23 09:48] victornoel commented on #419
@skywinder an alternative to renaming the project would be to extract the common code in a changelog-generator project and have both the github and gitlab one depend on it?

[2020-02-23 10:27] skywinder commented on #419
Exactly. that's what I'm going to do soon.

[2020-02-28 00:11] jslight90 opened #767 "Multiple threads are doing the same task as each other"
The `fetch_tag_shas_async` method creates multiple threads that all call the `oldest_commit` method.  Since the list of commits hasn't been fetched and cached yet, each thread starts fetching all the commits from the repository asynchronously and puts duplicates in the `@commits` array.

https://github.com/github-changelog-generator/github-changelog-generator/blob/3ad1dc9da952a435fed08c2933d151e31

[2020-03-01 03:55] weekly-digest[bot] opened #768 "Weekly Digest (23 February, 2020 - 1 March, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #767 [Multiple threads are doing the same task as each other](https://github.com/github-changelog-generator/github-changelog-generator/issu

[2020-03-11 05:44] #768 closed

[2020-03-15 09:22] weekly-digest[bot] opened #769 "Weekly Digest (8 March, 2020 - 15 March, 2020)"
Here's the Weekly Digest for [github-changelog-generator/github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator):
# ISSUES
This week, no issues have been created or closed.

# PULL REQUESTS
This week, no pull requests has been proposed by the users.

# CONTRIBUTORS
This week, no user has contributed to this repository.

# STARGAZERS
This week, no user

[2020-03-16 09:11] #769 closed

[2020-03-25 18:02] varunrayen opened #772 "changelogs generation for repo to which user is a contributor"
I am trying to generate a changelog for the repo which is owned by another user and me being a contributor.

How to configure for this scenario?

[2020-03-27 10:58] ZedThree opened #773 "Warning about Project_card_events API"
I get a lot of the following messages:

You can avoid this message by supplying an appropriate media type in the 'Accept' request
header.

It sounds like it will resolve itself in time, but at the minute it's spamming the terminal.

[2020-03-27 12:20] JacobEvelyn opened #774 "Nondeterministic moving/deleting of PRs in CHANGELOG.md"
I'm running this, with version `1.15.0`:

[code]

and each time I run it the `CHANGELOG.md` changes—PRs that were listed under one of my gem's versions (say, `0.42`) will jump to a completely different version (say, `0.38`). When I run `github_changelog_generator` again they'll move back but different PRs will be switched around, or even deleted entirely!

I haven't seen this nondeterministic beha

[2020-04-02 06:24] digglife opened #775 "Feature: Support Relative Tags With since_tag Option"
## Description
Under some circumstances, we need to generate changelogs for recent N versions without knowing the tag names.

## Implementation

We can use relative tags with `since_tag` option such as `TAG~1` for since last tag, `TAG~2` for since last two tags and so on.  The syntax `TAG~1` is inspired by git (`HEAD~1`).

If the `since_tag` option value match `/TAG~([1-9]+)/`, the program will re

[2020-04-02 06:36] digglife commented on #775
I will add documents if it's approved by the maintainer.

[2020-04-02 15:08] digglife commented on #718
I would like to do this, but I don't know if this project is actively maintained since there are so many issues and PRs that have not been updated recently.

[2020-04-02 17:47] digglife commented on #773
The warning is generated by Octokit module ,we can avoid it by adding accept option for relevant requests(`issue_events` in this case). I submitted a fix PR, which is now pending on maintainer's review.

[2020-04-03 07:58] pavolloffay commented on #718
I have created a similar changelog generator https://github.com/pavolloffay/github-changelog. The advantage is that it is fully customizable via templates.

[2020-04-05 17:11] skywinder commented on #773
Oh, thank you very much, @digglife ! Much appreciated!

---

ps.
BTW, I would like to support from Tidelift this project. (about 50$/month) - I would be glad to send this money for to supporters.
If you would like to help with resolving issues and PR - please send me message, we can discuss this option.

[2020-04-05 17:14] skywinder commented on #727
Hello eveyone,
I would like to support from Tidelift this project. (about 50$/month) - I would be glad to send this money to supporters.
If you would like to help with resolving issues and PR - please send me a message, we can discuss this option.

[2020-04-05 17:55] #766 closed

[2020-04-05 18:30] #773 closed

[2020-04-05 19:53] skywinder commented on #748
@CharMixer
You're right. I mean that we can add it as an example to this repo. So people can copy-paste it to their own. It would be nice to make the readme section about this too.

Or let me know if you will be done this with your repo. So I will make the same in this repo.

[2020-04-06 10:57] bzon commented on #403
🤦‍♂

[2020-04-06 10:58] bzon commented on #403
It would be nice if the installation can be managed with `brew` or as a single binary (rewritten in Go).

[2020-04-06 14:56] skywinder commented on #403
@bzon sounds great! would be glad to merge this PR. 👍

p.s.

`github_changelog_generator: command not found`
somtime can be fixed by this:
https://superuser.com/a/1538816/230571

[2020-04-10 05:48] shinyaohtani opened #787 "Footer message that keeps replicating"
Even if a footer message has already been added to the file specified in config.base, if I execute the script to add a change log for the newly developed part, a footer message will be added one by one every time.

- before
[code]
- after
[code]
- after 2 times (keep replicating infinitely)
[code]

Maybe, this code doesn't work:
https://github.com/github-changelog-generator/github-changelog-genera

[2020-04-10 06:35] shinyaohtani commented on #787
[code]

In order to find the exactly same expression, "*" should be escaped as "\*"

[code]

[2020-04-10 15:12] olleolleolle commented on #787
@shinyaohtani Would you like to make a PR with a fix and a test?

[2020-04-11 04:49] olleolleolle opened #789 "Get rid of multi_json"
Ruby ships with JSON support.

We can get rid of multi_json as a dependency and use json directly instead.

[2020-04-11 06:42] #774 closed

[2020-04-11 08:50] olleolleolle commented on #789
Ah, the issue is with `vcr`, the fix depends on that project.

[2020-04-12 19:21] ferrarimarco opened #793 "Enabling branch protection for the master branch"
Hi! Happy to see activity in this repo!

So, I'd propose we enable some branch protection rules for the master branch:

1. Require PR reviews before merging
1. Require status checks to pass before merging
1. (open to debate) Require liner history
1. Enforce these rules on admins as well

On top of this, we might want to disable merge commits and rebase merging, to ensure the PR author:

1. Takes c

[2020-04-12 21:25] olleolleolle commented on #793
I think that's a fair idea.

[2020-04-12 22:40] ferrarimarco commented on #793
Too much?

[2020-04-13 01:06] shinyaohtani commented on #787
@olleolleolle ok, I'll make PR.

[2020-04-13 15:37] skywinder commented on #793
That's right. Agreed.

Agreed with Olle, I found 1 commit not convenient.
In terms of reverts: You can always revert the merge commit, isn't it?
p.s.
So we can update [CONTRIBUTING.md](https://github.com/github-changelog-generator/github-changelog-generator/blob/master/CONTRIBUTING.md)

btw, what is "liner history"?

[2020-04-13 16:05] baquiax commented on #416
This project is awesome, I want to add my 5 cents and I'll work on the Bitbucket integration.

[2020-04-13 20:27] olleolleolle commented on #793
Linear history means 'no merge commits'.

[2020-04-14 08:31] shinyaohtani commented on #787
@olleolleolle I sent pull request about "replicating template messages". Would you please review when you have time?
PR: #794

[2020-04-14 09:29] ferrarimarco commented on #793
Yep correct.

See an example of confusion in #737. We can force people to be updated considering the latest master, but if we don't force "Squash and merge" as the only merging strategy, we might end up with these commits in the history: https://github.com/github-changelog-generator/github-changelog-generator/pull/737/commits

If you squash and merge, these commits will not matter anymore, because

[2020-04-14 19:19] olleolleolle commented on #793
Cons with "squash any PR": Commits can be seen as invididual storytelling 'sentences', where a PR tells a 'story' in a series of sequential 'sentences'. Perhaps authors want that possibility? (Please note: this is not a blocking comment, I'm just describing a way of working.)

---

Unrelated: Today I went to the Settings to remove Checks for now-removed CircleCI jobs.

[2020-04-14 19:45] olleolleolle commented on #789
And, now the fix is in `vcr`, we can wait until its next release and use that.

Then, we can get rid of multi_json.

[2020-04-14 19:45] #789 closed

[2020-04-14 21:34] ferrarimarco commented on #793
Oh cool!

So, I guess it's up to us to decide. I don't have strong preferences either way. I feel that enforcing a PR to be up to date might let us catch some integration issues before landing the changes in the master branch. I found this way of working is fine for small/medium sized open-source projects.

[2020-04-15 03:35] skywinder commented on #793
## 1. "Squash and merge"

I agree with @olleolleolle , it would be nice, to leave the "storytelling" feature.
It's important with complex PR, where you try different approaches and fork branches in the middle of the work to try something new. Otherwise, we just lose all the benefits of single commits.

 - in this way, it makes sense to squash them

In the case of commits like:

So my propose is: *

[2020-04-15 04:40] #742 closed

[2020-04-15 06:03] #787 closed

[2020-04-16 09:37] liuxuan30 opened #800 "undefined method new for BigDecimal:Class (NoMethodError)"
Traceback (most recent call last):
	23: from /Users/xuanliu/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `<main>'
	22: from /Users/xuanliu/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `eval'
	21: from /Users/xuanliu/.rvm/gems/ruby-2.7.0/bin/github_changelog_generator:23:in `<main>'
	20: from /Users/xuanliu/.rvm/gems/ruby-2.7.0/bin/github_changelog_generator:23:in `load'
	19: from /

[2020-04-16 10:20] ferrarimarco commented on #793
The workflow looks ok, but how can you enforce no. 4?

[2020-04-19 13:00] weekly-digest[bot] opened #805 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 6 issues have been closed and 5 issues are still open.
## OPEN ISSUES
:green_heart: #801 [add option --[no-]issues-of-open-milestones](https://github.com/github-changelog-ge

[2020-04-23 00:00] ernestostifano commented on #244
This issue is still present today...

[2020-04-23 11:37] #805 closed

[2020-04-23 11:39] skywinder commented on #793
Good question. Don't know how to automate it yet. At least we can set as a rule in contributors guidelines.

[2020-04-23 12:47] skywinder commented on #695
@m-tmatma  can you kindly check the current version?

[2020-04-23 19:12] ferrarimarco commented on #793
You can enforce it by doing as I suggested :)

1. Force the branch to be up to date <- you want this
1. Avoid merge commits <- so merge commits required by the point above don't clutter the history
1. Enable only squash and merge <- same as above

[2020-04-24 22:48] m-tmatma commented on #695
@skywinder

I tried for master
https://ci.appveyor.com/project/sakuraeditor/changelog-sakura/builds/32427669

The error message has changed, but it still failed.

(Note: This may have nothing to do with this issue, but the target repository has an official release recently on GitHub)

`C:/Ruby25-x64/bin/github_changelog_generator: stack level too deep (SystemStackError)`

[code]

[2020-04-24 23:48] m-tmatma commented on #695
@skywinder
I reran for 372875f7, it didn't complete within 19 minutes.
So the situation is not the same when I had reported this issue.
https://ci.appveyor.com/project/sakuraeditor/changelog-sakura/builds/32428395

[2020-04-26 01:00] weekly-digest[bot] opened #815 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 11 issues were created.
Of these, 9 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #814 [Bump async from 1.25.0 to 1.25.1](https://github.com/github-changelog-generator/git

[2020-04-29 09:38] #815 closed

[2020-05-03 01:00] weekly-digest[bot] opened #819 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 3 issues were created.
Of these, 1 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #818 [Bump parser from 2.7.1.1 to 2.7.1.2](https://github.com/github-changelog-generator/g

[2020-05-04 04:02] #819 closed

[2020-05-04 05:50] skywinder opened #821 "--no-issues-wo-labels should not exclude Pull Requests"
Now the option `--no-issues-wo-labels`  exclude Pull Requests as well. I think it's not fair. Should we fix that, @olleolleolle?

[2020-05-04 05:54] skywinder commented on #821
Hmm. Even with tag
`--pr-wo-labels` it still excluddes them

Example:
[code]

[2020-05-04 06:00] olleolleolle commented on #821
To me, it sounds like an option for a very strict project. "All labeled or not visible" to have no false positives.

For that strict workflow, perhaps some diagnostic check "are there unlabeled issues/PRs in this range?" would be useful? Idk, I didn't use it like that.

To support an "editorial hand" in the making, I've only used skipping, to exclude issues/PRs by label.

The strict workflow could

[2020-05-04 06:17] skywinder commented on #821
Thanks. There are several points:

1. >"are there unlabeled issues/PRs in this range?"
(from internal GitHub structure PR is a subset of issue)
Imo: from the user perspective: Issues and PR's - is 2 different entities.

as the fact: we have an option "`--pr-wo-labels`"

2. >Would their regenerated CHANGELOG documents look wrong due to the inclusion of old unlabeled PRs?

1) we have to bump minor v

[2020-05-06 08:44] m-tmatma commented on #695
@skywinder
Do you have any comment?

[2020-05-06 13:37] takke opened #829 "Failure with `stack level too deep`"
`github-changelog-generator` gets the following error for [our repository](https://github.com/sakura-editor/sakura).

[code]

revision: 9825c5e9778abd9026c156bd46e1053960df47c2

related issue: #695

I found the point of the error heppens;
`in octo_fetcher.rb`, `commits_in_tag` method is called recursively, but it gets too deep when too many commits on the repository.

[2020-05-06 14:54] skywinder commented on #695
@m-tmatma hello, haven't check it yet. will need to investigate it again, how to reproduce this issue.

[2020-05-07 21:45] dusan-dragon opened #832 "Question: New release"
Hi, @ferrarimarco I would like to ask when we can expect new release. Current master has some important bugfixes which I would love to use.

Can we expect it any time soon?
Thank you.

[2020-05-07 22:22] m-tmatma commented on #695
@skywinder
The situation has changed. This issue doesn’t happen, but new issue happens.

@takke registeresd https://github.com/github-changelog-generator/github-changelog-generator/issues/829 on behalf of me.

I close this issue.

[2020-05-07 22:22] #695 closed

[2020-05-08 06:07] skywinder opened #835 "[doc] how to start, debug & release versions"

[2020-05-10 01:00] weekly-digest[bot] opened #837 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 17 issues were created.
Of these, 5 issues have been closed and 12 issues are still open.
## OPEN ISSUES
:green_heart: #836 [fix gitignore](https://github.com/github-changelog-generator/github-changelog-gene

[2020-05-14 03:59] #837 closed

[2020-05-14 22:16] olleolleolle commented on #793
Alright branch protection is in place. Can this Issue be closed now, as implemented?

[2020-05-14 22:18] #793 closed

[2020-05-15 10:44] Symorp commented on #727
I would like to start collaborating, but I am a totally newbie in Ruby. Is there another way how can I contribute to this project? Also, looking forward to the Gitlab version, it will be awesome.

[2020-05-16 18:23] zoff99 opened #842 ""Full Changelog" uses tags that are excluded"
i am using ```--exclude-tags``` but some of the exluded tags are used in the diff in "Full Changelog"

see:
https://github.com/zoff99/ToxAndroidRefImpl/blob/zoff99/dev003/CHANGELOG.md

output:
[code]

here the tag "trifajni-1.0.31" is used, which was excluded with the option ```--exclude-tags```

and also therefore tags are used wrong:

[code]

its release 1.0.28, bit the diff uses 1.0.28 as old t

[2020-05-17 08:36] aldesantis commented on #727
Hey @skywinder, are you still looking for help? We use this project [pretty extensively](https://github.com/solidusio/solidus_dev_support#changelog-generator) in the Solidus ecosystem for managing the changelogs of all our extensions, and we'd love to give a hand. I'm not sure about the best way to get the Solidus community to look at this repo in addition to Solidus stuff, but I'll spread the wor

[2020-05-19 18:03] swidjaja opened #845 "Cannot run github_changelog_generator after upgrading to Catalina"
Prior to my upgrade to Catalina, I only did `github_changelog_generator --github-site="https://github.yoursite.com" --github-api="https://github.yoursite.com/api/v3/"` to build my repo (on GHE) changelog.
After updating to Catalina and upgrading github_changelog_generator, I now get the following error
[code]
[code]

Please help. Thanks!

[2020-05-29 13:38] nmncllnk opened #854 "Option --release-branch seems to have no effect"
First of all, thanks for sharing this tool! :- )

I'm now working with a repo that has tags in multiple branches:
[code]
However, I've noticed that passing different values to `--release-branch` seems to make no difference whatsoever. Basically, with either:
[code]
or
[code]
the resulting changelog is exactly the same (all tags from all branches are included):
[code]

[2020-06-02 08:47] nabroyan opened #856 "Running on a private repository owned by an Organization"
I looked into this project and it looks very promising!
I tried to use it to generate a changelog for a repo, which is private and owned by an organization. I tried a couple of approaches, but couldn't get it to work. Here is what I have tried so far:

`github_changelog_generator -u my_company -p private_repo_id -t generated_token`
`github_changelog_generator -u my_github_username -p private_repo_

[2020-06-02 13:35] nmncllnk commented on #856
The repo you're trying to generate a changelog from, can other people inside your organization access it? (Go to your repository in GitHub, then *Settings*, then *Manage access*)?

I suspect that if at least 2 users have access, `github_changelog_generator` should work.

[2020-06-02 18:05] nabroyan commented on #856
Yes, its our dev repo and more than 10 developers work on that repo.
However I do not have permission of viewing _Settings_ on the repo page.

[2020-06-04 13:41] douglasmiller commented on #845
At some point in your OS upgrade, you must have updated this gem from the 1.14.x version to the current 1.15.2. The 1.15.x version no longer extracts the user and project from the `.git/` directory, therefore you must specify the user and project as specified in the program's output.

Personally, I make use of the `.github_changelog_generator` file to specify configurations.

[2020-06-08 10:22] askanymark commented on #856
@nabroyan, Are you sure you've typed org name correctly? I had the same exact issue, but then I realized I was inputting my name and not my company's.

[2020-06-08 10:57] josesimoes commented on #832
Yes, a new release please!
If not a stable one at least an RC...

[2020-06-08 11:20] nabroyan commented on #856
@askanymark I can get public repos of my org with Github API through browser request, so the org name should be correct.
Did you manage to successfully run the script with the following command?
`github_changelog_generator -u my_company -p private_repo_id -t generated_token`

Is the repository that you're running on private?

[2020-06-09 13:43] askanymark commented on #856
@nabroyan Yes, all repos in our organisation are private. However, I do have admin access everywhere, so that might have something to do with it.

[2020-06-10 13:04] KlaasT opened #860 "Generator using milestones not yet released"
Hi,

we've got some strange issues with our project and maybe someone can help. We have a master and some sort of experimental branch. When we fix an issue for the experimental branch it is added to the milestone of the next major release, say 2.0.0. In the meantime we are tagging a bugfix release from the master, lets say 1.2.3.

The issue is that cases, which were placed under milestone 2.0.0, a

[2020-06-12 14:02] mcpierce commented on #854
@nmncllnk Based on my experience, you need to set the **due-tag** option to tell the generate where to stop. In my project I use this to limit what should be included to only those commits between the since and due tags.

[2020-06-12 14:42] mcpierce opened #863 "Changelog includes commits not on the release branch"
For my project I'm using charmixer/auto-changelog-action as a wrapper to run github-changelog-generator. My configuration for that action produces the following command line when it runs:

[code]

The generated ChangeLog file includes commits that are **not** on the release branch named. I've also changed the release branch to reference specifically to our release branch, which produced the follow

[2020-06-12 16:01] tloubrieu-jpl opened #864 "option '--issue-line-labels' raise an error"
I am using version 1.15.2
% github_changelog_generator --version
Version: 1.15.2

I launch the following command line:
% github_changelog_generator --user NASA-PDS --project validate --token TOKEN --configure-sections '{"improvements":{"prefix":"**Improvements:**","labels":["Epic"]},"defects":{"prefix":"**Defects:**","labels":["bug"]},"deprecations":{"prefix":"**Deprecations:**","labels":["depreca

[2020-06-12 16:59] tloubrieu-jpl commented on #864
It works in the RubyMine IDE with a fork of the repo. So the error might be related to my deployment or it has been corrected since the version I was using.
I deployed with:
sudo gem install github_changelog_generator

[2020-06-15 08:43] ferllings commented on #856
Same issue for me

[2020-06-18 06:09] jofierro opened #867 "presets/node.js"
the package [read-pkg-up](https://www.npmjs.com/package/read-pkg-up) return key packageJson right now ☹️

[2020-06-18 06:10] #867 closed

[2020-07-05 03:55] weekly-digest[bot] opened #876 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #875 [Bump diff-lcs from 1.3 to 1.4.4](https://github.com/github-changelog-generator/githu

[2020-07-07 13:08] mcpierce commented on #863
Revisiting this: we just pushed an update of our project and, again, the changelog created includes commits from the develop branch that are *not* in the release. I'm afraid of this confusing the users into thinking those features are present when they're not.

Can someone point out if this is a usage issue and, if so, how do I fix it?

[2020-07-09 21:52] dmarticus opened #877 "the `-u` parameter in the readme is a bit misleading"
Perhaps this is emergent behavior or I'm not using this tool correctly (I just used it for the first time today), but when I tried to run the tool via CLI from the root of my project repo, the README command failed when I passed in my username with the `-u` parameter (output below)

[code]

That stacktrace made me think that I should pass in the _project namespace_ instead of the _username_, and s

[2020-07-12 03:55] weekly-digest[bot] opened #879 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 0 issues have been closed and 2 issues are still open.
## OPEN ISSUES
:green_heart: #878 [updated the readme and the parser help message](https://github.com/github-changelog-

[2020-07-16 13:29] #879 closed

[2020-07-16 13:31] #876 closed

[2020-07-16 18:09] tloubrieu-jpl commented on #864
Do you think there is a change that someone can look at this error ? I am not familiar with ruby so that makes it difficult for me to understand what the issue is.

I am having the error on my laptop deployment (macOS) as well as on github action with 'ubuntu-latest' image.

To install, I run the command:
sudo gem install github_changelog_generator

On github action the error message is:
/var/lib/

[2020-07-17 18:15] developerark commented on #244
I have the same issue. I have not see it happen on enterprise account or may be I have not pushed a new release on the same day. Here is a screenshot. v1.1.0 should be above v1.0.0.

![Screen Shot 2020-07-17 at 1 13 34 PM](https://user-images.githubusercontent.com/23172754/87817981-7f1f5780-c82f-11ea-8020-88f4fe51a4f7.png)

[2020-07-19 03:55] weekly-digest[bot] opened #882 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 2 issues were created.
Of these, 1 issues have been closed and 1 issues are still open.
## OPEN ISSUES
:green_heart: #881 [Bump overcommit from 0.53.0 to 0.55.0](https://github.com/github-changelog-generator

[2020-07-25 13:08] jason-upchurch commented on #877
@dmarticus it sounds like you got it working--I just started using this tool yesterday. The short story is that I ran

`github_changelog_generator -u dmarticus -p functional-todo-app --release-branch master -t <GH token>`

and generated the CHANGELOG.md for your project under user dmarticus.

[code]

The github-changelog-generator documentation seems most appropriately to document interaction with

[2020-07-25 22:09] dmarticus commented on #877
hey @jason-upchurch, thanks for taking the time to respond!  Your explanation makes sense in that this tool is consistent in its interop with Github, and I was certainly able to use the tool without many issues after figuring out how everything worked together.  In light of all that, I'm fine closing this issue out.  Thanks again!

[2020-07-25 22:09] #877 closed

[2020-07-26 03:55] weekly-digest[bot] opened #884 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #883 [Bump rubocop-ast from 0.0.3 to 0.2.0](https://github.com/github-changelog-generator/github-changelog-generator/pull/883), by [dependa

[2020-07-26 14:01] jason-upchurch commented on #864
Hi @tloubrieu-jpl , I'm a novice user of this tool and while looking for documentation came across your issue.

There was a PR that was merged to resolve this, but I also duplicated your error when I used the version from `gem install github_changelog_generator`.

However, when I forked and cloned the fork, then did the build from my repo and generated the following changelog for your repo--does t

[2020-07-27 14:54] woprrr commented on #856
Same problem for my organization :( any solutions ?

[2020-07-27 15:09] woprrr commented on #856
The script execute : /Library/Ruby/Gems/2.6.0/gems/octokit-4.18.0/lib/octokit/response/raise_error.rb:16:in `on_complete': **GET https://api.github.com/repos/IAD-INTERNATIONAL/adr/tags?per_page=100:** 404 - Not Found // See: https://developer.github.com/v3/repos/#list-tags (Octokit::NotFound)

In that case like describe in GITHUB API we have any solution :( (With personal repo that work but not wi

[2020-07-28 02:16] tloubrieu-jpl commented on #864
Thanks @jason-upchurch . Actually I expected a changelog with labels from the github issues to appear directly in the md file thanks to the option  --issue-line-labels ALL

My full command is the following:
% github_changelog_generator --user NASA-PDS --project validate --token TOKEN --configure-sections '{"improvements":{"prefix":"Improvements:","labels":["Epic"]},"defects":{"prefix":"Defects:","

[2020-07-28 13:03] ernestostifano commented on #244
Hi everyone! I think I have some kind of solution. At least I've managed to order tags/releases at will. However, there are two things to keep in mind:

- It seems GitHub uses `GIT_TAGGER_DATE` to determine order in the releases/tags console. Not `GIT_AUTHOR_DATE` nor `GIT_COMMITTER_DATE`.
- If you look for any tag/commit raw data on GitHub (by appending `.patch` to the url) you'll see that any da

[2020-07-28 14:21] justynspooner commented on #665
I am having this exact same issue with the current version. Is there any way to work around this issue? I'd love to be able to use this tool but currently it errors out.

I ran this:

`github_changelog_generator -u [USER] -p [PROJECT] -t [GITHUB_TOKEN] --since-tag [A_RECENT_TAG]`

[code]

[2020-07-28 14:48] jason-upchurch commented on #864
@tloubrieu-jpl did you preview the rendered markdown from my post? When I preview it, I see the following with the labels included in brackets:

![Screenshot from 2020-07-28 10-44-56](https://user-images.githubusercontent.com/49287206/88681579-b7d8ef80-d0bf-11ea-98b3-95c3fc916f94.png)

I used the same command with my own GitHub token inserted, but everything else was the same. I think the issue is

[2020-07-28 23:45] bboe commented on #842
I am also seeing this issue.

[2020-07-29 16:59] tloubrieu-jpl commented on #864
Oh, thank you very much, that is perfect. Actually I missed to scroll horizontally to see the label in your initial post. Sorry about that.
So, now, I am using the changelog tool in github actions, so I would need to deploy the tool from the source on git to make that work instead of using the gem install utility.
Is the fact this option does not work with gem install due to the pull request merge

[2020-07-29 18:49] jason-upchurch commented on #864
@tloubrieu-jpl,

No problem at all! I'm glad it worked :) I'm  finding the tool useful and mainly just trying to figure it out as well.

I'm not a maintainer/contributor,  but that was exactly my question too. Release of the package may not be timed with merging to master?

The workflow I _think_ I used was to clone the repo and
[code]
then

`validate$ gem install --local <path to .gem file create

[2020-07-29 18:53] jason-upchurch opened #885 "Is the latest github-changelog-generator deployed?"
### Summary
At least one open issue seems to be because `gem install github_changelog_generator` gives a version with bugs resolved in the master branch (https://github.com/github-changelog-generator/github-changelog-generator/issues/864#issuecomment-665783773)

building locally and installing the resulting .gem locally resolves the error.

Is the version installed through `gem install` in line wi

[2020-07-29 18:54] jason-upchurch commented on #864
@tloubrieu-jpl I also opened this issue to ask the higher-level question:
https://github.com/github-changelog-generator/github-changelog-generator/issues/885

--Jason

[2020-07-30 00:57] tloubrieu-jpl commented on #864
Thanks @jason-upchurch .  I think our solution might include the creation of a custom github-action which in this case will do the git clone and everything needed after.

This github action will be re-usable (possibly published on the github market place) but it will likely contain some other stuff which can be more specific to our project (and less interesting for others).

I'll let you know on t

[2020-08-02 01:36] weekly-digest[bot] opened #886 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #885 [Is the latest github-changelog-generator deployed?](https://github.com/github-changelog-generator/github-changelog-generator/issues/8

[2020-08-02 19:52] Auzzy commented on #244
@ernestostifano Just tried your command after hitting this issue myself, and it worked beautifully. Thanks!

[2020-08-09 01:36] weekly-digest[bot] opened #888 "Weekly Digest (2 August, 2020 - 9 August, 2020)"
Here's the **Weekly Digest** for [*github-changelog-generator/github-changelog-generator*](https://github.com/github-changelog-generator/github-changelog-generator):

 - - -
# ISSUES
Last week 1 issue was created.
It is still open.
## OPEN ISSUES
:green_heart: #887 [Bump rubocop-ast from 0.0.3 to 0.3.0](https://github.com/github-changelog-generator/github-changelog-generator/pull/887), by [dependa

[2020-08-14 21:48] #829 closed

[2020-08-15 14:22] renehernandez opened #890 "Add PR that are not linked to an issue"
Is a there way to limit the PRs in the changelog to those that are not linked to any issue?

I have researched the documentation, but I couldn't find anything related to it so far.

[2020-08-18 14:23] renehernandez commented on #890
@dlanileonardo any ideas? Is that something that it would need to be implemented?

[2020-08-19 11:30] timurkhisamov opened #891 "Different results when generating a CHANGELOG.md"
### I have a problem with different results when generating the changelog of a project.

As you can see on the screenshot generating the changelog has errors with the order of the pull requests in the releases sections. There was a deletion from one section, an addition to another.

![Screenshot 2020-08-19 at 13 08 49](https://user-images.githubusercontent.com/60743672/90629514-2f65ee80-e228-11ea-

[2020-08-19 12:47] iamsophiesk opened #892 "Generated log path incorrect"
Hi, this is a great project! It took me a while to get it up and running but now I've got it going I can see how useful it will be in the future for my company's projects. :)

I'm using it within Docker, and have got a changelog generating using the following command:

[code]

When the changelog gets generated, though, the script prints that the log has been placed in the wrong directory:

[code]

[2020-08-19 20:11] dlanileonardo commented on #890
Hi @renehernandez

I think this is difficult for this moment, because the Github Api doesn't have linked issues feature in pull request field or endpoint. Just have this feature in [GraphQL API](https://developer.github.com/v4/).

I suggest you can use ```filter-by-milestone``` to control or ```exclude-labels```. I have been used this second, I created **no-changelog** label and i assigned in my i

[2020-08-21 04:02] #890 closed

[2020-08-24 15:01] skywinder commented on #864
Hello, gentlemens. Thank you for a productive conversation. I'm happy that you found a workaround.
I will have a look into the released version and will update it new few das (not with my own dev laptop right now).

ps. if someone can help to deploy github action: I would be much appreciated.

[2020-08-25 09:40] cyberw commented on #361
Is this (at least partially) fixed by #422 ?

[2020-08-28 07:34] JBtje opened #894 "SSL error on Windows with docker"
When I run the following command

[code]
_As a single line, enters added for readability only._ I get the following error:

[code]

The SSL certificate is valid, the server is however not reachable from outside the network. Is there anything I can do to solve this?

[2020-08-28 15:57] skywinder commented on #894
Hello. I didn't try to run it with docker. So cant help with this issue.

[2020-08-29 08:13] ferrarimarco commented on #894
@JBtje can you try pinning the image version to `ferrarimarco/github-changelog-generator:1.15.2`?

[2020-09-01 15:56] BrandonManuel opened #895 "Is there currently a way to get pull request comments using this tool?"
I'd like to get the pull request description associated with each PR (when creating a PR and you're asked to give a title and description - I'd like to grab that description). Is this currently possible with this tool?

Thanks!

[2020-09-02 11:53] jason-upchurch commented on #864
Hello @skywinder! I just checked, and it appears that the problem still occurs--just a side note that I think this project is awesome and I use and promote it! Nice work!

I'm not sure how your deploy pipelines work, but it seems to me (perhaps naively) that the fixed code on the `master` branch is not not in sync with what is installed with `gem install github_changelog_generator` (I opened issue

[2020-09-07 06:15] vanniktech opened #896 "uninitialized constant Faraday::Error::ClientError (NameError)"
[code]

Would it be possible to adjust the breaking change?

[2020-09-18 14:26] skywinder commented on #727
Important update:
All our contributors are really overloaded with our main projects.

But I'm willing to pay and support if someone can help to handle this repo. Please send me a message if anyone interested in this! Cheers!

[2020-09-19 10:29] sappelhoff opened #901 "Setting --base param automatically sets --since param with unwanted side effects"
I first reported this in the gitter chat (see [thread](https://gitter.im/github-changelog-generator/chat?at=5f57456cec534f584fedf00d)). Now opening an issue so that the problem can be properly addressed.

# background

Users can set the `--base` parameter to migrate from an old changelog to github-changelog-generator ... asking github-changelog-generator to append the "old" changelog (i.e., the "b

[2020-09-24 06:28] skywinder commented on #896
Which version do you use?

[2020-09-24 17:40] vanniktech commented on #896
[code]

[2020-10-05 07:55] aried3r commented on #727
Hey @skywinder, I recently started using this gem over at https://github.com/rpush/rpush/ and have been going over the issues of this repo. You recently added the _"in progress"_ tag to a lot of issues, does that mean they are all being worked on? Many of them seem stale.
Just want to make sure not to conflict with ongoing work of others.

[2020-10-07 16:18] skywinder commented on #727
@aried3r hello. I will re-check this tag. Looks like they are outdates. Thanks for remind. And if you want to help: you are very welcome. Just leave a comment in the issue that you're working on.

[2020-10-07 16:51] skywinder commented on #361
@cyberw you're right . it already fixed by great work of @olleolleolle . So I will close this issue

[2020-10-07 16:51] #361 closed

[2020-10-14 20:32] jason-upchurch commented on #864
Hello @skywinder! I tried going through the documentation in `CONTRIBUTING.md` but I don't think I know enough to release the fixed version. But I can see by the current `CHANGELOG.md` that @dusan-dragon 's fix for `line_labels_for` does not appear to be released yet.

If either of you could walk me through how to contribute by releasing, I would be more than happy to spend time either via video,

[2020-10-28 09:05] mhenrixon opened #918 "The full Changelog is wrong"
Hi,

I am using the changelog generator for mhenrixon/sidekiq-unique-jobs. It works perfectly with proper GitHub issue tags. There is just one thing that gives me a headache; the link to view the entire changelog ends up wrong. I think the git tags are sorted by a release date, which gives me diffs like:

[Full Changelog (https://github.com/mhenrixon/sidekiq-unique-jobs/compare/v7.0.0.beta25...v6.

[2020-11-05 14:54] NickHirras opened #919 "Octokit::RateLimit Oktokit::AbuseDetected"
We're hitting this issue in one of our repositories.

[code]

So our build + deployment pipeline is failing.

I saw some previous issues / discussions around this:

https://github.com/github-changelog-generator/github-changelog-generator/issues/656

https://github.com/github-changelog-generator/github-changelog-generator/issues/406

I'm not sure if GitHub has gotten stricter on abuse detection or

[2020-11-17 11:19] waltermaldonado opened #920 "500 - Server Error: Sorry, this diff is taking too long to generate."
I think large diffs must be handled, this is preventing me from generating the changelogs:

[code]

Any workarounds for now?

[2020-11-21 08:21] skywinder commented on #920
Which commands arguments do you use?

[2020-11-21 15:19] waltermaldonado commented on #920
Default configs with
[code]

It works for some repos but for others it doesn't, specially ones with large commits.

[2020-11-26 13:09] dusan-dragon commented on #891
This is already fixed in master branch, but it was not released yet 😞  https://github.com/github-changelog-generator/github-changelog-generator/pull/784

[2020-11-30 21:13] moorara commented on #714
@maierlars @NathanUrwin OK, it took me a while until I understand what does "Immer der, der fragt!" mean! 😉

Here it is: https://github.com/moorara/changelog

[2020-12-01 07:39] martijnsenden commented on #419
What is the status of this?

[2020-12-09 13:28] mtarekswvl commented on #919
Any updates?

[2020-12-09 13:42] olleolleolle commented on #919
@NickHirras Does it happen with unreleased github-changelog-generator?

You can try a `gem install specific_install` using https://github.com/rdp/specific_install

Then install the unreleased, with `gem specific_install github-changelog-generator/github-changelog-generator`.

[2020-12-09 20:31] ioquatix commented on #919
Just checking that you are using authentication?

[2020-12-14 09:50] Integralist commented on #580
👋🏻 there still appears to be issues where the diffs generated are non-deterministic 🤔

It looks like from the last comment that this is caused by the GitHub API rather than a code/logic bug. Is there a way to bubble this issue back up to the API layer?

Thanks!

[2020-12-14 10:23] olleolleolle commented on #580
@Integralist If you have a way to let them know about it, please feel free to direct their attention to this problem (and this Issue in this repo). There's no other reason than nobody doing it.

[2020-12-16 23:13] bruce-szalwinski opened #923 "configure_sections needs better examples"
The documentations is not clear what the value for `configure_sections` parameter should be.  Looking through the [code](https://github.com/github-changelog-generator/github-changelog-generator/blob/8525969c7c4e673d14f62e90b55ca9e39b4197ef/lib/github_changelog_generator/generator/entry.rb#L72), it appears that it wants a JSON document but the docs don't expose what the keys of this document should

[2020-12-17 22:59] bruce-szalwinski commented on #923
Found what I was looking for at https://github.com/github-changelog-generator/github-changelog-generator/wiki/Advanced-change-log-generation-examples

[2020-12-17 22:59] #923 closed

[2020-12-18 02:38] bruce-szalwinski commented on #549
You can supply `--output` with no file name and it will write to standard out.

[2020-12-18 05:11] #549 closed

[2020-12-18 08:35] olleolleolle commented on #923
@bruce-szalwinski Could you make a PR adding a link to that place? I mean, to help Bruce-in-the-past find the content.

[2020-12-21 00:30] beaveis opened #924 "pip install docker"

[2020-12-21 00:30] #924 closed

[2020-12-21 15:16] baza2099 commented on #894
@ferrarimarco getting the same error using the following:  ferrarimarco/github-changelog-generator:1.15.2

[2020-12-22 04:11] kzu opened #925 "Allow passing location of configuration file to ParseFile"
It's quite common nowadays to keep github-related files under the `.github` directory in a repository, to keep the root file listing cleaner.

I've been trying to figure out a way to pass the path to the `.github-changelog-generator` somehow, which [seems to be supported](https://github.com/github-changelog-generator/github-changelog-generator/blob/master/lib/github_changelog_generator/parser_file

[2020-12-22 07:14] olleolleolle commented on #925
Right, good dig!

Would you like to improve the implementation and write a test for it?

[2020-12-22 10:04] kzu commented on #925
He, would love to, but would have to learn ruby from scratch too as part of that. Seems like a large-ish endeavor. Maybe some other kind soul will volunteer 🙏

[2020-12-28 14:03] #457 closed

[2020-12-31 09:18] skywinder commented on #419
@martijnsenden hi, it's a frozen. 🥶
but the good news, that this feature is already implemented. ✅
🙌 I need help with supporting this project.

[2021-01-07 15:42] schinj opened #927 "No merge sha found for PR * via the GitHub API (StandardError)"
Hi,

Thanks for this amazing library.
I am facing the below issue on running the change-log generator command:

Logs:
...
Found 95 tags
Fetching tags dates: 95/95
Sorting tags...
Received issues: 512
Pull Request count: 504
Filtered pull requests: 408
Filtered issues: 8
Fetching events for issues and PR: 416
Fetching closed dates for issues: 416/416
Fetching SHAs for tags: 95
*/vendor/bundle/ruby/

[2021-01-11 06:04] dusan-dragon commented on #832
Maybe @olleolleolle ? I see that you are merging something in recent past. Do somebody know and have permissions to do a release?

[2021-01-11 13:50] olleolleolle opened #928 "Add Ruby 3 to CI, make it pass"
- add Ruby 3 to https://github.com/github-changelog-generator/github-changelog-generator/blob/master/.circleci/config.yml
- perhaps remove the version specifier in the `gem install bundler` section, latest is fine
- use newer ruby Orb `circleci/ruby@1.0`
- make it pass tests without warnings or failures
- or, if that's what you want, pick GitHub Actions instead?

[2021-01-11 16:43] skywinder commented on #727
Bump on this. If anyone wants to participate in the project, here is a great chance to do that 👍:
 https://github.com/github-changelog-generator/github-changelog-generator/issues/928

[2021-01-11 16:58] skywinder commented on #832
Hello everyone. We want to find supporters who can help us to manage the releases of the library.  @olleolleolle, @ferrarimarco, and I did a fantastic job in the past.
But now, our focus moved to other projects.
So if you know someone interested in - let me know, please.

[2021-01-11 16:59] skywinder commented on #727
Hello everyone. We want to find supporters who can help us to manage the releases of the library. @olleolleolle, @ferrarimarco, and I did a fantastic job in the past.
But now, our focus moved to other projects.
So if you know someone interested in - let me know, please. 🖖

[2021-01-11 17:00] #835 closed

[2021-01-14 21:03] ameir commented on #927
I just tested out this project as well and had this same issue. FWIW, I commented out that line and it completed successfully, although I'm sure it's missing some data.

[2021-01-14 21:34] NickHirras commented on #919
Yes using authentication. It's not hitting an API limit, but triggering that abuse detection throttle.

[code]

Showing we still have 4,522 calls remaining when it fails.

[2021-01-18 15:46] morevnaproject opened #931 "Octokit::NotFound error"
Hi! I am facing the below issue on running the `github_changelog_generator` command:

[code]

Any help is appreciated! ^__^

[2021-01-22 19:09] dj-wasabi opened #932 "Feature: Add json output for usage as part of GH "release""
**Is your feature request related to a problem? Please describe.**

I use a Docker image to generate the Changelog.md either when something is merged into master|main (Via GH action) or when I create a "release" (create tag, update changelog/contributors, push info, create GH release, script found with "Additional context). But I also want to a part of the Changelog as to be used in a "release" in

[2021-01-26 22:09] Ayfri opened #933 "Can't install it."
**Describe the bug**
I can't install this gem, I'm getting this every time:
[code]
**To Reproduce**
I just do `sudo gem install github_changelog_generator`.

**Versions:**
 - OS: Ubuntu 20.04.1 LTS
 - Ruby: ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]
 - Gem: 3.1.2

**Additional context**
This is the first time I use/install ruby.

[2021-01-31 20:24] MGatner commented on #919
Also having the same issue. Authentication works fine but there is some abuse trigger preventing the fetches. Seems to stall me out for an hour - I will try again after the imposed delay.
[code]

[2021-02-01 07:40] #842 closed

[2021-02-01 07:57] zoff99 commented on #842
@olleolleolle in what release should this be fixed?
github_changelog_generator-1.15.2 does NOT fix this.

[2021-02-01 08:03] olleolleolle commented on #842
@zoff99 In order to learn if the thing works for your use-case, you could attempt to use the version in the `master` branch.

Either using a Gemfile, https://stackoverflow.com/a/13750551/267348
Or, using the specific_install gem: https://github.com/rdp/specific_install#usage

[2021-02-01 11:10] zoff99 commented on #842
i'm running it insider docker on circleCI with these commands:

https://github.com/zoff99/ToxAndroidRefImpl/blob/zoff99/generate_change_log/.circleci/config.yml

how can i install the master version there?

[2021-02-01 12:09] olleolleolle commented on #842
In that case, perhaps you can `sudo $(which gem) install specific_install && sudo $(which gem) specific_install github-changelog-generator/github_changelog_generator`:

https://github.com/zoff99/ToxAndroidRefImpl/blob/zoff99/generate_change_log/.circleci/config.yml#L22

[2021-02-01 15:39] zoff99 commented on #842
hmm, thats now working

[code]

[2021-02-01 15:47] zoff99 commented on #842
ah ok now i get this error:

[code]

[2021-02-04 21:23] ameir commented on #842
@zoff99 I had some issues with the master branch as well. If I have time, I'll look at what's needed to fix. In the meantime, you can run this to get the changes:

[code]

FWIW, this builds successfully from the `ruby:2.7` Docker image.

[2021-02-05 06:36] zoff99 commented on #842
the error i posted is not from compiling, but when i run the thing. it does not work but give this error

[2021-02-05 06:41] zoff99 commented on #842
@ameir your fix produces output again :+1:

[2021-02-05 14:06] schinj commented on #927
@ameir But are you able to get the expected changelog set?

[2021-02-10 11:22] stephenpmurray commented on #316
Can anyone confirm whether the `configure-sections` option actually works at the moment, or whether this is a WIP feature?

[2021-02-10 11:25] dusan-dragon commented on #316
@stephenpmurray `configure-sections` works for us in our project

[2021-02-10 11:40] stephenpmurray commented on #316
@dusan-dragon Thanks for the quick reply. At the risk of hijacking this thread, do you have an example of this being used? I have added the following to `.github_changelog_generator`:
[code]
But am recieving the following error:
`entry.rb:75:in `block in parse_sections' : no implicit conversion of String into Integer`
An issue of JSON string parsing, perhaps?

[2021-02-10 12:22] dusan-dragon commented on #316
@stephenpmurray as I wrote I am not sure about `add-section`, instead we defined all sections via `configure-sections`

This works for us:
[code]

[2021-02-10 12:35] stephenpmurray commented on #316
@dusan-dragon Thanks for the help, that's working for me, and I can confirm that `add-sections` is working with the above format.

Would it be helpful if I open a PR adding an example to the README?

[2021-02-11 08:54] timurkhisamov commented on #891
@dusan-dragon unfortunately, same issues with the 1.15.2 version 😞

[2021-02-11 09:03] dusan-dragon commented on #891
@timurkhisamov 1.15.2 is very very old version :) it does not have fix mentioned in my comment above. Note that there is additional 83 commits on master branch which are not in 1.15.2

Maybe @olleolleolle is planning 1.15.3 soon?

[2021-02-15 11:52] stephenpmurray commented on #854
Noticing the same thing. Setting release-branch seems to have no effect

[2021-02-15 15:48] mcpierce commented on #854
Due to a lack of response from the author, I've dropped using this action. It's just very frustrating to have absolutely no acknowledgement, not even a "I'll look at this as soon as I can" from a developer.

I'm now using marvinpinto/action-automatic-releases, which at least adds a changelog for the changes between the current tag and the previous semver looking tag. Not great, but better than not

[2021-02-18 08:05] olleolleolle commented on #933
👋 Hello! This does sound like a _RubyGems_ issue with your environment.

Here is a RubyGems Issue which describes someone having this kind of network access trouble:
https://github.com/rubygems/rubygems/issues/2253#issuecomment-432111545

Hope this helps! I will close this Issue, but please let me know with a comment if you were able to get anything working! 👋

[2021-02-18 08:05] #933 closed

[2021-02-18 08:10] #882 closed

[2021-02-18 08:10] #884 closed

[2021-02-18 08:10] #886 closed

[2021-02-18 08:10] #888 closed

[2021-02-18 15:55] Rafatcb commented on #856
I had the same problem. Solved it by checking "Full control of private repositories" when generating the token:

![image](https://user-images.githubusercontent.com/26308880/108383453-9456cd00-71e8-11eb-8a08-3532b4176e8a.png)

[2021-02-18 20:44] ArielSAdamsNASA opened #935 "Feature Request: Display Total Issues"
**Is your feature request related to a problem? Please describe.**
Would like to display the total number of issues closed for each release.

**Describe the solution you'd like**
The output would look similar to: In this release 445 issues were closed.

**Describe alternatives you've considered**
I have tried loghub, however, it does not allow as much customization as github-changelog-generator

*

[2021-02-21 17:03] jackton1 opened #939 "Duplicate lines when specifying a base file"
**Describe the bug**
Using a base when generating change logs results in duplicate sections.

**To Reproduce**
Steps to reproduce the behavior:
1. Run
[code]

Results in

[code]

**Expected behavior**

Only single lines are generated to get around this you'll need to use
[code]

[2021-03-16 21:32] nrdxp opened #940 "Issues are incorrectly marked as resolved when converted to discussion"
Had a bunch of issues in divnix/devos turn into discussions and the changelog generator marked them as resolved when may of them are still for discussion, some may never be implemented.

[2021-03-17 08:36] olleolleolle commented on #940
Q: Does that happen on re-run?

Also, does the API return any queryable information (such as a Label) on such an Issue-turning-into-Discussion?

[2021-03-18 03:56] nrdxp commented on #940
It seems to. Changelog is set to autogenerate on every PR merge and there have been about 3 of those in the last 48 hours or so.

I'm not 100% sure on this. I checked the api reference briefly but didn't see anything. I haven't used GitHub's api directly much so I could easily be missing something. The discussion has the same name as the original issue though, which may be a start.

[2021-03-20 08:26] yooksi opened #941 "Missing issue from changelog"
**Describe the bug**
Issue not included in changelog.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/cocolabs/pz-zdoc
2. Generate changelog with [these settings](https://gist.github.com/yooksi/540f0c59633cd0f857a74848be7ccfc3).
3. Open generated changelog.
4. See that issue `#65` is missing from `Fixed bugs` section in `v3.1.0`.

**Expected behavior**
Issue [`#65`](

[2021-03-20 08:58] yooksi commented on #941
I tried redoing the tag with the current date on the same commit and the issue persisted. I then tried moving the tag to commit https://github.com/cocolabs/pz-zdoc/commit/32615cf3a6d867056518219f7b58e5053187fe2e (one commit above) with current date and this issue does not persist.

This leads me to believe that `github-changelog-generator` determines the issue range to include based on the date of

[2021-03-20 12:56] vanniktech commented on #896
This is still an issue for me:

[code]

[2021-03-21 19:38] olleolleolle commented on #896
So,

4.14.0 octokit derives from an older Faraday error class.
https://github.com/octokit/octokit.rb/blob/v4.14.0/lib/octokit/middleware/follow_redirects.rb

4.15.0 and onwards, octokit uses the expected error class.

[2021-03-21 19:40] olleolleolle commented on #896
The repair was done in Octokit, by this commit.

https://github.com/octokit/octokit.rb/commit/3e9054bb2019a5c07fe62ecda01cf09d8a60dd44

Closing 👋 !

[2021-03-21 19:40] #896 closed

[2021-03-22 13:45] mfortin opened #942 "Release 1.16: If you give a specifc name to the GitHubChangelogGenerator::RakeTask, it breaks."
**Describe the bug**
Since 1.16 was released, rake is broken. See full trace here https://travis-ci.org/github/dev-sec/chef-os-hardening/jobs/763925521
[code]

**To Reproduce**
Create Rakefile with
[code]
Run `bundle exec rake kitchen`

**Expected behavior**
No error. Expected documentation about required changes, if any.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2021-03-22 14:19] olleolleolle commented on #942
@mfortin What happens to your rake task if you attempt to leave out the `:changelog` argument (which is the default, according to https://github.com/github-changelog-generator/github-changelog-generator/blob/master/lib/github_changelog_generator/task.rb#L35 ) ?

[2021-03-22 14:34] olleolleolle commented on #942
@mfortin Does the change in the linked PR change things for you?

[2021-03-22 14:47] kennyadsl commented on #942
I have the same issue and removing the `super` call as done #943 seems to fix it.

[2021-03-22 14:53] mfortin commented on #942
removing `:changelog` seems to be OK.

[2021-03-22 14:54] mfortin commented on #942
I believe the right solution is to remove the `super` call, as it is backward compatible

[2021-03-22 14:58] kennyadsl commented on #942
Maybe you can keep the `super` call only when there's no argument passed and emit a deprecation warning for who is still using it if you want to remove it in the future.

[2021-03-22 15:02] olleolleolle commented on #942
@kennyadsl Calling `super()` allows it work, too.

[2021-03-22 15:04] kennyadsl commented on #942
Right!

[2021-03-22 15:08] #942 closed

[2021-03-22 15:18] mfortin commented on #942
@olleolleolle are you planning on creating a new release today ?

[2021-03-23 10:09] olleolleolle opened #945 "Not all options listed in OptionParser have optional arguments"
**Describe the bug**

The listed options are routinely shown as having `--optname [FLORP]` where FLORP is now described as _optional_ argument to the `--optname`.

This is a docs problem, since many of these require a value to work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to lib/github_changelog_generator/parser.rb
2. Read the individual options defined
3. See issue that

[2021-03-24 03:46] rposborne commented on #927
Seeing this as well on the https://github.com/countries/countries repo for PR 1.

[2021-03-26 20:49] magneland opened #947 "Allow `bin/github_changelog_generator` to be invoked from a path outside the repo"
**Is your feature request related to a problem? Please describe.**
As part of my local development workflow, I would like to make some code changes to this repo, and quickly run the generator on another gem for testing it out.
I tried this command locally (note the `cwd` is outside the forked repo):

[code]

The error happens because files in `lib/` use the "require" directive to include other fil

[2021-03-27 09:02] #945 closed

[2021-03-27 09:15] olleolleolle commented on #947
Have you attempted to use the Bundler feature "local"? It allows Bundler to recognize a path on your computer as "the" resolution for a gem in a Gemfile.

If you add a Gemfile to the gem you wish to test (it probably exists already), and then, add a gem "github_changelog_generator" in there, when you run the command in the "other gem" project, Bundler will pick your cool-and-edited work instead of

[2021-03-27 21:53] apolopena commented on #941
I am also confused about the dating system. I would assume that any PRs closed before a tag is created would be included in that tag (release) but what I am seeing is closed PRs (prior to the latest tag being created) showing up in the Unreleased section rather than in the section for that tag.

[2021-03-28 21:42] apolopena opened #950 "The log show no token used when an access token is being used."
**Describe the bug**
When [using an access token](https://github.com/github-changelog-generator/github-changelog-generator#github-token) via ENV variable 'CHANGELOG_GITHUB_TOKEN'  and then generating a changelog with:

-  `github_changelog_generator -p myproject -u myproject-at-some-github-repo`

The output log shows that a token was not used even though it is was
(this log output is truncated for

[2021-03-30 08:12] dusan-dragon opened #951 "Docker images are not published for new releases"
Hi,

I see that there were 2 new releases 1.16.0 and 1.16.1 thank you @olleolleolle for releasing it. I noticed that in https://hub.docker.com/r/ferrarimarco/github-changelog-generator/tags they are missing. Is there a plan to publish new images?

Thank you

[2021-03-30 08:39] dusan-dragon commented on #951
Ahh I see that there is separate repo for it https://github.com/github-changelog-generator/docker-github-changelog-generator I will create PR there.

[2021-03-31 19:26] kigster opened #952 "Getting an error: ` 'list_issues': wrong number of arguments (given 3, expected 0..2) (ArgumentError)`"
**Describe the bug**

Running it on my private private repo, **which does not have any issues logged**, but does have a bunch of tags,  although the same error happens even after I created a dummy issue.

[code]

### To Reproduce

Unfortunately, this is a private repo.

Ruby versions tried:

 * 3.0.0

Gem version tried:

 * 1.16.1

[2021-04-01 07:49] olleolleolle commented on #952
The method called is here:

https://github.com/github-changelog-generator/github-changelog-generator/blob/master/lib/github_changelog_generator/octo_fetcher.rb#L415

[2021-04-05 22:42] marcoroth commented on #952
If you need a public repo to reproduce the issue: We ran into the same issue in [`stimulus_reflex`](https://github.com/hopsoft/stimulus_reflex).

Downgrading `github_changelog_generator` to `v1.15.2` seems to resolve the issue for us.

Locally I can reproduce the `ArgumentError` with this using Ruby 3.0.0 and 1.16.1:

[code]

[2021-04-06 13:08] #928 closed

[2021-04-06 13:08] #952 closed

[2021-04-07 07:24] attieretief commented on #941
I can confirm the above behaviour - I have the exact situation in one of my repos

[2021-04-14 20:14] emilyjablonski opened #954 "Unable to run, undefined method `include?' for nil:NilClass (NoMethodError)"
**Describe the bug**
I am unable to produce a changelog at all with the command `github_changelog_generator -u repo-namespace -p project-name --max-issues 50`, and get the below output

Found 36 tags
Fetching tags dates: 36/36
Sorting tags...
Received issues: 100
Pull Request count: 554
Filtered pull requests: 59
Filtered issues: 35
Fetching events for issues and PR: 94
Fetching closed dates for i

[2021-04-14 21:58] #951 closed

[2021-04-15 05:04] olleolleolle commented on #954
It's a defect with this software. Does it happen with the most current code (unreleased)?

[2021-04-15 18:00] emilyjablonski commented on #954
I believe so, I just installed it yesterday with `gem install github_changelog_generator`

[2021-04-15 18:11] emilyjablonski commented on #954
`def sha_in_release_branch(sha)
      branch = @options[:release_branch] || @fetcher.default_branch
      shas_in_branch = @fetcher.commits_in_branch(branch)
      shas_in_branch.include?(sha)
end`
Here is the specific function for me that appears to be failing, as if commits is null?

[2021-04-15 19:19] olleolleolle commented on #954
@emilyjablonski Ah, oh, I meant the other way around, if you were to use the unreleased code, can you reproduce the issue?

I think there are mentions of the gem specific_install in this bug tracker. That's one way of test-running unreleased code.

[2021-04-16 12:40] ferrarimarco commented on #644
Done in https://github.com/github-changelog-generator/docker-github-changelog-generator

[2021-04-16 12:40] #644 closed

[2021-04-16 12:41] ferrarimarco commented on #894
Can you open an issue in https://github.com/github-changelog-generator/docker-github-changelog-generator, after trying with the latest release?

[2021-04-16 12:41] #894 closed

[2021-04-20 12:40] donofriov commented on #919
Hey are there any updates on this? I'm starting to get this abuse trigger more often on all my repos with large changelogs and then I get locked out for an hour.

[2021-04-24 11:11] jackton1 opened #956 "Error generating change log using >=1.16.0"
**Describe the bug**
Experiencing issues after upgrading from `1.15.2` -> `1.16.x`

[code]

**To Reproduce**
Steps to reproduce the behaviour:

[code]

**Expected behavior**
Running the command above doesn't result in any errors

[2021-04-26 00:14] jackton1 commented on #956
https://github.com/github-changelog-generator/github-changelog-generator/issues/952

[2021-04-26 04:24] olleolleolle commented on #956
Thanks, this issue has been fixed by #949, which will be in an upcoming release. You can use that unreleased code today, using the gem specific_install or Bundler git gem support, or by waiting for a new release.

[2021-04-26 04:24] #956 closed

[2021-04-26 15:52] DavidKuna commented on #854
Having the same issue. Any updates on this?

[2021-04-28 08:11] dusan-dragon commented on #954
I tried it with specific_install and it throws same error :/

[2021-04-28 08:46] dusan-dragon commented on #954
Also note that it has just issues with some specific PRs I guess, because on some repos 1.16.1 works and on some it does not.

[2021-04-28 10:25] #954 closed

[2021-04-28 10:30] olleolleolle commented on #918
@mhenrixon If you can come up with a good story for the sorting of tags, to make it... topological (is that word?) instead of date-based, then perhaps that's easy to change.

It'll be a change, though. The generated changelog wants both to reflect git structure (what Issues were fixed in what tags, and what PRs were closed in what tags) _and_ time-based things (for when there is no interaction wit

[2021-04-28 10:32] olleolleolle commented on #954
@dusan-dragon Hi! I made a change, after reading the code, and merged it. Could you re-run your check, using specific_install, to see if it had any effect?

[2021-04-28 10:41] dusan-dragon commented on #954
@olleolleolle I can confirm that with newest master the issue is gone. Looking forward for new release 🎉

[2021-04-28 10:51] olleolleolle commented on #954
@dusan-dragon Appreciate the support. v1.16.2 is on RubyGems.org now.

[2021-05-01 14:04] mvz commented on #222
This gem now uses octokit, so I think this ticket can be closed.

[2021-05-01 15:24] olleolleolle commented on #222
Thanks all!

[2021-05-01 15:24] #222 closed

[2021-05-04 06:27] Bluefitdev commented on #740
I had the same issue, apparently its a wrong user for my part. Apparently the repo belongs to my org instead of my user

[2021-05-05 02:56] Bluefitdev opened #961 "Stuck on "Fetching closed dates for issues""
Hey guys

I have 2 repos, front end and backend. Front end works fine when i generate changelog for the first time, however backend stucks here:

[code]

Then it just stuck for more than a day now, i tried to cancel, rerun, run from docker, nothing works. Any idea why?

When I cancel with `ctrl + c` it just says interrupt, 'block in make_fiber`. not sure what's that...

My `github_changelog_genera

[2021-05-05 04:06] ioquatix commented on #961
Please run it again with `CONSOLE_LEVEL=debug` and report all the output.

[2021-05-05 04:07] olleolleolle commented on #961
Hi,

(Go for hello everyone, we want to include _everyone_!)

Thanks for the report!

Can you add a backtrace of where you Ctrl-c? That may or may not make this easier to pinpoint.

[2021-05-05 05:08] Bluefitdev commented on #961
Hey guys, gee you're fast in replying! Thanks for the amazing project

Here's `CONSOLE_LEVEL=debug` doesn't give me extra information, I reckon because it has no error at all? its just stuck at the "Fetching closed date for issues".

Also if its worth noting, this project is in laravel (php) if that affects anything which i think it shouldn't? The other one that works is in react

Here's the full

[2021-05-05 06:21] olleolleolle commented on #961
- Upcoming Ruby 3.0.2 has a bug fix, that _may_ be relevant to this issue.
- Can you try running with Ruby 2.7?

[2021-05-05 06:52] Bluefitdev commented on #961
Hey, i tried running with ruby 2.7

Same result after 20 minutes that I have to cancel it

[code]

[2021-05-05 07:02] olleolleolle commented on #961
Thanks for making an attempt!

[2021-05-05 10:01] ioquatix commented on #961
`CONSOLE_LEVEL=debug` should give you a ton of extra output from the event loop and `async-http`. Are you getting that?

[2021-05-05 23:30] Bluefitdev commented on #961
No i didn't get anything at all,

[code]

[2021-05-06 04:38] olleolleolle commented on #961
What if you leave off the initial && just after the "debug" word?

[2021-05-06 04:57] ioquatix commented on #961
Oh, yeah, totally missed that. It should be `CONSOLE_LEVEL=debug ./command` without the `&&`.

[2021-05-06 05:42] Bluefitdev commented on #961
Omg guys i missed it!!

Here's the log. although not sure if it meant something. It stucked at the same stream after 2.6s

[code]

[2021-05-06 12:50] ioquatix commented on #961
This log file looks okay.

[2021-05-10 08:44] HevaWu commented on #961
I got same issue now. But in my case, it also shows a warning about `Can't fetch commit e01afc986580916f72ef76e9bdaf31f476fb0423. It is probably referenced from another repo.`.
<img width="1303" alt="Screen Shot 2021-05-10 at 15 44 38" src="https://user-images.githubusercontent.com/19393071/117631444-36b69900-b1b7-11eb-9090-885a5ccc5276.png">

2 weeks ago, the same script works well. But for now,

[2021-05-13 00:32] denchen commented on #961
So I'm running to this exact issue, and I tried to downgrade back to the original version I was using (**`v1.15.2`**), but now I'm getting a bunch of errors:

[code]

I tried to uninstall and reinstall, but still the same thing:
[code]

How do I cleanly uninstall everything and try again?

[2021-05-13 02:56] Bluefitdev commented on #961
Weirdly it only happens in some repo. In my case only 1 repo, the rest are fine..

[2021-05-14 01:40] ioquatix commented on #961
It looks like you might be using a mixed up install. I see in the log the executable is coming from your system. Make sure you install it using bundler and then use `bundle exec`.

[2021-05-14 05:16] jorgecarleitao opened #962 "front-matter does not allow break lines?"
**Describe the bug**

When the changelog is created with a section `front-matter=For older versions, see X`, the output is

[code]
i.e. there is no break line.

Is there a way to fix this as a user, or is it a bug?

[2021-05-14 06:07] olleolleolle commented on #962
I would call it a bug, one which perhaps occurs for users that do not use the Rake task way of configuration - since there they have the full power of Ruby - they can add "\n" as they want to in their configuration line.

Are you using the configuration file way of configuring, here? (Asking to narrow down where to try finding the current behavior.)

Proposed Workaround 1: use a Rakefile and confi

[2021-05-14 06:48] olleolleolle commented on #961
@ioquatix Most users of this tool are not primarily Ruby users

Here's a very small guide to what the above meant.

## Using Bundler & `bundle exec`

In order to app-isolate the RubyGems packages used when running a Ruby tool, Ruby users often rely on [Bundler](https://bundler.io/), a "package manager manager". It installs and selects what versions of packages should be used.

These steps would ge

[2021-05-14 09:40] jorgecarleitao commented on #962
I am using the docker image and the configuration file `.github_changelog_generator`.

[2021-05-14 09:50] olleolleolle commented on #962
@jorgecarleitao

An example input in the field would be something like

[code]

which would turn into a YAML preamble aka front-matter.

If you try adding that single option as a CLI configuration option, does that generate a YAML frontmatter?

[2021-05-14 09:55] jorgecarleitao commented on #962
Thanks a lot @olleolleolle for your fast reply and help.

So, that seems to raise an error instead:

[code]

command:

[code]

[2021-05-14 10:04] olleolleolle commented on #962
@jorgecarleitao That's good news, since we can change the to_yaml to a YAML.generate implementation instead.

[2021-05-14 11:21] #962 closed

[2021-05-14 11:32] olleolleolle commented on #962
The bug fix has been released as v1.16.3.

[2021-05-14 11:33] jorgecarleitao commented on #962
wow, thank you so much for such a quick reaction, fix and release ❤️

Much appreciated, @olleolleolle !

[2021-05-16 11:38] jorgecarleitao commented on #962
Does this release triggered the release of a new docker image?

[2021-05-16 15:05] olleolleolle commented on #962
@jorgecarleitao I don't think that it does. I don't know exactly how that works, though!

[2021-05-19 02:52] denchen commented on #961
Thanks @olleolleolle . I'm new to Ruby & `bundle`, so your instructions helped, but I had to change Step 2 to:

[code]

After that, everything worked as expected!

[2021-05-19 04:41] ioquatix commented on #961
@olleolleolle Maybe you can enable discussions for this repo, and transfer this to Q&A.

[2021-05-19 07:05] #961 closed

[2021-06-15 13:11] Ayfri opened #970 "Support changelog for branches."
**Describe the solution you'd like**
Be able to generate a changelog from any release until the latest commit from a branch. I'm needing that to generate a changelog for a beta, but the beta is kept into a branch until its release.

[2021-06-17 15:53] RafalSkolasinski commented on #891
It seems that `Version: 1.16.4` is released but we were still quite recently observing it in our repo https://github.com/SeldonIO/seldon-core/issues/3228

[2021-06-18 19:06] bmaupin commented on #244
The fix from @ernestostifano worked great for me, although I found the explanation to be partially inaccurate, in particular this part:

At least in my case, GitHub was sorting my tags by creator date:

[code]

I had created `v0.6` myself using `git tag`, whereas the other tags I'd created on the GitHub site.

For comparison, here are the tags sorted by tagger date, which looks correct:

[code]

A

[2021-06-21 08:56] RafalSkolasinski opened #971 "Pull requests missing"
**Describe the bug**

We recently noticed that in latest releases of our [Seldon Core](https://github.com/SeldonIO/seldon-core/) the `Merged pull requests` section is missing.

**To Reproduce**

Full changelog with missing pull requests for releases 1.8 and 1.9 is [here](https://github.com/SeldonIO/seldon-core/blob/master/CHANGELOG.md).

Steps to reproduce the behavior:
1. Clone seldon-core
2. Che

[2021-06-24 12:43] axsaucedo commented on #971
+1

Would be great if there are any insights on how to fix this

[2021-06-26 17:47] YarikTH commented on #971
I have a similar issue in https://github.com/YarikTH/ureact when tried to use this generator. And it seems that I found the root of at least my problem. It's because I started to merge PR using rebase. It seems that the changelog-generator doesn't know how to handle this, so it ignores PRs and emits a warning.

Note: I tried to use changelog-generator for the first time, so I have nothing to compa

[2021-06-30 18:13] djhoese opened #972 "No newlines in output"
**Describe the bug**
I haven't run github_changelog_generator in a while, but with a new install the output has no newlines added.

Example output:

[code]

**To Reproduce**

[code]

**Expected behavior**
New lines between entries and sections.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] P