[2014-11-07 11:38] skywinder opened #4 "Implement option to specify output filename"
Example: `... -o my_CHANGELOG.md`

[2014-11-07 11:39] #4 closed, assigned to nobody

[2014-11-07 11:40] skywinder opened #5 "Last tag not appeared in changelog"
Last tag not appeared in changelog.

[2014-11-07 11:41] #5 closed, assigned to nobody

[2014-11-07 11:48] skywinder opened #6 "Add support for fixed issues and implemented enchanments."

[2014-11-07 16:00] #6 closed, assigned to nobody

[2014-11-10 07:00] skywinder opened #9 "Markdown formating in the last line wrong"

[2014-11-10 07:01] skywinder opened #10 "Test issue"
Test issue to check filters. - any invalid isue should not be included in CHANGELOG

[2014-11-10 11:39] #10 closed, assigned to nobody

[2014-11-10 12:38] skywinder opened #11 "Detect username and project form origin"
To eliminate requirement always put user and project -> try to detect from remote adress of origin in current repo.

[2014-11-10 12:41] skywinder opened #12 "Bug with wrong credentials in 1.0.1"
can't run script without token

[2014-11-10 12:45] #9 closed, assigned to nobody

[2014-11-10 12:45] #11 closed, assigned to nobody

[2014-11-10 12:45] #12 closed, assigned to nobody

[2014-11-10 15:08] skywinder opened #16 "Test Question (should not appear in changelog)"
This is a test question that shouldn't include in any CHANGELOG.

[2014-11-10 15:08] #16 closed, assigned to nobody

[2014-11-12 09:10] skywinder opened #19 "Implement ability to retrieve GitHub token from ENV variable (to not put it to script directly)"

[2014-11-12 09:11] skywinder opened #20 "Script fills changelog only for first 30 tags."
It's needed to update API according this discussion:
http://stackoverflow.com/questions/26803306/get-all-tags-from-github-repository

[2014-11-12 12:36] skywinder opened #21 "Add support for forked repo (to extend changelog with parent's changes)"

[2014-11-13 07:36] #19 closed, assigned to nobody

[2014-11-14 09:02] skywinder opened #22 "Use milestone to specify in which version bug was fixed"
In case, when bug was closed after release date - there is no option to detect, in which version it was fixed.
One of the option - is use milestone for that.
i.e. first - look at milestone name is the same with tag name - then put this bug in that version. Otherwise work as usual, i,e, use closed date to detect in which version, when bug was fixed.

[2014-11-17 15:09] #20 closed, assigned to nobody

[2014-11-20 22:41] glenlovett opened #30 "Docs lacking or basic behavior not as advertised"
Hi, I came upon this gem and it looks like exactly what I am looking for to generate some changelogs.

Unfortunately I can't get it to work. Ive installed the gem via `gem install github_changelog_generator`.
When I try `github_changelog_generator` I receive the following output:

[code]

Is there additional configuration I need to perform?

[2014-11-21 09:16] skywinder opened #31 "Separate by lists: Enhancements, Bugs, Pull requests."
Now it's used prefix for each issue, That look god in case 1-2 issues of the same type, but not very nice in case of 5+ same type issues.
It's needed to create at least 3 separate lists per version:
- Merged pull requests:
- Implemented enhancemets:
- Fixed bugs:

[2014-11-21 13:19] rodrigopavezi opened #32 "Error when trying to generate log for repo without tags"
Hi There,

I am getting the following error when running the command with my token.

[code]

Would you know what should I do?

Thanks!

[2014-11-22 21:22] skywinder opened #33 "Detailed output"
After output

It seem like script is hanging. It's needed to be more verbose.

[2014-11-22 21:28] skywinder opened #34 "Encapsulate [ > * _ \ ] signs in issues names"
Markdown identify `>` symbol like start quote sign.
It's needed to be encapsulated: `/>`

[2014-11-24 20:40] skywinder opened #35 "Crash when try generate log for rails"
[code]

[code]

[2014-12-10 10:20] #34 closed, assigned to skywinder

[2014-12-11 12:04] skywinder opened #37 "Bugs, that closed simultaneously with push not appeared in correct version."
Example skywinder/ActionSheetPicker-3.0#111 and skywinder/ActionSheetPicker-3.0#112
should be in 1.3.9

[2014-12-11 15:14] skywinder opened #38 "Add ability to run with one parameter instead -u -p"
i.e. to put just skywinder/Github-Changelog-Generator
ot url https://github.com/skywinder/Github-Changelog-Generator as one parameter

[2014-12-15 15:05] skywinder opened #41 "Sometimes user is NULL during merges"
Example: when generate changelog for https://github.com/rails/rails
for  example issue rails/rails#17385
now there is workaround in #40 - in case that user is null - just put "Null user" plug.
Need to research that case.

[2014-12-16 15:52] #30 closed, assigned to nobody

[2014-12-16 15:52] #33 closed, assigned to nobody

[2014-12-16 15:52] #38 closed, assigned to nobody

[2014-12-22 12:18] #35 closed, assigned to nobody

[2015-01-15 22:31] #22 closed

[2015-01-15 22:31] #32 closed

[2015-01-15 22:39] skywinder opened #44 "Test pull request with invalid label (#26) in changelog appeared."
This test pull-request should not appear in the changelog

[2015-02-01 05:51] williewheeler commented on #31
+1. Would look cleaner as headers rather than list item prefixes.

[2015-02-01 22:18] skywinder commented on #31
@williewheeler Got it! I'm too! :) I will implement it on this week!

[2015-02-03 16:48] GeekOnCoffee opened #47 "Not Released"
Would love to add a flag that includes a Not Released section at the top which is all of the entries which haven't yet been tagged... not sure how easy/hard this would be, if you can give me some idea I can potentially look at implementing it.

[2015-02-03 18:19] skywinder commented on #47
Actually it's should be so hard to implement.
But What the purpose to highlight features, that not in release yet?
Can you provide more detailed example, how it should look?

[2015-02-03 18:28] skywinder commented on #47
@GeekOnCoffee ok, I think I got your idea.
You want to generate feature-list, that will be in next tag, isn't it?
What about to implement key for example `--next-release` which allow to generate list of features, that will be added to next tag only? It will fit your requirements?

[2015-02-03 18:42] GeekOnCoffee commented on #47
Yup, that's exactly what I'm looking to do.

[2015-02-04 09:43] skywinder commented on #47
@GeekOnCoffee Great! Good idea! :+1:  I will implement it soon!

[2015-02-04 09:45] skywinder commented on #37
skywinder/ActionSheetPicker-3.0#111 should be in **1.3.12**

[2015-02-09 13:10] skywinder commented on #37
Actually, it's not a bug:

This behaviour occurs, when you close issue by [commit message](https://help.github.com/articles/closing-issues-via-commit-messages/) but NOT **`push` it to github before create a new version tag.**

In that case there `closed date` of the issue will be later than `date of tag`. That's why this issue goes to next tag.

**How to avoid it:**
- push your branches before cre

[2015-02-13 17:00] runar commented on #31
I would like this feature as well. Has there been any progress? :)

[2015-02-14 04:56] skywinder commented on #31
@runar Yep. It's one of the most important feature right now. But I have to fix some minor bugs before.
I'll try to find time for next week.

[2015-02-14 11:35] runar commented on #37
I’m having this issue as well, and hopefully your fix will work when released. Your milestone fix works for now, but I’d prefer to name my milestones different from my tags. Is there any way to test the development version?

I use the [GitFlow with GitHub workflow](http://datasift.github.io/gitflow/GitFlowForGitHub.html), and I think tags are created before the commits with issue references are pu

[2015-02-16 21:07] skywinder commented on #37
@runar yes, I have exactly the same problem with GitFlow.

**Actually, it's not a fix..** I notice, that GitHub close issues in range of 20-30 seconds after pushing. So, I just add a threshold in 60 secs for all issues (all issues, that closed in 1 minute after tag date also added to this release).

But I just understood that is works, because I do all my release versions with a script.
Thus, is's

[2015-02-16 22:44] runar commented on #37
@skywinder: Thank you for your explanation!

I believe I have found something that hopefully may help. The following API call returns all events for an issue, including the «closed from commit» event:

[code]

Here is the output of the call to an [issue closed from a commit](https://github.com/runar/gittest/issues/3) (with irrelevant data removed):

[code]

On events closed the «normal» way (not f

[2015-02-17 11:48] skywinder commented on #37
@runar  Awesome! Thanks! :ghost:

[2015-02-17 11:52] runar commented on #37
@skywinder Let me know if you make it work and need help testing! :smile:

[2015-02-17 22:49] #37 closed

[2015-02-17 22:55] skywinder commented on #37
@runar Done! It's time to check it! :) Version `1.2.8` in gem repo already!

[2015-02-18 08:47] skywinder opened #51 "Add ability to include separate commits to changelog by regex pattern"
Sometimes I fix some minor things directly in `develop` branch, without creating separate issue.

It will be very handy to have ability ti highlight it in changelog by matching some user-defined regex pattern in commit message.

For example ">" in the beginig of commit message, etc.

[2015-02-18 08:49] #41 closed

[2015-02-18 08:52] skywinder commented on #21
I don't this that it will be essential and useful feature. So decide to close this issue.

[2015-02-18 08:52] #21 closed

[2015-02-18 15:12] skywinder commented on #51
Ans add separate list for that  commits for example Maintenance
Example: https://github.com/deis/deis/blob/master/CHANGELOG.md

[2015-02-18 15:20] skywinder opened #52 "Separate list exclude and include labels"
In order to support more projects with customs labels for bugs etc - better to implement separate list for labels, that included in list and labels, that always excluded.

[2015-02-18 15:58] skywinder opened #53 "Yanked releases support"
Following by this [changelog conventions](https://github.com/olivierlacan/keep-a-changelog) - try to figure out, how to support yanked releases.

[2015-02-18 16:45] skywinder commented on #51
Example commits in this repo:
- 82a39378faf193766fc1a13fcc125fc945877e6b
- 3e981bb7411e92d207db1dde56c9642c9315a45f

[2015-02-18 19:54] skywinder commented on #47
@GeekOnCoffee Done!
Usage:
- Now all unreleased issues on top of changelog. It's enabled by default ( use `--no-unreleased` to disable it )
- use `--unreleased-only` to generate list with unreleased issued only.

[2015-02-18 20:14] skywinder opened #54 "Add ability to specify custom labels for enhancements & bugfixes"
To support repositories, that use non-standart labels.

[2015-02-18 21:38] #44 closed

[2015-02-18 21:38] #47 closed

[2015-02-18 21:38] #52 closed

[2015-02-24 12:31] skywinder opened #55 "Not show `Unreleased` section, when it's empty."

[2015-02-24 14:06] skywinder commented on #51
One more example in this repo: 34162e5e40c4a22986cc72676d539eb7bde720e5

[2015-02-25 12:12] skywinder opened #56 "Close interaction with "GitHub Releases""
According this news: https://github.com/blog/1547-release-your-software
It's possible to put release notes for each tag.
Need to research, if, there is a existing GitHub API, to put release noted there - it's will be nice to integrate this ability to my generator and fill this notes by auto-generated change logs!

[2015-02-26 10:49] #31 closed

[2015-02-26 10:49] #55 closed

[2015-02-26 10:53] skywinder commented on #31
@runar, @williewheeler, Hooray, guys, check it out! Version `1.3.0` already released! :tada:

[2015-02-26 10:55] skywinder commented on #47
@GeekOnCoffee  Hooray, check it out! Version `1.3.0` already released with this feature! :tada:

[2015-02-26 13:36] GeekOnCoffee commented on #47
@skywinder awesome, thanks! I'd manually installed the gem from the github repo, but now I can update my instructions for the team.

[2015-02-28 07:21] williewheeler commented on #31
Cool, will check it out shortly. Thanks Petr.

[2015-03-02 07:17] nantas opened #57 "generation failed if github commit api return `404 Not Found`"
Here's what I've got when running generator for my private repo:
[code]

For some reason commit `38f8efae9be54` cannot be found in the commit history, but it's still referenced as the commit that closed an issue.

I'm not sure how important it is to get the commit date as the issue closed date. But if the commit is not found, the generator should just use `actual_date` of the issue without blockin

[2015-03-02 07:29] skywinder commented on #57
@nantas yes, that's absolutely right! Thank you!
Can you tell me, which repo generate this issue?

[2015-03-02 08:37] nantas commented on #57
I did more tests and find out the exact cause of the issue.
You can reproduce the issue with my test repo: https://github.com/nantas/changelog_test

With the test repo, the commit that return `404 Not Found` is a commit in another repo:  https://github.com/nantas/changelog_test2/commit/34a8eee7aa272d5226126d986764a7945a9253b9

The program assumes that all commits that close issues are from the sam

[2015-03-02 09:05] skywinder commented on #57
@nantas Thanks a lot to clarifying! I will handle it soon, get in touch!

[2015-03-02 17:34] skywinder opened #58 "Add # character to wrapping list."
Example: mattt/FormatterKit changelog:

- #147 Return presentDeicticExpression if past interval is less than least significant unit [\#148](https://github.com/mattt/FormatterKit/pull/148) ([krzyzanowskim](https://github.com/krzyzanowskim))

marked as header because of # in the beginning.

[2015-03-03 15:20] #57 closed

[2015-03-03 15:28] skywinder commented on #57
@nantas Thanks a lot. Issue fixed in `1.3.2`.
I take some research, but still don't know, how to fetch repo address from events [github api](https://developer.github.com/v3/activity/events/). It's needed to define correct closed date.
Now I use just closed date of this issue (but sometimes this date is not, that we looking for. see #37 for more details).
Let me know, if you find methods to fetch c

[2015-03-03 15:44] #58 closed

[2015-03-03 17:12] GeekOnCoffee opened #59 "--no-issues appears to break PRs"
When run on the gem release with --no-issues, we only get the header and link to the full changelog

[2015-03-03 17:15] skywinder commented on #59
@GeekOnCoffee  Got it, thanks! Probably something broke in minor bump. I will handle it.

[2015-03-03 17:19] #59 closed

[2015-03-03 17:20] skywinder commented on #59
Fixed in `1.3.4`!

[2015-03-04 16:37] GeekOnCoffee opened #60 "Pull Requests in Wrong Tag"
We're using a workflow similar to Gitflow (http://nvie.com/img/git-model@2x.png) which means we've got pull requests that get merged into develop, but sometimes hot fixes get merged into release and put in a tag without merging develop, but currently all the Pull requests that have been merged into develop show up in that version.

Is there any solution for this, or we going to be out of luck?

[2015-03-04 16:42] skywinder commented on #60
I'm not completely understand difference between your and git flow workflow.
Can you provide example of your case?

[2015-03-04 16:45] GeekOnCoffee commented on #60
I think our workflow matches gitflow, we're just not using the automated tool for doing it.

[2015-03-04 17:19] skywinder commented on #60
@GeekOnCoffee yes, it's my own generated script for bumping: [bumper_pusher](https://github.com/skywinder/bumper_pusher) :)

However, I didn't occur such problems in my repo, but I just created special test repo, and here is a bug! The simple hotfix and now PR in Unreleased section! Thanks for pointing on that! I will handle it soon. Hope this fix will resolve your case too!

[2015-03-04 17:37] skywinder commented on #60
I believe it's the same problem as #37! So, I have to implement additional checks, and compare not a `merged_date`, but date of commit, that merge this PR!

[2015-03-04 19:27] #60 closed

[2015-03-04 19:31] skywinder commented on #60
@GeekOnCoffee Done! :tada: Try a new version in your workflow. Feel free to open new issue, if you still have a problems with ordering of PR or whatever! :v:

[2015-03-05 15:39] skywinder opened #62 "Detect correct date in case of closing issue by mention in another PR."
Example: skywinder/ActionSheetPicker-3.0/pull/149

[2015-03-05 18:06] skywinder opened #63 "Improve method of detecting owner and repository"
replace `g remote -vv` to `git config --get remote.origin.url`

[2015-03-06 11:23] Michel73 opened #64 "Can't install on ubuntu 14.04"
I get following error:
[code]

[2015-03-06 11:56] skywinder commented on #64
@Michel73 Hi. Please, check this SO answer:
http://stackoverflow.com/a/20561594/1698467
Let me know, is it helps or not.

[2015-03-06 12:07] skywinder opened #65 "Concurrency problem in case of issues > 2000"
Now changelog try to fetch all issues at once.
Each one in separate thread. So, I should limit number of concurrent threads.

[2015-03-06 12:11] skywinder commented on #65
According [this article](http://www.jstorimer.com/blogs/workingwithcode/7970125-how-many-threads-is-too-many) 10 threads is enough.

[2015-03-06 12:17] Michel73 commented on #64
I did: ``sudo apt-get install ruby-dev``
but still got an error:
[code]

[2015-03-06 13:06] skywinder commented on #64
Great!
I think it's dependency issue in one of the gems, that github_changelog_generator use.

[2015-03-06 13:06] #64 closed

[2015-03-06 14:47] #63 closed

[2015-03-06 16:33] skywinder opened #66 "Support change log for specific branch"
This change log not works well with complicated git repos (like https://github.com/vanilla/vanilla )
So it's need to add ability to specify branch and check, that PR is included in that branch.
More info: https://github.com/vanilla/vanilla/pull/2553

[2015-03-06 17:39] skywinder opened #67 "Exclude related issues or PR's to avoid redundancy"
This topic is described here: [nodegit/nodegit/pull/465](https://github.com/nodegit/nodegit/pull/465).

and:

[2015-03-09 17:02] williewheeler commented on #31
Looks great. Thanks!
https://github.com/ExpediaDotCom/seiso/blob/0.3.0/CHANGELOG.md

[2015-03-17 10:30] pietbrauer opened #68 "Support for GitHub Enterprise"
Currently it is only possible for GitHub.com but it should also be able to use GitHub Enterprise.

Is something like this planned?

[2015-03-17 11:10] skywinder commented on #68
@pietbrauer It also compatible with Enterprise!
Check PR #42

There is 2 keys, that you need:

    --github-api [URL]           The enterprise endpoint to use for your Github API.

Or run `github_changelog_generator --help` for more info

[2015-03-17 12:39] pietbrauer commented on #68
Ah nice, might be useful to add it to the README :+1:

[2015-03-17 12:39] #68 closed

[2015-03-17 15:09] skywinder commented on #68
Done, add section to "Features and advantages of this project". Thanks!

[2015-03-18 07:18] skywinder opened #69 "Exclude closed (not merged) PR's from changelog."
As @jspahrsummers mention in https://github.com/Mantle/Mantle/pull/468#issuecomment-82070778

This is special PR to test it: https://github.com/skywinder/changelog_test/pull/6

[2015-03-20 11:49] skywinder opened #71 "GitHub API rate limit exceed for change log generation in large repos (> 3000 issues)"
Since I need to fetch details about each issue separately - and GitHub api has limit to 5000 requests per hour - Need to figure out some thing.
Generate second token as temporary workaround?

[2015-03-20 11:51] skywinder commented on #56
Any suggestion are kindly welcome.
Need proposals, how to implement it in a good maner, to not override already existing release notes.

[2015-03-20 11:56] norpol opened #72 "Update URL in project description"
https://skywinder.github.io/github-changelog-generator/ is the working link.

[2015-03-20 11:59] skywinder commented on #72
Thanks! :+1:

[2015-03-20 11:59] #72 closed

[2015-03-20 17:26] phene commented on #71
Just ran into this myself on a large repo. Are there intermediary files created during the run so it can be resumed?

[2015-03-20 18:15] skywinder commented on #71
Unfortunately not yet.

[2015-03-20 20:21] sneal commented on #71
What about limiting the amount issues pulled back via a command line arg? I don't really need everything from 2 years ago, just the last few months would be great.

`github_changelog_generator --max-issues 500`

[2015-03-20 21:11] kkumler commented on #56
You would have the list of changes since the previous tag. The GitHub release note for the individual release is taken from an annotated tag (first line being the title).
Leave the auto-generated items in the tag. Additional, human-written release notes could be attached to a GitHub release.

[2015-03-20 21:42] skywinder commented on #71
@sneal  Yep, it's a good idea! I will consider this in next release.

[2015-03-21 00:18] skywinder commented on #71
Ok, I added fallback for this error, so version `1.3.11` not crashes anymore - just print warning  message, that rate limit exceed!

[2015-03-21 07:15] skywinder opened #172 "Generate change log between 2 specific tags"
@jspahrsummers comment:

https://github.com/Mantle/Mantle/pull/468#issuecomment-84247797

[2015-03-23 15:55] bernamaxim opened #206 "Changelog for Private Repository"
How I can generate changelog for private repository?
I just generate it and the output only :

# Change Log

\* *This Change Log was automatically generated by [github_changelog_generator](https://github.com/skywinder/Github-Changelog-Generator)*

[2015-03-23 15:57] uncleserb commented on #206
I'm getting the exact same issue here ;)

[2015-03-23 16:14] skywinder commented on #206
Please, provide command line, that you execute. For which repo are you try to generate change log?

[2015-03-23 17:03] pedelman commented on #66
This would be really useful +1 on this from me

[2015-03-23 17:06] uncleserb commented on #206
Output is exactly as mentioned above by @bernamaxim. Command line is:

[code]

[2015-03-23 17:35] sneal commented on #206
Private repositories work fine, just make sure you provide an OAuth token so its accessible. I've also noticed the same output on a small public repo I have that doesn't have any tags.

[2015-03-23 17:53] skywinder commented on #206
@uncleserb I mean output, that script prints to console.

[2015-03-23 23:57] estahn commented on #172
@skywinder It would be great if the generator doesn't replace the entire file but just adds missing versions. We have some manual added information which we don't want to lose when generating the changelog.

[2015-03-24 01:29] ryanmoon commented on #206
I get something like this for console output:
[code]

Which will output a CHANGELOG similar to what @bernamaxim reported.

[2015-03-24 02:50] bernamaxim commented on #206
Same exactly with my issue.
On 24 Mar 2015 08:29, "Ryan Moon" <notifications@github.com> wrote:

[2015-03-24 02:53] bernamaxim commented on #206
And I have been make sure to provide an 0Auth with token.

Same exactly with my issue.
On 24 Mar 2015 08:29, "Ryan Moon" <notifications@github.com> wrote:

[2015-03-24 07:57] uncleserb commented on #206
Same output on my side with a private repo:

[code]

[2015-03-24 08:31] skywinder commented on #206
It seems, that you don't have any tags in your repo! @sneal was right.
You should push them before run the script:
    git push origin --tags

[2015-03-24 08:36] skywinder commented on #172
@estahn Yes, I'm also thinking about this option. But it's pretty unclear, how to implement it. Please, create another issue with description of this feature-request, and we are discuss how to do it better.

[2015-03-24 09:21] skywinder opened #208 "Warn users about 0 tags in repo."
To avoid situations like #206

[2015-03-24 11:55] skywinder commented on #66
@pedelman I don't know how to check, if issue belong to specific branch or not.

It's possible not resolve it manually, by set some specific tag for issues and specify them, when you are run script with options:

    --exclude-labels x,y,z
    --include-labels x,y,z

But how to automatically check, in which branch some issue was fixed - I have no idea yet.
If you know some ways to implement it - p

[2015-03-24 12:00] uncleserb commented on #206
Very odd: I do have tags on my test issues; see below screen grab:
![changelog-generator-issue-tags](https://cloud.githubusercontent.com/assets/1575503/6801133/7a4fe662-d225-11e4-9e68-880f585de7fd.png)

Couldn't that be the culprit (tags in private repos not being read / parsed correctly)?

[2015-03-24 12:13] skywinder commented on #206
@uncleserb The `Later` is not a tag. It's a milestone. It's similar, but not the same this as tags.
Milestones it's pure GitHub feature, and tag is a built-in git feature. You can look at the tags in main page, for example, for this repo:
![screen shot 2015-03-24 at 14 04 09](https://cloud.githubusercontent.com/assets/3356474/6801242/bd61f7a2-d22e-11e4-8384-ffbac9c1078a.png)

All you need is mark

[2015-03-24 12:15] uncleserb commented on #206
Fair enough ;) Sorry about that. Will give it another go and close this if it works. Thanks!

[2015-03-24 14:25] uncleserb commented on #206
Tested and worked fine; the changelog generator works fine with private repos! Sorry about the nuisance ;)

[2015-03-24 14:35] skywinder commented on #206
@uncleserb glad to hear it :rocket:

[2015-03-24 14:35] #206 closed

[2015-03-25 05:12] estahn opened #209 "Partial updates / add missing versions"
It would be great if the generator doesn't replace the entire file but just adds missing versions and ignores existing ones. We have some manual added information which we don't want to lose when generating the changelog.

**Features:**
- Ability to keep manual added information for older version tags
- Reduced GitHub API calls due to reduce amount of data necessary to retrieve
- Stop/continue a c

[2015-03-25 05:12] estahn commented on #172
@skywinder I created a new issue (#209) with some implementation ideas.

[2015-03-25 08:11] skywinder opened #210 "Generate change log since/due specific date"
This is sub-task of #209.
The similar to #172, but with dates.
i.e. add options:

`--since-date`, `--due-date`

To fetch partial issues. Can help to resolve #71 in future.

[2015-03-25 08:24] skywinder opened #211 "Fetch missing versions and `amend` them to existing change log"
This is sub-task of #209.

Needed to implement partial update of the `CHANGELOG.md`. i.e. fetch only specific issues (between specific tags, or between time) and not modify others records. i.e. kind of `--amend` command in `git`.

[2015-03-25 08:27] skywinder opened #212 "Parsing of existing Change Log file"
This is sub-task of #209.

As @estahn mention:

The `CHANGELOG.md` needs to be parsed and divided into sections which represent the versions, e.g.
[code]

It's needed to implement:
- `--amend` #211
- `Ability to keep manual added information for older version tags` #213

[2015-03-25 08:28] skywinder opened #213 "Ability to keep manual added information for older version tags"
This is sub-task of #209.
Depends of #212

[2015-03-25 08:30] skywinder commented on #209
@estahn thanks for feature request! It would be a great addition :boom:  , but it has a lot of work to implement this.
It can be slitted for a several little sub-tasks:

- So, first part: #172 is already implemented. I will release it soon.
- The similar feature, that I want to implement to help with custom parsing is: Generate change log since/due specific date #210
- The next step will be implem

[2015-03-25 08:48] skywinder opened #214 "Add option `--exclude-tags x,y,z`"
Add option `--exclude-tags x,y,z`
To not include specific tags in change log. (like pre-release, alfa, beta versions)
This feature will close #53.

[2015-03-25 08:48] skywinder commented on #53
I think it can be solved by implementing more "generic" feature like option `--exclude-tags x,y,z` #214

[2015-03-25 10:00] Kikobeats opened #215 "Change "Full Changelog" for each commit reference"
I Love this project. At this moment I use a similar tooo called [changelog-maker](https://github.com/rvagg/changelog-maker) that scan a git project and create a reference in Markdown for of each commit.

What do you think to do something similar instead of just put Full Changelog message?

You can check an example of changelog using changelog-maker [here](https://github.com/iojs/io.js/blob/v1.x/CH

[2015-03-25 13:01] skywinder commented on #215
Hi. Thanks for mention it.  :+1:

I think it's similar to #51. So, I close it in favour of that issue.

Feel free to explain your suggestions about style, how to implement this feature there.

[2015-03-25 13:01] #215 closed

[2015-03-25 13:03] skywinder commented on #51
As @Kikobeats mention, there is another  example of changelog using commits [here](https://github.com/iojs/io.js/blob/v1.x/CHANGELOG.md#commits)

Still thinking, which style of commits will be better.

[2015-03-25 13:17] skywinder commented on #51
@Kikobeats need to say, that your example of commit-based change log is looks better imho. and seem, that can be more customisable, than my option.

So I gonna do a `Commits:` section, and place there all commits, matching pattern `\w*:`

For example:

commit message:

PR-URL: #1147

Should be converted to:

**Commits:**

- [7a5b023bac] - **doc**: fix vm module examples (author-of-pr) #1147

[2015-03-25 14:26] Kikobeats commented on #215
Perfect! :-)

[2015-03-26 05:46] estahn commented on #212
@skywinder I changed the parser to allow any kind of version number. Also added a bunch of rspec tests and rubocop to check for validity.

Travis is currently failing because most of the files are not compliant with rubocop. You could just run `rubocop --auto-correct <filename>` to fix the issues automatically.

Thoughts?

[2015-03-26 10:42] #208 closed

[2015-03-26 16:41] #212 closed

[2015-03-26 16:50] skywinder opened #218 "Build:failing. Fix rubocop warnings"
Need to improve/refactor code and fix `rubocop` warnings, that can't be fixes automatically.

[2015-03-26 22:05] estahn opened #219 "Add CodeClimate and Inch CI"
https://codeclimate.com/
http://inch-ci.org/

[2015-03-26 22:18] skywinder commented on #219
On the way!

[2015-03-26 23:13] #219 closed

[2015-03-26 23:40] tuexss opened #222 "replace github_api to octokit"
I think it would be good to remove the whole regex-mess and use some third-party-library like https://github.com/octokit/octokit.rb to do this in a short and clean way.

[2015-03-27 00:11] skywinder commented on #222
What kind of "regex-mess" are you meaning?

About third-party library - I agree with you.
I get in mind to replace `github_api` to `octokit`. To work with GitHub API.
I also want to do it once:
- move all functions with API operations in separate class (like `fetcher.rb` or smth like that)
- cover it by tests
- replace `github_api` to `octokit`

Just don't have a time for it yet. :stuck_out_tongue

[2015-03-27 08:13] tuexss commented on #222
I meant the fact, that there are three different regexes and a bunch of logic to manage the three in parser.rb, when it only parses a single string in order to extract user and project.

[2015-03-27 08:13] tuexss commented on #222
Sounds like a good plan.

[2015-03-27 08:56] skywinder commented on #222
Got it. Yes, it was my first experience with regex on ruby. :smile:

[2015-03-28 17:46] monfresh commented on #69
Thanks for this great gem! I just tried it for the first time with 1.3.11, and I'm still seeing this bug. For example, it included this PR, which was closed without being merged: https://github.com/codeforamerica/ohana-api/issues/261

[2015-03-28 17:48] monfresh commented on #69
Ah, I see. It's because of the `enhancement` label. Looks like the fix didn't take into account PRs with labels, or with the `enhancement` label.

[2015-03-28 19:58] skywinder commented on #69
@monfresh Thanks for notice It!

[2015-03-28 23:22] vassilevsky opened #224 "Escape ` in PR titles"
I used this gem to generate a changelog for https://github.com/gemhome/rmagick .
It has this PR: https://github.com/gemhome/rmagick/pull/172
Generated changelog item:

[code]

I believe ` breaks formatting.

[2015-03-29 04:09] skywinder commented on #224
The result of generation for this issue:

- fix: in `require': cannot load such file -- rmagick/version \(LoadError\) [\#172](https://github.com/gemhome/rmagick/pull/172) ([u338steven](https://github.com/u338steven))

It seems, it looks as should be.
What the expected result for this string?

[2015-03-29 18:12] skywinder opened #225 "Test ticket from Code Climate"

[2015-03-29 18:13] #225 closed

[2015-03-29 18:51] skywinder commented on #209
@estahn  I created special repo for test, how generator works.
https://github.com/skywinder/changelog_test
Feel free to modify it to test new features.

[2015-03-29 20:00] skywinder commented on #224
Related with #34.

[2015-03-30 06:22] estahn commented on #71
There are currently two options in the pipeline to fix this:
* Amending missing versions instead of regenerating all of them (#209)
* Use [octokit/octokit.rb](https://github.com/octokit/octokit.rb) with [Faraday HTTP Cache](https://github.com/octokit/octokit.rb#caching)

Example:
[code]

[2015-03-30 07:30] vassilevsky commented on #224
Here's how it looks like in Vim (I use [Janus](https://github.com/carlhuda/janus) config):
![backtick](https://cloud.githubusercontent.com/assets/252023/6891870/47b7ba58-d6c7-11e4-834e-7b07a81d497b.png)
But it seems to be just the vim formatter malfunction. It renders fine on GitHub.
It doesn't break Sublime Text 2 or Mou either.

[2015-03-30 07:30] #224 closed

[2015-04-02 20:55] daviddannunzio commented on #71
Is there an eta for when the `--max-issues` argument fix will be released?

[2015-04-02 21:06] skywinder commented on #71
@daviddannunzio next week for sure!

[2015-04-02 21:08] daviddannunzio commented on #71
Thanks @skywinder !

[2015-04-03 13:28] daviddannunzio commented on #71
Perhaps I'm not building the gem correctly, but I tried running the current `master` branch using a very low `--max-issues` number, and I still get rate limit errors. It looks like the `--max-issues` field does not limit the actual Github call. It just limits the issues we return after we've queried the API. Is this correct?

[2015-04-03 14:06] sneal commented on #71
@daviddannunzio Did you previously hit your rate limit without waiting for it to timeout/reset when you tried it with --max-issues?

Something to keep in mind is that max-issues is not exact because issues are pulled back in pages (30 issues per page). It stops pulling back more issues [if it goes over max_issues](https://github.com/skywinder/github-changelog-generator/blob/a50ad5b5c9a151b423e0908

[2015-04-03 20:24] daviddannunzio commented on #71
@sneal I believe I waited a full hour before trying to run the command again. I still got the error. Even with `--max-issues` set to 1.

[2015-04-03 20:53] skywinder commented on #71
@daviddannunzio let's move discussion to #76.
If you are sure, that it's a bug - please an issue and put there output logs of the script.

[2015-04-13 10:22] skywinder commented on #56
@kkumler Agree with you. The first, that comes in mind - just add auto-generated notes in the end.

[2015-04-20 20:40] Naatan opened #226 "Coming up empty?"
I'm trying this out for Komodo/KomodoEdit, command output:

[code]

CHANGELOG.md:

[code]

It's kind of weird that it says ` :branch=>"origin"`, rather than "master", but I could find no obvious way to change that..

[2015-04-20 20:49] skywinder commented on #226
@Naatan Hi.
The problem, that you dan't have any tags in this repo.

    Found 0 tags

It seems, that you are using outdated version. In new version You will found Yellow warring message in the beginning:

[2015-04-20 20:52] Naatan commented on #226
I'll try updating, but is it required to have tags? Could this operate strictly on Milestones?

I don't want to generate a changelog on commits, just on issues / milestones.

[2015-04-20 21:07] skywinder commented on #226
@Naatan

Until now - yes.

It's not easy to implement, because Change log is time-based file. In my scenario milestones used only to fix issues, that closed not wrong time range.

Milestones don't have any bindings to the time by themself. So I don't know, how to compound change log only from milestones.
Also, not all milestones should be included to change log. So we have to add separate list dis

[2015-04-20 21:09] skywinder commented on #226
BDW: about `branch` - you are right. Actually - it's means `remote`. I will fix this typo.

[2015-04-24 11:40] osiloke commented on #226
Hi, i was about to ask this same question becuase i expected to get an unrealeased section similar to that what you have in this projects changelog. Does this only show up after the first tag because "Unrealeased" is not a tag in this repo but yet it shows up in the changelog.

[2015-04-24 12:47] skywinder opened #228 "Show `Unreleased` section even when there is no tags in repo."
as @osiloke  mention https://github.com/skywinder/github-changelog-generator/issues/226#issuecomment-95906061

The normal behaviour is generate `Unreleased` section even when no tags in repo uploaded.

[2015-04-24 12:49] skywinder commented on #226
@osiloke You're right. It `Unreleased` start works if you have at least 1 tag in repo.
But it's possible to modify this logic. I add new issue, related with this feature #228.
Have a lot of work next month. But will be glad to accept PR with this feature. :wink:

[2015-04-27 16:02] deezahyn opened #229 "Getting an error `parse_options': invalid option: --max-issues (OptionParser::InvalidOption)"
[code]

seems like --max-issues option doesn't work.

[2015-04-27 21:40] ctubio opened #230 "Trees/Archives with missing change log notes for the current tag."
Hello @skywinder !
very nice changelog generator :heart_eyes:
Maybe im not understanding something, but to me looks like something is *wrong*.

Using your lovely project as example, if you go to tree 1.3.9, in its changelog, it only appears notes until 1.3.8, and you need to go to 1.3.10 to be able to read the notes of 1.3.9.

See change log file of tree 1.3.9 with missing change log notes for 1.3

[2015-05-04 08:52] skywinder commented on #230
Hi! Thanks for mention it. Yes, You're right, now there is no way to build proper change log before setting a tag.
If you look at the git log of this project - you will find, right after setting the new tag the next commit is updates change log file.
It's a bit confusing, but I have no idea, which tag will be next.

What do you think, how better to solve this issue?

[2015-05-04 08:57] skywinder commented on #230
The only workaround, that I see - is add ability to manually set label for `Unreleased` section.
Then, you can generate correct change log before tagging.

For example implement such options:

      github_changelog_generator --unreleased-label 1.4.0

That will change unreleased section name to 1.4.0.
Because `Unrelesed` link always look for the `HEAD`, (https://github.com/skywinder/github-changel

[2015-05-04 12:06] ctubio commented on #230
ouYea, that is more than a workaround i may i say, its a lovely feature to avoid the github's workflow intrinsics xD thank you for sharing your brain! (i was stucked there xD)

(i will try to make a pull request but im not a ruby expert, so.. if you wanna go for it, i will not feel bad to see that you were faster xD at least i learned some lovely ruby meanwhile)

thanks again for your time!

[2015-05-06 15:55] JMLamodiere opened #232 "GitHub token generation link in README should lead to `personal access token` page"
In the [GitHub token](https://github.com/skywinder/github-changelog-generator#github-token) section of README.md, not sure why the link `you can easily generate it here` leads to [Applications](https://github.com/settings/applications) ? From this page, we can only register an Oauth application with a mandatory `Authorization callback URL`. It doesn't seem to make sense.

Shouldn't it lead to [Per

[2015-05-06 17:02] skywinder commented on #232
You're right! Thanks for mention!

[2015-05-06 17:07] #232 closed

[2015-05-06 20:55] skywinder commented on #230
@ctubio Yep, ruby is awesome.
bdw, already implemented in @231. :wink:

[2015-05-07 13:49] aaronmcadam commented on #229
There's not been a release since March 21, that's why

[2015-05-07 14:13] skywinder commented on #229
@aaronmcadam you're absolutely right. It's time :watch:

@deezahyn I will release new version in a seconds. Please, update gem few minutes later!  :wink:

[2015-05-07 14:13] #229 closed

[2015-05-07 14:16] aaronmcadam commented on #229
Thanks @skywinder, hope this will allow me to use this gem with my longer-running projects!

[2015-05-07 14:18] skywinder commented on #229
Please, welcome `1.4.0`!

[2015-05-08 19:46] ctubio commented on #230
lets close this issue in favor of #231

thanks alot guys (or penguin)
byee''

[2015-05-08 19:46] #230 closed

[2015-05-09 13:10] deezahyn commented on #229
welcome 1.4.0 !

[2015-05-12 07:39] pierrehenri-t opened #233 "to delete"
to delete.

[2015-05-12 07:40] #233 closed

[2015-05-14 07:09] MiteshShah opened #235 "Doesnot generator changelog"
[code]

[2015-05-14 07:50] skywinder commented on #235
Ok, thanks! I will fix it. As workaround: please, add github token to your env or specify it by `-t` option - it will solve this bug.

[2015-05-14 12:51] skywinder commented on #235
@MiteshShah It's strange: seems that `colorize` is not installed, thats why it crashes.
But it's in projects dependencies. Please check if colorize is installed and let me know, if you still have this problem. (just run `gem install github_changelog_generator` and it should install it if it's not installed yet)

[2015-05-14 12:58] MiteshShah commented on #235
@skywinder

[code]

[code]
[code]
[code]
[code]

[2015-05-14 13:41] skywinder commented on #235
@MiteshShah Very interesting! Almost the same string in other part of code is not crashes.
Have no idea, what cause the problem yet. But will try to figure out with that. Thanks!

bdw: about token - it seems, that you specify wrong token - that's why it's not woork.
and shows  message:

fyi: you should place there 16-digit token, generated there: https://github.com/settings/tokens , not your passw

[2015-05-14 13:48] MiteshShah commented on #235
@skywinder After given 16-digit token its working fine :)

Thanks

[2015-05-17 21:14] vcaldas opened #237 "github_changelog_generator.rb:220:in ``': No such file or directory - pwd (Errno::ENOENT)"
Hi Skywinder,
Awesome job btw! I'm having this problem:
c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/github_changelog_generator-1.4.0/lib/github_changelog_generator.rb:220:in ``': No such file or directory - pwd (Errno::ENOENT)
        from c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/github_changelog_generator-1.4.0/lib/github_changelog_generator.rb:220:in `compound_changelog'
        from c:/Ruby22-x64/lib/

[2015-05-18 06:25] skywinder commented on #237
@vcaldas Great! It's just a last string in the script where I use linux command `pwd`.
It doesn't affect to anything. And I will fix it in next release. Thank for mention it! :+1:

[2015-05-18 07:08] vcaldas commented on #237
Great! Congrats again!

[2015-05-18 13:05] #235 closed

[2015-05-19 08:56] skywinder commented on #237
@vcaldas don't have windows to test, but hope it fixed, please, check version `1.4.1`!

[2015-05-19 08:57] vcaldas commented on #237
@skywinder I'll get the last version and give you feedback asap!

[2015-05-19 09:19] #69 closed

[2015-05-19 09:19] #237 closed

[2015-05-19 09:27] vcaldas commented on #237
@skywinder Just tested an no error messages. Cheers!

[2015-05-19 09:29] skywinder commented on #237
@vcaldas Hooray! :trophy:

[2015-05-22 06:33] skywinder opened #239 "Issue with same closed date as date of tag goes to next release"
Occurred in https://github.com/appsquickly/Typhoon/pull/354.

As @alexgarbarev https://github.com/appsquickly/Typhoon/pull/354#issuecomment-104345386

commit 10d90c5
Author: Aleksey Garbarev
Date: Sat May 2 02:51:39 2015 +0600

commit 10d90c5
Author: Aleksey Garbarev
Date: Sat May 2 02:51:39 2015 +0600
Message: Fixed bug #342

[2015-05-22 06:49] skywinder commented on #239
Wired. I add test issue https://github.com/skywinder/changelog_test/issues/3

Commit ece0c3a info:
commit ece0c3ab7142b21064b885061c55ede00ef6ce94
AuthorDate: Fri May 22 09:29:15 2015 +0300
CommitDate: Fri May 22 09:29:15 2015 +0300

Tag 0.0.4 info:
commit ece0c3ab7142b21064b885061c55ede00ef6ce94
AuthorDate: Fri May 22 09:29:15 2015 +0300
CommitDate: Fri May 22 09:29:15 2015 +0300

And it appear i

[2015-05-22 07:35] skywinder commented on #239
Resolved. it's not a bug.
See details in https://github.com/appsquickly/Typhoon/pull/354#issuecomment-104543383

[2015-05-22 07:35] #239 closed

[2015-05-22 07:40] skywinder opened #240 "Issues with any label expect "bug", "enhancement" are excluded by default."
As @alexgarbarev mention in https://github.com/appsquickly/Typhoon/pull/354#issuecomment-104371430 there is no  issue  appsquickly/Typhoon#352 at all! Even if it closed later - it should appear in `Unreleased` section.
But it doesn't.

It's caused because of predefined parameters in generator:

[code]

The  appsquickly/Typhoon#352 didn't fit any of this requirements (it has one label `ready-for-re

[2015-05-24 07:33] skywinder opened #241 "Ability to specify custom section header"
In order to adopt change log to format such as https://github.com/brigade/overcommit/blob/master/CHANGELOG.md

i.e. ability to change
`Implemented enhancements:` -> `New Features`
`Closed issues:` -> `Changes`
`Fixed bugs:` -> `Bug Fixes`

and so on.

[2015-05-25 06:30] skywinder opened #242 "Arbitrary templates"
As @sds  mention here: https://github.com/brigade/overcommit/pull/212#issuecomment-105063302
Eliminate putting redundant empty lines in change log.

[2015-05-26 13:06] #226 closed

[2015-05-26 13:06] #228 closed

[2015-05-26 13:06] #172 closed

[2015-05-26 13:06] #214 closed

[2015-05-26 13:09] skywinder commented on #172
Implemented in `1.5.0`. Use `--between-tags` option to specify tags.

[2015-06-04 14:22] ryanwalls commented on #56
Would like to see this functionality.

[2015-06-04 15:23] ryanwalls opened #244 "Multiple tags/releases on the same date do not sort in order"
If I create multiple tags on the same day, in the changelog the tags are sorted in ascending order.  I would expect them to sort in descending order.

Here's what is generated currently (this is a private repo, but you get the idea):

[code]

[2015-06-04 15:57] skywinder commented on #244
The tags sorted in order, how they appear in your git repo. Are you sure, that 0.1.65 is older than 0.1.57?

please check it by command:

    git log --tags --simplify-by-decoration --pretty="format:%ai %d"

[2015-06-04 20:07] ryanwalls commented on #244
I would expect the tags to sort in reverse order (newest tag first) just like it does on the releases page.

![image](https://cloud.githubusercontent.com/assets/842653/7993377/bf2f13b6-0ad3-11e5-9f6e-c32ddc7fa6f5.png)

[2015-06-05 21:13] skywinder commented on #244
Ok. It should be in that order. Ok, I will check it!

[2015-06-09 19:36] CharlesAHunt opened #245 "Exclude and Include tags is broken"
There are a couple issues here. The first is that the --exclude-tags and --between-tags fail every time with "can't find tag x.x.x...". I have tried in various ways(i.e --exclude-tags=0.8.170, --exclude-tags 0.8.170, --exclude-tags="0.8.170", etc, and with various other tags that do exist both on local and remote).  The second issue, as seen below is that it's interpreting --exclude-tags as '--bet

[2015-06-10 06:44] skywinder commented on #245
Got it! Will fix it soon! Thanks! :+1:

[2015-06-10 10:56] dalen opened #246 "--user and --project options are broken"
It seems like the script expects a undocumented URL to the repo instead of the user specifying --user or --project options. Also looking at the code it seems like only specifying one of them would be broken.

It should do all the auto detection first and then overwrite that with whatever was specified on the command line.

[2015-06-10 18:52] skywinder commented on #246
Thanks for mention it. I will take a look.

[2015-06-11 10:10] #245 closed

[2015-06-11 13:02] skywinder commented on #244
@ryanwalls Hi. I check sorting method, and also add some tests for it, but can't reproduce your bug. All tags sorted according date from the commits, that assigned to tags. Have no idea, why it messed up in your case.
It will be nice if you can reproduce it on some public repo or add more details about your case.

[2015-06-11 13:13] skywinder commented on #246
Thanks! Will be fixed in `1.5.1` today.

[2015-06-11 13:21] skywinder commented on #240
It's related with #54. So I will fix it in that way:

I will set default labels to include `bug` and `enhancement` in separate option according #54.
And `include_labels` will be nil by default. (i.e. all issues will be added)

[2015-06-11 13:44] #54 closed

[2015-06-11 13:44] #240 closed

[2015-06-11 13:44] #246 closed

[2015-06-11 14:06] skywinder opened #249 "not encapsulated character `<`"
This cause wrong generation for Polymer/polymer
Check https://github.com/Polymer/polymer/pull/1829 for details.

[2015-06-11 14:47] ErjanGavalji commented on #242
:+1:

[2015-06-12 06:14] skywinder commented on #53
Fixed in #214.

[2015-06-12 06:14] #53 closed

[2015-06-12 06:39] skywinder commented on #249
The problem was in not encapsulated character `<`. The change log generates correctly, but markdown do not show any text after `<`.

[2015-06-12 07:01] skywinder commented on #242
@ErjanGavalji  I update a little bit this issue and separate it on small sub-tasks. Can you specify, which of these features is most wanted for you? I believe #241, right?

[2015-06-12 08:37] #249 closed

[2015-06-12 08:42] #241 closed

[2015-06-12 08:58] skywinder commented on #213
Nice repo to test this issue is ashfurrow/Moya

[2015-06-13 23:29] hyzhak commented on #56
:+1:

[2015-06-14 19:37] ryanwalls commented on #244
@skywinder Thanks for checking.  I'll try to see if I can recreate in a public repo.  But it's probably not a critical bug.  Seems to only happen with tags on the same day.  Most of the time, my tags will be on different days anyway.

[2015-06-15 12:49] skywinder commented on #244
@ryanwalls that's strange. The time from github api looks like `"2015-03-04T17:10:16Z"`
And it's stored and sorted as `Time` class, parsed from string:
 https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/fetcher.rb#L200
So, it doesn't matter is tag created one second or one day later.

[2015-07-02 10:22] skywinder commented on #244
@ryanwalls any updates with this behaviour? Still try to reproduce it, but have no luck.

[2015-07-14 15:27] zbeekman commented on #242
This would be nice. I think right now there is so much wasted space with the blank lines between each issue/PR/enhancement that it makes it hard to skim/read/digest the contents of the changelog.

[2015-07-14 18:00] szaghi commented on #242
:+1:

[2015-07-15 19:31] zbeekman opened #250 "--unreleased-only broken"
`github_changelog_generator —unreleased-only jacobwilliams/json-fortran` results in the following error:

[code]

[2015-07-16 09:29] #250 closed

[2015-07-16 09:30] skywinder commented on #250
Thank you! Fixed in `1.6.2`

[2015-07-16 11:23] skywinder opened #251 "Custom header"
Make ability to setup custom header  (i.e. `Change Log` in the header)

[2015-07-16 11:49] skywinder commented on #244
@ryanwalls  Since there is only one time that this bug occurs and there is no way to reproduce it, I close it. Let me know, if you find any additional info.

[2015-07-16 11:49] #244 closed

[2015-07-16 11:55] skywinder commented on #210
It seems that is's not useful keys.
In most cases user need to limit issues by tags by already implemented `--between-tags` option. So, I decide to not implement this feature.

[2015-07-16 12:32] skywinder commented on #67
To test:
https://github.com/skywinder/changelog_test/issues/14
https://github.com/skywinder/changelog_test/issues/15
https://github.com/skywinder/changelog_test/issues/13

[2015-07-16 12:47] skywinder commented on #67
Sadly, but I don't know, how to detect, which PR close specific Issue. There is only info about hash of commits in the events details. Is someone knows, how to detect it - let me know please.

[2015-07-16 12:54] skywinder commented on #66
Since this project designed to work in github workflow, there is very hard to support custom branches. In general, it uses default branch, that you can specify in the settings of the repo.
If you would like to filter issues by branch - you have to manually set labels for this issues and filter them by options: `--exclude-labels & --include-labels`

[2015-07-16 12:54] #66 closed

[2015-07-16 14:23] #242 closed

[2015-07-16 14:23] #251 closed

[2015-07-23 14:11] eryx12o45 opened #252 "Extend creation of changelog for multiple repositories"
Hi,

would be nice if it would be possible to have the changelog generator create one central changelog for multiple repositories. So if your projects consists of multiple repos you can just get one single changelog file generated which you can maintain in your main repo.

[2015-07-23 15:50] obihann opened #253 "failure when creating changelog from a repo in an orginazation: can't convert Github::ResponseWrapper to Array"
[code]

[2015-07-27 07:48] gabel commented on #252
:+1:

[2015-07-28 21:45] dguo opened #254 "Generate change log since/due specific tag"
Hi, is there a way to generate the log since a particular tag? The `--between-tags` option doesn't seem to allow this. I tried doing a hack where I used git to get the latest tag and then pass it to the `github_changelog_generator` command, but the output is different from what I expected. The `--between-tags` option seems to roll up all the pull requests in between into the later tag, instead of

[2015-07-29 09:09] skywinder commented on #254
Hi! I close #210 recently in favor of `--between-tags` option. But now I see, that such option could be useful in case like yours.

[2015-07-29 09:10] skywinder commented on #210
This feature also closes #254

[2015-07-29 09:13] #210 closed

[2015-07-31 08:39] Natim opened #255 "We should add a git-generate-changelog command."
If `github_changelog_generator` was named `git-generate-changelog` it would be possible to call:

[code]

[2015-07-31 08:44] skywinder commented on #255
@Natim cool idea! Did you know, how to implement it? Should I create additional executable in bin folder for that feature?

[2015-07-31 08:46] Natim commented on #255
We can either add a symbolic link for ``github_changelog_generator`` to ``git-generate-changelog`` or create another executable that does the same thing as ``github_changelog_generator`` but named ``git-generate-changelog``.

Note that if you want ``git generate-changelog --help`` to work you should also add a manpage for it but it is not mandatory because ``git generate-changelog -h`` will work.

[2015-07-31 08:58] Natim commented on #255
We can also try to approach https://github.com/tj/git-extras

[2015-08-02 12:11] matkoniecz opened #256 "old merged PR listed for a wrong release"
PR with old commit that waited for a long time before merging may be listed for wrong release.

For example `github_changelog_generator gravitystorm/openstreetmap-carto --no-issues` lists adding antarctic icesheet rendering based on preprocessed shapefiles (https://github.com/gravitystorm/openstreetmap-carto/pull/1540) for v2.30 instead of v2.32 - see https://github.com/gravitystorm/openstreetmap-

[2015-08-03 06:15] skywinder commented on #256
@matkoniecz the PR appears in the next version tag after merging, isn't it?

You can manually specify in which version PR was merged by setting milestone of PR  the same name as tag of required version.

p.s.
Any ideas, how to detect, in under which tag this PR should presented?

[2015-08-03 09:05] pnorman commented on #256
We don't use milestones in that way.

The earliest tag where all the commits in the PR are present

[2015-08-03 09:14] skywinder commented on #256
@pnorman I don't think that it will be correct behaviour in most of the cases.
If PR is merged after tag is placed in general it means that this feature will appear in next release.

[2015-08-03 09:35] pnorman commented on #256
I generated a [changelog](https://gist.github.com/pnorman/962619427ba90e134873), and gravitystorm/openstreetmap-carto#1540 appears under v2.30.0. This PR only had one commit, https://github.com/gravitystorm/openstreetmap-carto/commit/89301f1394698e6634d58092f68e156e73e7cd38

If you look at the tags this is part of on the web interface, it is only part of v2.32.0. You can verify this with `git name

[2015-08-03 10:41] skywinder commented on #256
@pnorman not matter, when it was committed. Because it could be long-term feature, that developer prepare for next releases. In that case determining by last commit will be incorrect.
And I can be sure for 100% that this feature in production only after merging of related branch.

[2015-08-03 10:56] #62 closed

[2015-08-03 10:59] skywinder commented on #255
@Natim I really like this feature, right now I'm working hard on other projects, so can't implement  and test it properly in near future, but I if you would like to contribute to this project - I will be glad to accept PR with this feature. :wink:

[2015-08-03 11:13] pnorman commented on #256
`git name-rev` unambiguously tells you that it is part of v2.32.0

I'm not sure what you're trying to say here. If you're trying to say the commit date doesn't matter, that is correct. e.g. "especially since comparing commit dates in a project’s history doesn’t necessarily correspond to the order in which they were applied" from http://mislav.uniqpath.com/2010/07/git-tips/

[2015-08-03 11:28] pnorman commented on #67
In the web UI you can see how an issue was closed, e.g. skywinder/changelog_test#12 shows it was closed in skywinder/changelog_test#13 and skywinder/changelog_test#14 shows it was closed in https://github.com/skywinder/changelog_test/commit/decfe840d1a1b86e0c28700de5362d3365a29555

[2015-08-03 12:16] skywinder commented on #67
I'm not working with web UI. I'm using https://developer.github.com/v3/activity/events/ to fetch specific actions for PR and issues (such as `merged`,`closed`,`referenced` actions and so on). I check all properties for `referenced` but there is no any field, that can help determinate, is it just reference to issue, or reference, that close another issue - that is a problem.

[2015-08-03 19:38] pnorman commented on #67
Yes, obviously you're using the API, but I would have expected the information on the web UI to be available through the API.

I checked both events and the single issue get for issue 14, and found no reference to why it is closed.

I'd suggest raising this with Github, as it seems odd for the issue to say through the web, but not through the API.

[2015-08-04 07:18] skywinder commented on #67
@pnorman seems reasonable. I will  send the a message.

[2015-08-04 07:30] skywinder commented on #67
Also duplicate message to support here:

I would like to ask, is there any way to check from IssuesEvent (https://developer.github.com/v3/activity/events/types/#issuesevent), which issue of commit closes this issue.
i.e. if I specify magic phrase in the Issue `#43` like "Close `#42`" and close this issue, then `#42` is also closed the same time. So, is it possible to detect from api for IssuesEven

[2015-08-04 11:40] skywinder commented on #67
Got answer:

That information is not available via the API currently. I agree that would be helpful, and it's already on our wishlist, but I can't promise when it might be implemented.
I hope this answers your question, but please let me know if there's anything else.

I leave this issue open, since it's really appreciated behaviour. Hope, someone could find solution for this feature with some wor

[2015-08-04 15:43] skywinder commented on #254
there is need to implement `--due-tag` to complete this issue. In a similar manner as #257

[2015-08-04 15:54] skywinder commented on #252
How do you think it should be arranged? Like to change logs one-by-one or amended in one list? Please, prvide some template, how are you see change log with multiple repos.

[2015-08-04 20:23] raphink commented on #254
`due_tag` should be able to be implemented in a very similar way to `since_tag`.

[2015-08-04 21:14] skywinder commented on #254
Exactly. That's what I said in previous comment. I will handle it soon.

On Tue 4 Aug 2015 at 23:23 Raphaël Pinson <notifications@github.com> wrote:

[2015-08-10 05:32] eryx12o45 commented on #252
Hi @skywinder,

I will try to get a hol on a template for this. Actually should be something like an amendmend for each repo.

so basicially:

[2015-08-10 05:35] eryx12o45 commented on #252
#Temp Changelog

## [6.1-SP0_33](http://link.go.es/here) (2015-08-04 13:18)
### Repo 1
**Bugfixes**

- BUGFIX: Lorem ipsum...  [\#1396] (http://link.go.es/here)
- BUGFIX: Lorem ipsum...  [\#1396] (http://link.go.es/here)
- BUGFIX: Lorem ipsum...  [\#1396] (http://link.go.es/here)

**Features**
- FEATURE: Lorem ipsum...  [\#1396] (http://link.go.es/here)
- FEATURE: Lorem ipsum...  [\#1396] (http://

[2015-08-10 05:37] eryx12o45 commented on #252
OR also possible:

[2015-08-10 05:38] eryx12o45 commented on #252
## [6.1-SP0_33](http://link.go.es/here) (2015-08-04 13:18)
**Bugfixes**
- ''Repo1'' - BUGFIX: Lorem ipsum...  [\#1394] (http://link.go.es/here)
- ''Repo1'' - BUGFIX: Lorem ipsum...  [\#1395] (http://link.go.es/here)
- ''Repo1'' - BUGFIX: Lorem ipsum...  [\#1396] (http://link.go.es/here)
- ''Repo2'' - BUGFIX: Lorem ipsum...  [\#1294] (http://link.go.es/here)
- ''Repo2'' - BUGFIX: Lorem ipsum...  [\

[2015-08-10 20:18] Oscil8 commented on #256
I've seen a similar issue when needing to push a patch for an old release; patches applied on the mainline before the patch (v0.11.1) are showing up in the changelog there instead of v0.12.0 which is where they actually got released. Sorry, this was a private repo but I can probably generate an example in a simple repository.

[2015-08-12 19:54] richrd commented on #254
I just started using this, and I think its great! :beers: And sorry for being lazy, but I wan't to chip in and voice my great interest for this project!

Can we (after this is closed) generate 'delta' changelogs e.g. add new changes to an old change log?
I have been developing my project and have generated meaningless PRs etc for myself etc. I'd like to be able to ignore the old stuff and just add

[2015-08-24 11:53] skywinder commented on #256
@Oscil8 it would be great, if you can provide some examples.
I'm using https://github.com/skywinder/changelog_test/ repo to test change log behaviour. If you can reproduce this case in this repo - it would significantly helps me to understand this issue.
I can get you access to this repo to create necessary tags, commits and issues.

[2015-08-24 14:44] skywinder commented on #254
@richrd Very glad to hear that words.
About your deature-request: I believe @raphink is kindly implement thing, that you requested there: #258 isn't it?

[2015-08-24 14:53] #254 closed

[2015-08-25 06:39] raphink opened #266 "Honor labels for Pull Requests"
Labels are only used to organize issues in the Changelog, not Pull Requests. I don't think users of a project really cares about whether features were implemented through Pull Requests or directly by a maintainer. If a Pull Request is marked as an enhancement or a bug, it seems logic that it should be listed as such, not as a generic pull request.

[2015-08-25 07:56] skywinder commented on #266
Agree with you. It would be nice to move them to sections according labels. :+1:

[2015-08-25 08:30] skywinder commented on #252
@eryx12o45 Thanks for clarification! :+1:
IMHO first option is more structured.

[2015-08-25 11:23] richrd commented on #254
@skywinder thanks for the info, good to hear it's comming. And thanks a lot @raphink for implementing it. It's just what I need :+1: :)

[2015-08-25 12:54] skywinder opened #269 "Advance logic for `--base` option"
It's addition for #258.

For now `--base` option just concat old change log with new, auto-generated.
It would be nice to use full power of `Reader`, to not just fetch last tag, but also fetch `content` for each issue and put auto-generated section for each tag, and then data from `content`.

For example, for https://github.com/troessner/reek project

For tag `3.3.0`:

Form manual change log:

* (

[2015-08-25 14:16] raphink commented on #269
So you would use a merge approach. That could be really cool, as it would allow to store all manual entries aside, with just the tag for each, and let the automated part populate from GitHub + date.

[2015-08-25 14:38] skywinder commented on #269
Yep. And your PR #258 was a good movement in that direction. I will handle it soon.

[2015-08-26 02:16] ahousing opened #270 "Output should not include security information"
If you use the "-t" argument to pass a token, then the output will display that information.
[code]
However, since this is confidential information, it probably shouldn't be displayed.  The correct behavior is what happens if you set environment variable CHANGELOG_GITHUB_TOKEN.

I've confirmed the behavior with 1.8.1.

[2015-08-26 14:02] #270 closed

[2015-08-26 14:02] skywinder commented on #270
@ahousing thanks! Fixed!

[2015-08-27 12:17] skywinder opened #272 "Add more Collaborators to GitHub Changelog Generator"
I want other people to feel like they own GitHub Changelog Generator, too, so it help in the long run.

What I'm looking for is people who can:
- Reply to questions.
- Help diagnose/fix issues people have.
- Help form a roadmap for future releases.

All when you have time and feel like it. It's not meant to be a burden.

Thanks to @searls for the push to do this by [this talk](http://blog.testdoub

[2015-08-27 12:49] raphink commented on #272
Very interesting video :smile:

[2015-08-29 17:34] alanhartless opened #273 "Possible to customize the format?"
Hi!

Does this support custom formats/templates?

[2015-08-31 06:54] skywinder commented on #273
Hello. Yes. What you want to customize? These options ca help you:

        -f, --date-format [FORMAT]       Date format. Default is %Y-%m-%d
        --bugs-label [LABEL]         Setup custom label for bug-fixes section. Default is "**Fixed bugs:**
        --enhancement-label [LABEL]  Setup custom label for enhancements section. Default is "**Implemented enhancements:**"
        --issues-label [LA

[2015-08-31 20:41] ahousing opened #274 "Sending OATH through -t fails"
It appears that starting with 1.8.2, using the "-t" argument fails.  I suspect that this is  related to the fix for issue #270.

Output now includes two key lines:

[2015-09-01 06:13] #274 closed

[2015-09-01 06:15] skywinder commented on #274
My  inexcusable mistake. Already fixed in `1.7.2`, thanks for mention it!

[2015-09-01 06:23] skywinder commented on #256
@matkoniecz  This error could related with #271. Please check, how it works now!

[2015-09-01 06:26] eryx12o45 commented on #252
Sure :-) Either way, would be great to have such a thing. I guess more people a using separated repositories for one project. Thanks for your great tool, btw. ;-)

[2015-09-01 06:32] skywinder commented on #253
Hi! I figure out! It's because your repo `obihann-learning/functional-programming`  moved to another owner: `learn-something-new/functional-programming`

I will fix this later. as workaound you can do one of this things:

1. delete old remote, that references to obihann-learning/functional-programming and add learn-something-new/functional-programming instead

2. declare explicit repo name and pro

[2015-09-01 07:18] matkoniecz commented on #256
"adding antarctic icesheet rendering based on preprocessed shapefiles #1540 (imagico)" is still listed for v.2.30.0

[2015-09-02 12:47] obihann commented on #253
Wow, that explains so much. Thanks!

[2015-09-07 07:48] retorquere opened #276 "Feature request: YAML front matter"
I use GCR to generate a changeling on my github-pages site; it would be nice if I could at the YAML front matter (or at least the title) to the generated file.

[2015-09-07 10:25] skywinder commented on #273
@alanhartless Let me know if you need any help with formatting.

[2015-09-07 10:25] #273 closed

[2015-09-10 08:00] raphink commented on #276
What do you mean by YAML front matter?

[2015-09-10 10:32] retorquere commented on #276
The stuff that jekyll expects to set the title and such. It's just a block
of yaml text, but it'd allow generating the changelog straight to my github
pages site.

[2015-09-15 12:10] asgeirbirkis opened #280 "PRs not closed on master branch show up in changelog"
Sorry if this is a silly question that's been answered elsewhere (something similar seems to have been discussed in #37 and #60), or if I'm overlooking any option that takes care of this (I tried --since-tag, --no-unreleased and --filter-by-milestone) but I really like the output from the changelog generator and would love to use it for my project, and while I could manually edit the output now, t

[2015-09-15 12:45] skywinder commented on #280
@asgeirbirkis Yes, I know about this behaviour. I think it's time to create separate issue for this.
It could be solved, if we find a way to check, is PR was merged to `master` or not. But I have no idea, how to check it with [GitHub API](https://developer.github.com/v3/)

[2015-09-15 14:17] asgeirbirkis commented on #280
@skywinder Thanks for the quick reply. Afraid that I'm not an expert on the GitHub API, but would something like grabbing the sha of the last commit in the PR, and check whether it exists in the lists of commits on the branch work? The first tag that the PR's commit appears in would then be the version it belongs to.

Although as I said, not an expert on this, so not sure how feasible this plan is

[2015-09-18 20:52] olleolleolle commented on #272
I'd be interested in caring for this library as a Collaborator. Thanks for the trust.

[2015-09-20 23:27] dlanileonardo commented on #272
I'm interested in collaborate.

[2015-09-21 07:59] abonas opened #282 "PR appears as part of "unreleased"
Generating the changelog on latest master of this repo:
https://github.com/abonas/kubeclient/

Shows that the PR https://github.com/abonas/kubeclient/pull/118
is part of "unreleased" section, however it was released as part of v 0.5.1
as can be seen here:
https://github.com/abonas/kubeclient/compare/v0.5.0...v0.5.1

[2015-09-21 08:00] abonas commented on #282
Generating the changelog on latest master of this repo:
https://github.com/abonas/kubeclient/

Shows that the PR https://github.com/abonas/kubeclient/pull/118
is part of "unreleased" section, however it was released as part of v 0.5.1
as can be seen here:
https://github.com/abonas/kubeclient/compare/v0.5.0...v0.5.1

[2015-09-22 19:28] skywinder commented on #282
@abonas  Thanks. I will take a look next week, when come from vacation.

[2015-09-22 19:43] lamont-granquist opened #283 "Add a "changelog_skip" default ignored label"
similar to 'wontfix' but analogous to the `[ci skip]` tag that travis allows.

[2015-09-22 19:45] lamont-granquist opened #284 "Add a "documentation" label"
This should probably get its own breakout category like "Enhancements" or "Bugs"

[2015-09-22 19:50] skywinder commented on #284
@lamont-granquist now I'm use predefined labels only, that @Github uses in new projects by default.
I believe the closest label to `documentation` will be `wontfix`.
If you want to specify repo-specific labels - there is special options in the script.

[2015-09-22 19:52] lamont-granquist commented on #284
Lol, okay that's how the labels already got into a project that I hadn't done any label-maintenance on...  I thought this gem was auto-adding them...

[2015-09-22 19:52] skywinder commented on #283
Lets merge discussion of this label-support feature with #284.

[2015-09-22 19:52] #283 closed

[2015-09-22 19:53] lamont-granquist commented on #284
So can we customize the categories that render into the ChangeLog though?

[2015-09-22 19:54] lamont-granquist commented on #284
Essentially, I'm looking for `--custom-section Documentation` or something like that, and then some way to add labels to the new section....

[2015-09-23 15:33] Michel73 commented on #252
I would also appreciate such a feature. I prefer the second suggest of @eryx12o45, but you don't need the repo as prefix in each line, instead the link to the issue contains the repo. E. g. organisation/repo#issue

[2015-09-25 16:47] kieranklaassen commented on #56
Huge! +1

[2015-09-30 11:46] gemal opened #286 "wrong release used if pull has multiple pull request"
so we had a bug
where the developer commit a pull on 2015-09-24.
we then did a release at 2015-09-25
he then committed a new pull on 2015-09-26
that pull was merged
we then did a release at 2015-09-30

we then ran the version 1.9.0 change log generator

it then said that the bug was fixed in the 2015-09-26 release which is incorrect

[2015-10-01 12:36] skywinder commented on #286
Is it open source code? It would be nice, to look at the repo to debug. Usually this script uses `:merged_at` key from PR to detect date, when it was merged. So, is expected, that in your case it should be 2015-09-26. Can you check this param?

[2015-10-01 13:30] gemal commented on #286
it's not open sourced
I see what I can dig out of debug info

[2015-10-02 13:50] skywinder commented on #213
Blocker for https://github.com/ViccAlexander/Chameleon/pull/62

[2015-10-03 02:25] giggio opened #289 "More than one release worked in parallel breaks the changelog"
This is my scenario:
We are working on v1.0.0 and on vnext. We are currently releasing v1.0.0-rc3. The repo contains a master branch branch for v1, and a vnext branch for a post-v1 release. We have issues on a v1.0.0-rc3 milestone, and we have issues on a vnext milestone. We just made a v1.0.0-rc3 tag on the master branch.
When I generated the changelog, it included the issues from the vnext branc

[2015-10-11 00:19] SteveEasley opened #291 "Last tag contains too many PRs"
Running into an issue with the output file. I am running with `github_changelog_generator -t ... --max-issues=250` on a private repo. It is successfully appending the output of my HISTORY.md. This HISTORY file was generated with github_changelog_generator earlier (and the most recent 30 days of tags removed for testing). The issue is the first tag that is put on top of the HISTORY.md content after

[2015-10-13 20:03] oblogic7 opened #292 "Cannot exclude PRs without labels."
None of my PRs have labels, but using the `--no-pr-wo-labels` flag has no effect on the PRs being included in the generated log.

[code]

[2015-10-13 20:42] Voidi opened #293 "Several Issues with installing under Ubuntu 14.04"
I've encountered several problems trying to install this under Ubuntu:
1. Which ruby version?
I can install the packages ruby1.9.1 and ruby2.0, and maybe say which additional dependencys are needed see https://github.com/skywinder/github-changelog-generator/issues/64
2. The ruby script /usr/local/bin/github_changelog_generator has not execution right other then the owner, prevents from execution
3

[2015-10-16 17:39] mesutcelik commented on #56
I think `github-changelog-generator` should focus on generating beautiful release notes.

[JustRelease](https://github.com/justrelease/justrelease) is already using github-changelog-generator to generate [release notes](https://github.com/justrelease/justrelease/blob/master/justrelease.yml#L5) while creating Github Release Page,uploading Release Assets and many more additional release steps for au

[2015-10-19 13:50] dmolineus commented on #51
:+1: for this feature.

[2015-10-19 13:56] olleolleolle commented on #292
It seems like that setting `add_issues_wo_labels` is merely parsed as an option, and never used in the code. Thanks for reporting this issue!

[2015-10-19 17:32] skywinder commented on #56
@mesutcelik thanks for mention about this tool! it's not such a big thing, so, I think I will implement it there sooner or later :)

[2015-10-20 15:47] jeffutter opened #294 "Not showing pull requests manually merged on a branch"
I am working on a project that has 'feature' branches that have multiple 'story' branches of them. I would love to see an unreleased section in a changelog on the feature braches. When I have a feature branch pulled and I run github_changelog_generator on it, I see some of the pull requests from the stories that were merged there, but not all.

It seems to depend on what branch the pull request wa

[2015-10-23 03:21] alanhartless commented on #273
I was thinking more of the format.  For example, I prefer the PR#/link in front of each line rather the end.

[2015-10-23 05:54] olleolleolle commented on #273
@alanhartless If you want to hack on the generation of markup, the file to begin with may be `generator_generation.rb`. You might come up with ideas for how you'd want to express the options you want to use. Or, you may just find a way to get your desired output.

[2015-10-27 10:26] spacecowboy opened #302 "Can't exclude issues without labels"
Running with `--no-issues-wo-labels` seems to make no difference. There is still a `Closed issues` section generated with issues that have no tags.

[2015-10-29 01:57] SteveGilvarry commented on #280
Also seeing PR's merged on other branches as opposed to Master, looking at this https://developer.github.com/v3/pulls/#parameters seems like base would be the correct Parameter to use as a pull branch filter. Not to be confused with the --base option in generator.

[2015-11-11 10:43] SteveGilvarry commented on #280
I tried this myself but not sure this is the best first time ruby project.
https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/fetcher.rb#L126
I believe this would work to only get the pull requests on branch master. Obviously turning it into an option would make the most sense.
`response = @github.pull_requests.list @options[:user], @options[:project

[2015-11-11 22:14] SteveGilvarry commented on #280
So now I have managed to get it to build and can tweak these values. But the next issue seems to be app pulls all issues and then filters that to a list of pull requests. Then it is only using pull_requests.list for merged dates, once it compares it's filtered list to the result of pull.requests.lists it hits null issues as I filtered the pull list by base: "master". So the two lists are not equal

[2015-11-12 20:09] lamont-granquist opened #304 "since_tag seems to not be working"
I'm running with this config:

[code]

And expecting that what I'll get is the contents of my HISTORY.md file, and only the PRs since v5.0.0 (grouped under 'unreleased').  What I'm getting is all the PRs in the project with no tag orgnization to them at all.  If I throw in `since_tag = 'v4.0.0'` then I do get a correct section for the unreleased tags, but then the v5.0.0 tag gets all the rest of t

[2015-11-13 05:33] lamont-granquist commented on #304
Link to PR with code + output of running 'rake changelog':

https://github.com/acrmp/foodcritic/pull/406

[2015-11-13 12:36] skywinder commented on #280
@SteveGilvarry thanks a lot for your research! :+1:

Since PR's is subtype of issue - it retrieves them all together.

[2015-11-13 12:49] SteveGilvarry commented on #280
@skywinder yes I got to that eventually including the notes all over the github api about issues and pull requests being a lot closer in the past. Surprised they haven't implemented a filter for issues and pr's on that.
Anyway I was thinking using the Pull Request API with a Base option to pass in the branch as a way to filter the pull request list. At the moment it assumes a match for everything

[2015-11-13 15:22] skywinder commented on #280
@SteveGilvarry Cool! :+1:  Get in touch m8! Actually don't have a time to work on it. Hope I can back to project  1-2 weeks later,

[2015-11-16 12:43] grEvenX commented on #304
Having the same issue

[2015-11-16 17:57] lamont-granquist commented on #304
So, and to be clear it looks like the `since_tag` works correctly for determining how many 'blocks' of PRs there are and their heading.  It also works for the top N-1 blocks/headings.  But the last block/heading gets all the rest of the PRs thrown in it and ignores the since_tag, effectively dumping all of the PRs into the changelog.

[2015-11-18 19:19] raphael-riel commented on #280
Look like @SteveGilvarry got up and running in Ruby and wrote the #305 PR to fix this!

[2015-11-19 04:29] SteveGilvarry commented on #294
@jeffutter sounds similar to #280. Assuming you want to limit pull requests to a specific branch. #305 addresses it, well did for me so far.

[2015-11-25 12:52] tkarls opened #307 "Keep future release even with no new closed pull requests or issues"
When using the --future-release <tag> option  it would be good to get the release noted in the CHANGELOG.md file with link to full changelog even if no pull requests/issues are closed.

This is good to capture the cases where there are commits done that we're not linked to any pull request or issue (perhaps not a good strategy. But it happens...)

Right now it will be completely omitted which is k

[2015-11-25 13:24] skywinder commented on #307
Hi! It makes sense. Also as soon as #51 will be implemented - you can easily add essential commits to your change log also! :wink:

[2015-11-25 13:26] tkarls commented on #307
Great stuff :+1:
Thanks.

[2015-11-26 05:47] muralidcis opened #308 "First time running github-changelog-generator endup in error."
Iam pretty new to this environment and Iam just trying to use your log-generater, your README, or the document says,  gem install github_changelog_generator and  go to the git repository and run github_changelog_generator -u skywinder -p ActionSheetPicker-3.0

1) Every time when i generate should i use only the skywinder credentials ? cos when i try with my own gituser name and password it says in

[2015-11-26 10:32] muralidcis commented on #308
sorry, it was straight forward,

github_changelog_generator -u myusername -p repo -t thenegeratedtoken

[2015-11-26 10:32] #308 closed

[2015-12-01 18:23] wookiecooking commented on #293
Same issue

[2015-12-15 03:17] tjsail33 opened #309 "Squash Release Candidates into the Release"
It would be great if there was an option to squash the 1.0.0-rc.0 and 1.0.0-rc.1 and so on tags into one larger 1.0.0 section of the changelog.

[2015-12-15 04:38] ryanramadhan commented on #309
wow, great started

[2015-12-15 08:11] skywinder commented on #309
Yes, I also thought about this. But there is no clear behaviour, in which case should we delete postfix, and in which cases not.
So, I decide to not implement such a hard logic, since there 2 good workaround for that case:

1. remove rc tags from repo. (destructive way)
2. Use `--exclude-tags` option  to specify which tags should excluded. (thanks, to @olleolleolle - and #281 PR - now you can do t

[2015-12-15 14:29] tjsail33 commented on #309
@skywinder would you welcome a PR that included this functionality should I have time to work on it?

[2015-12-15 14:41] skywinder commented on #309
@tjsail33
- Yes, I can review this PR, but I it should be covered by tests
- Please, make this feature not disabled by default, i.e. user have to specify additional key for this feature.

[2015-12-15 17:47] fabn commented on #269
I've just discovered this project and already love it.

This issue (and possibly #56) is the number one issue in my watchlist.

Not every notable change is documented in GH issues so have a way to add manual entries to changelog file imho is a must.

That said thanks for this awesome gem.

[2015-12-15 21:37] retorquere opened #311 "skip empty releases"
Would it be possible to get an option to skip empty releases? Currently I achieve this by doing a double-run of GCG; one to generate a changelog, which I parse to see which releases did not have any issues listed, and then a second run using `--exclude-tags` to compact the changelog.

[2015-12-16 10:01] skywinder commented on #311
Thank you.
I have to think about it. Sound good as another an option.

[2015-12-22 11:35] stanislav-zaprudskiy opened #312 ".github_changelog_generator config file is not consistent with the internal options hash"
Currently, an option expected from the user is not usually consistent with the corresponding option hash key. For instance, `--enhancement-label [LABEL]` is stored as `options[:enhancement_prefix]` (`_label` part is stored as `_prefix` internally). This produces incompatibility with the `parser_file.rb` code.

That is why, there appear a situations similar to the following. One tries to use GitHub

[2015-12-29 15:38] elovelan opened #313 "Add hook to allow modification/exclusion of generated lines"
Use case: We put the user story number (not using GitHub issues) in our PR description. Right now I'm monkey patching [``get_string_for_issue``](https://github.com/skywinder/github-changelog-generator/blob/1.9.0/lib/github_changelog_generator/generator/generator_generation.rb#L165) to add a link to the story in our story tracking system.

It would be great if there was a mechanism to call a post-l

[2015-12-29 16:04] ryanramadhan opened #314 "Getting more done in GitHub with ZenHub"
Hola! @ryanramadhan has created a [ZenHub](http://www.zenhub.io) account for the **skywinder** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub accou

[2015-12-29 16:07] #314 closed

[2015-12-29 16:13] skywinder commented on #313
@elovelan sounds good. :+1:
It will make this script more flexible. I'm happy to review PR, once we arrange, how it should works.
I think we can add additional option to use wording + use default options such as
[code]
as words to find according pattern.

[2016-01-05 14:43] #280 closed

[2016-01-05 19:40] asgeirbirkis commented on #280
Great, looking forward to try this out!

[2016-01-06 04:50] elovelan commented on #313
I haven't forgotten about this, just been very busy! Hoping to get some time next week to put some more thoughts and/or a PR together.

[2016-01-06 07:04] skywinder commented on #313
@elovelan thank you! :+1:
No rush :wink:

[2016-01-08 11:54] SandroMachado opened #316 "Add support for custom sections"
Currently the project groups the `merged` pull-requests, the issues with the label `bug` and the issues with the label `enhancement`. All the issues with other labels are grouped at the same block.

Is it possible to add more labels to group the issues with that labels?

Thanks for your work.

[2016-01-08 12:10] skywinder commented on #316
No, there is no such option yet.

[2016-01-08 12:51] ruipenso commented on #316
:+1:

[2016-01-08 13:01] olleolleolle commented on #316
(In order to know more about the feature, here's a guess about how it could be used.)

[code]

[2016-01-08 13:21] skywinder commented on #316
@olleolleolle :+1:

or by command line smth like:
`--custom_sections 'Goodies in this release', goodies, wonderful`

But how to make ability to add several custom sections?
Obviously, we have to create internal Dictionary `[String:Array]`
like
[code]

Do you know convenient way to add it via CLI options?

[2016-01-11 06:49] eryx12o45 commented on #252
Hi,

any news on that?

[2016-01-11 08:57] skywinder commented on #252
@eryx12o45 it's not in my priority list for now. But I'm ready to review PR, is someone would like to help to implement this :+1:

[2016-01-17 11:25] crucialfelix opened #317 "between-tags and exclude-tags do not work in .github_changelog_generator"
When passed in as command line options they work, but not if they are in the .github_changelog_generator file:

[code]

[code]

[2016-01-17 11:53] crucialfelix commented on #309
It looks like if you exclude a tag then the features and fixes it contained simply disappear from the timeline. They do not get merged with the following tag as I would expect.

That means if we exclude release candidates then the final release has no changes listed at all.  We do not want to delete those tags, those were actual beta and alpha releases.

[2016-01-17 23:57] skywinder commented on #309
@crucialfelix excluded tags shouldn't affect issues. the issues will listed under next release as if that tag doesn't exists.

[2016-01-17 23:59] skywinder commented on #317
Related with #278
CC @dlanileonardo

[2016-01-18 13:32] crucialfelix commented on #309
okay, today I did get that to work. you are correct, it does work. thanks

[2016-01-18 13:46] skywinder commented on #309
@crucialfelix :+1:  you are welcome!
@tjsail33 Feel free to reopen this question, if you still have any questions.

[2016-01-18 13:46] #309 closed

[2016-01-20 19:29] swarzech commented on #304
+1

[2016-01-23 20:38] skywinder commented on #293
@Voidi @wookiecooking Don't have ability to test it on Ubuntu. Please, let me know, if you find any solutions.

[2016-01-29 11:11] pgom commented on #56
@skywinder that feature would be great!

[2016-01-30 22:08] retorquere commented on #311
I've monkey-patched GCG to implement this. It's hackish, but you might still be interested in how I did it. Code is at https://github.com/ZotPlus/zotero-better-bibtex/blob/master/bin/changelog.

`generate_log_for_all_tags` removes all empty releases by

1. generating all releases as usual
2. remove any leading empty releases
3. compact the list of releases by removing the empty releases
4. re-gene

[2016-02-02 09:35] skywinder commented on #311
@retorquere thanks for update! :+1:
It would be nice, if you can implement is as option, so I can accept PR with this feature.

[2016-02-02 12:38] retorquere commented on #311
I'm trying to. I keep running into rate limits when testing, so it'll take a while.

[2016-02-03 12:12] retorquere commented on #311
Pull request is at https://github.com/skywinder/github-changelog-generator/pull/321

[2016-02-04 18:14] lamont-granquist commented on #304
might be a dup of #282 ?

[2016-02-09 12:21] aaronmcadam opened #323 "Ruby 2.3.0 - Deprecation warning: Github::ResponseWrapper#respond_to?(:to_ary) is old fashion which takes only one parameter"
Hi, I'm seeing a lot of the following warnings when I run the gem:

[code]

[2016-02-12 16:53] thorpep138 commented on #291
I'm also getting the first tag containing more PRs than it should -- namely those that don't match a previous tag. Can someone look into this?

[2016-02-16 01:48] ruipenso commented on #316
@skywinder Any news? :)

[2016-02-17 10:55] skywinder commented on #316
@ruipenso didn't work on that feature yet.

[2016-02-17 12:35] skywinder commented on #255
Done, thanks to @dlanileonardo

[2016-02-17 15:04] olleolleolle commented on #255
\o/

[2016-02-18 20:47] tvdeyen opened #325 "Can't run under RubyGems 2.5.1 and Ruby 2.3.0"
### What have I done

Following the README, I installed via `gem install github_changelog_generator` without any problems

#### In the root of the repo:

[code]

#### Running:

[code]

#### I get following error:

[code]

#### Even with a GitHub token:

[code]

I get the above error.

### My env

[code]

[2016-02-19 06:14] olleolleolle commented on #325
It's not you, it's Rubygems + 2.3.0 that gives you this headache. @jesjos got this weird error yesterday - on a completely different project.

His workaround was "for this, use rvm with a slightly earlier Ruby version". Something like rvm 2.2 do github_changelog_generator.

[2016-02-19 17:29] joffrey-bion opened #326 "Can't remove v prefix for release_url"
I would like to use the release_url link to point to my bintray repository hosting the binaries.
I can't do this because the git tag passed as parameter contains the usual "v" prefix, such as "v1.4", while the bintray url does not:

    https://bintray.com/joffrey-bion/applications/fx-log/1.4

I believe there are many other places where this would be a problem, as the standard git tags include the

[2016-02-22 11:10] Chosko commented on #325
I'm running in the same issue

[code]

with

[code]

[2016-02-22 15:04] tvdeyen commented on #325
Confirmed working with Ruby 2.2 and Rubygems 2.4.8

[2016-02-22 22:49] joffrey-bion opened #327 "Error when specifying exclude_labels"
When I specify the `exclude_labels` property in the `.github_changelog_generator` file, I get the following error:

    generator_processor.rb:9:in `&': no implicit conversion of String into Array (TypeError)
    from generator_processor.rb:9:in `block in exclude_issues_by_labels'
    from generator/generator_processor.rb:8:in `select'
    ...

I tried different syntaxes in the config file, but no

[2016-02-23 02:48] wwayne opened #328 "detect_since_tag undefined"
First thank you for this great tool, it's really useful.
I'm not familiar with ruby, so could you help me to check this problem when I execute `$ github_changelog_generator` in my project folder:
[code]
Thank you.

[2016-02-23 07:12] skywinder commented on #328
Hello. Can you show full command line, that you are execute?

[2016-02-23 08:56] wwayne commented on #328
I just follow the steps in README and execute
[code]
in my project root folder

[2016-02-23 09:05] skywinder commented on #328
Ok, I will have a look for it. Can you specify, for which project are you
run this option? Is it open source?

On Tue, Feb 23, 2016 at 10:56 AM Wang Zixiao <notifications@github.com>
wrote:

[2016-02-23 09:14] wwayne commented on #328
Yes,I use this for my personal open-source project : https://github.com/wwayne/react-tooltip.
I can add you as collaborator if that can help you to detect the problem.
And more info, I'm using:
* ruby 2.0.0p645
* gem 2.2.2

[2016-02-23 10:27] #328 closed

[2016-02-23 14:52] joaonice opened #329 "Getting an error on install"
Since last version we are receiving an error on installation:

[code]

[2016-02-23 15:03] skywinder commented on #329
got it. thanks for mention. Will try to figure out, where is a problem..

[2016-02-23 15:21] skywinder commented on #329
Fixed

[2016-02-23 15:22] skywinder commented on #329
src

[2016-02-23 15:26] nunorafaelrocha commented on #329
![](https://media.giphy.com/media/yoJC2ybvWveeDpddVS/giphy.gif)

[2016-02-23 15:36] skywinder commented on #329
@dlanileonardo seems it related with latest changes in `Rakefile`.. any ideas how to fix it?

[2016-02-23 15:38] olleolleolle commented on #329
Is this commit a related

https://github.com/YorickPeterse/oga/commit/076d82507a491ecc0e29dd6ebce2fd0d28d2748d

[2016-02-23 16:07] skywinder commented on #329
Seems problem in one broken test during installation. (Can't figure out, why it failed during installation and doesn't in local tests:

[code]

[2016-02-23 17:00] AnNOtis commented on #329
I got same failure in local test. This test case can be corrected quickly. But I think seperating installation and test is a proper way.

[2016-02-23 22:01] skywinder commented on #329
@AnNOtis I'm thinking in same way.
But I not familiar how `rake` and `gem` works together and which tasks called during `gem install github_changelog_generator`.
I tried to google it, but can't figure out how to separate testing and installation tasks? Can you help to do it right?
cc @olleolleolle

[2016-02-23 22:32] olleolleolle commented on #329
I believe a clue was in a PR recently merged - [Rakefile is an "extension" in the gemspec](https://github.com/skywinder/github-changelog-generator/blob/master/github_changelog_generator.gemspec#L20).

When installing, the Rakefile will be loaded. To load it, we need rake and bundler to be present as _runtime_ dependencies.

[2016-02-23 22:37] olleolleolle commented on #329
[Rubygems specification reference](http://guides.rubygems.org/specification-reference/#extensions) notes that the "extensions" are executed upon install.

[2016-02-24 01:24] wwayne commented on #328
Thanks for fixing, but looks I still get problem:
[code]
* Ruby: 2.0.0
* Gem: 2.5.2

[2016-02-24 12:51] skywinder commented on #328
@wwayne thanks for mention. I try to fix it. More info here: #329

[2016-02-24 14:00] jlambert121 commented on #327
I'm having a slightly different error installing, both from rubygems and master on GH.  This is on OSX 10.11.4 (beta), ruby 2.0.0p648, gem 2.0.14.1.

[code]

[2016-02-24 14:01] skywinder commented on #329
Command`gem install github_changelog_generator -v 1.10.5` works. But without version cpecifier still got this error

[2016-02-24 14:13] skywinder commented on #329
Seems it works. Problem was in buggy 1.11.0 release. I yanked it from gem repo. Now it works. Latest release is `1.10.4`

[2016-02-24 14:32] skywinder commented on #327
@jlambert121 try again. It should work now.

[2016-02-24 14:36] wwayne commented on #328
I install latest 1.10.4, but the `detect_since_tag` bug still there:
[code]
Anyway, thanks for your hard word on this, this is not urgent for me, I can use this tool when you have time to fix the bug.

[2016-02-24 16:38] dentarg commented on #329
@skywinder doesn't work for me without the version

[code]

[2016-02-24 18:54] Hout opened #335 "Cannot install gem"
Somehow the installation fails:

[code]

Ruby is v2.2.0.

[2016-02-24 19:07] olleolleolle commented on #335
1.11.0 was released, then yanked. Does gem update do anything?

[2016-02-24 19:55] Hout commented on #335
Did that, no effect.
Installed v2.3.0 with rbenv, interesting!
[code]
What is that: `DNS result has no information for _rubygems._tcp.api.rubygems.org`? Something wrong with my ruby after all?

[2016-02-24 19:57] olleolleolle commented on #335
A new release may be the only viable fix - forward is the way ahead.

[2016-02-24 21:31] chrisortman commented on #329
1.10.1 works for me, but 1.10.4 does not.

[2016-02-25 01:46] nicosuria commented on #329
Agreed, 1.10.4 is raising errors on install.

[2016-02-25 02:27] more-ron commented on #329
It looks like v1.10.4 has hidden dependencies on rubocop, codeclimate-test-reporter, and coveralls.

[2016-02-25 09:04] Hout commented on #335
Ok I will sit still in awaiting expectance.
Thamks for your efforts so far and for a nice tool!

[2016-02-25 09:45] skywinder commented on #329
@more-ron @nicosuria ok, thanks for report. Will take a look on it..

[2016-02-25 10:02] dentarg commented on #329
now rubygems tries to install 1.10.4 for me (but it fails as others have reported)

[code]

[2016-02-25 10:41] skywinder commented on #329
Please, kindly check `1.11.1`

[2016-02-25 10:41] #329 closed

[2016-02-25 10:42] skywinder commented on #328
@wwayne please kindly check `1.11.1`. Hope it works now

[2016-02-25 12:19] wwayne commented on #328
Thanks, but it looks still not woking
[code]

[2016-02-25 12:28] skywinder commented on #335
@Hout please, try now.

[2016-02-25 12:48] Hout commented on #335
It is different now:

[code]

[2016-02-25 12:57] olleolleolle commented on #335
The default task should perhaps only be "make the manual", not "run the tests and make the manual".

https://github.com/skywinder/github-changelog-generator/blob/master/Rakefile#L23

[2016-02-25 13:12] skywinder commented on #335
@olleolleolle
I agree with it. But reason, why I leave it - because before 341fb109ab it was

    task default: [:rubocop, :rspec]

And works fine..Any ideas, what happens now? Why it stop works?

[2016-02-25 13:18] olleolleolle commented on #335
@skywinder Because the change that changed things was gemspec's `extensions` (a list which lists paths which is run as code upon `gem install` having placed all Ruby files in place) now include only `Rakefile`, which has these imports that we now support.

The `rspec` sub-task starts RSpec, which requires `spec_helper` which inlcudes these current problematic things.

[2016-02-25 13:19] Hout commented on #335
Not being hindered by any knowledge of gems: it must have something to do with
[code]
when it tries to build the native extension.

[2016-02-25 13:29] skywinder commented on #335
@olleolleolle #337 is right solution in that case?

[2016-02-25 13:31] olleolleolle commented on #335
@skywinder I believe so. Perhaps you want to change the CI invocations later - perhaps with a specific CI rake task that does the necessary things.

[2016-02-25 13:40] skywinder commented on #335
@olleolleolle [circleci](https://circleci.com/gh/skywinder/github-changelog-generator/336#build-timing) runs `bundle exec rspec --color --require spec_helper spec --format progress`

And [Travis](https://travis-ci.org/skywinder/github-changelog-generator/builds/111745497)
`bundle exec rake checks` according `.travis.yml` file. So everything is fine! :wink:

[2016-02-25 14:03] Hout commented on #335
Success! Thanks for the quick resolution guys! :+1:

[2016-02-25 14:03] #335 closed

[2016-02-25 14:40] olleolleolle commented on #335
@Hout Shoutout to the caring community that tests stuff out!

[2016-02-25 17:10] fabn commented on #329
Still getting issues with 1.11.2, see [this travis build](https://travis-ci.org/swanandp/acts_as_list/jobs/111799169)

[2016-02-25 17:16] olleolleolle commented on #329
Current build error (except from that travis build)

[code]

[2016-02-25 18:15] skywinder commented on #329
:tired_face:

[2016-02-25 18:22] skywinder commented on #329
@fabn please try newest version..

[2016-02-28 17:01] sandrokeil opened #339 "install error "Not a git repository""
I've tried to install the `github-changelog-generator` 1.11.4 with different Ruby versions, but I get always this error:

[code]
What are the requirements for this gem? I use [Docker](https://hub.docker.com/_/ruby/) for the different environments. An image with rvm also doesn't work.

Also tested with [Ruby 2.2 and Rubygems 2.4.8](https://github.com/skywinder/github-changelog-generator/issues/325)

[2016-02-28 18:27] Belphemur opened #340 "Can't build on Windows"
Because of this line:
https://github.com/skywinder/github-changelog-generator/blob/master/github_changelog_generator.gemspec#L15

You can't use the date command on windows, it's used to set the date of the system. Gem can't build this module on windows.

[2016-02-28 21:05] olleolleolle commented on #339
Thanks for the report! I can tell what the defect is, because I caused it.

[2016-02-28 21:06] olleolleolle commented on #340
Thanks for reporting this.

[2016-02-28 21:15] olleolleolle commented on #339
See #341

[2016-02-28 21:29] olleolleolle commented on #340
`Date.today.to_s` - would that work for you?

[2016-02-29 02:22] MehdiK opened #342 "changelog for private repos on an organisation"
Hi, I have an organisation with a couple of private repositories. Is it possible to use github-changelog-generator to generate release-notes for these private repos?

Thanks.

[2016-02-29 05:48] sandrokeil commented on #339
@olleolleolle Thank you for the fast reply. Good to know. ;-)

[2016-02-29 05:49] olleolleolle commented on #342
Yes!

Generate a GitHub API token which has access to the repo you need to lookup metadata (PRs and such) for.

Then use this tool to make a changelog.

[2016-02-29 05:50] olleolleolle commented on #339
Getting more convinced that I don't want an automatic install-that-man-page post-install step.

[2016-02-29 12:43] Belphemur commented on #340
I've never worked with Ruby.
If the gem spec is in Ruby and Date.today.to_s is present in Ruby 2.2.X it should be working on Windows without problems.

[2016-02-29 16:32] jkeiser commented on #339
I have added a test for this in #344, that you might want to integrate into any fixes you do (to verify it doesn't regress again).

[2016-02-29 16:47] olleolleolle commented on #339
This is fixed on master, will be in the next release.

[2016-02-29 18:04] sandrokeil commented on #339
Thank you very much! :+1:

[2016-03-01 13:44] skywinder commented on #339
Released v.1.11.5.
Please feel free to reopen it, if you still have this issue.

[2016-03-01 13:45] #339 closed

[2016-03-01 13:47] olleolleolle commented on #342
@MehdiK Good luck!

[2016-03-01 13:47] #342 closed

[2016-03-01 13:56] olleolleolle commented on #340
See #343

[2016-03-01 14:43] skywinder commented on #340
Fixed in 11.1.6

[2016-03-01 14:43] #340 closed

[2016-03-01 15:37] sandrokeil commented on #339
[It works](https://github.com/prooph/docker-files/tree/master/github-changelog-generator/master "Docker Image") like a charm. :+1:

[2016-03-01 21:49] aerosol commented on #316
Just came here to give big ups :100:. Being able to group the changes per custom labels, e.g. "API" and "Front-End" would be totally awesome.

The CLI interface could look like:

[code]

e.g.

[code]

This way you could easily (sorry if I'm underestimating this - I'm not fluent with ruby at all), build the hierarchy - first build the custom groups, then within those, build the log of bugs, enhance

[2016-03-02 00:18] Belphemur commented on #340
The bug is still present. It seems Windows interpret the Date.today.iso8601 as the command date...
[code]

If as said in the pull request #343 Ruby don't need that parameter, can you remove it? After all not using it set it as TODAY which is what you were doing anyway.

[2016-03-02 08:44] skywinder commented on #316
@aerosol how to solve several groups in that case?

[2016-03-02 08:58] aerosol commented on #316
@skywinder could you give an example?

[2016-03-03 22:33] sciutand commented on #304
:+1:

[2016-03-04 10:18] olleolleolle opened #348 "Test installing on Windows: use AppVeyor"
We want to prove installing the gem on Windows is trouble-free using an AppVeyor GitHub build hook.

Can you build one?

Please help!

[2016-03-04 17:43] Arcanemagus opened #349 "Problems installing 1.11.7 on Windows when git absent"
When attempting to update to v1.11.7 on Windows I get the following error:

[code]

It looks like this is assuming the `git` command is available when installing, which is a bit odd as no other gem has required that so far...

[2016-03-04 17:44] Arcanemagus commented on #349
Tried again from a shell that had `git` available, that is indeed the problem.

[2016-03-04 17:48] Arcanemagus commented on #348
Ruby is already installed for you in the AppVeyor containers at `C:\Ruby22-x64` (or [these other locations](https://www.appveyor.com/docs/installed-software#ruby) for different versions).

If I knew the build process for Ruby gems I could help further, but my experience is more configuring it to test linters...

[2016-03-04 18:02] olleolleolle commented on #349
One can say the issue is that the gem wants to install its extra man pages using the Rakefile.

You can see it being called the extension.

If we'd skip that bit in the gemspec, the extension bit, which names the Rakefile, on your platform - it'd be able to install, I believe.

[2016-03-04 21:15] olleolleolle commented on #348
The script that tests installing a gem is the following:

[code]

You can see it in the `.travis.yml` configuration file.

[2016-03-04 23:43] #348 closed

[2016-03-06 12:31] crucialfelix commented on #317
fixed

[2016-03-06 12:31] #317 closed

[2016-03-06 12:33] crucialfelix opened #351 "github_changelog_generator/generator/generator_tags.rb:61:in `detect_since_tag': undefined method `[]' for nil:NilClass (NoMethodError)"
I have no idea what its trying to tell me. Should this be throwing exceptions like this ?

[code]

Apparently parsing exclude_tags from the config file still doesn't work.  But even on the command line I get the same bug:

[code]

[2016-03-07 09:51] davidsowerby opened #352 "Installation fails on Ubuntu"
I'm not familiar with Ruby, so I may be missing something simple ...

On Ubuntu 14.04, I installed Ruby:

`sudo apt-get install ruby`

That seemed to installed correctly
Attempted to install your gem:

`sudo gem install github_changelog_generator`

Fetching: rake-10.5.0.gem (100%)
Fetching: bundler-1.11.2.gem (100%)
Fetching: addressable-2.4.0.gem (100%)
Fetching: hashie-3.4.3.gem (100%)
Fetching:

[2016-03-07 10:03] olleolleolle commented on #352
@davidsowerby The issue seems to be a quite old `ruby` Debian package - http://stackoverflow.com/questions/7645918/require-no-such-file-to-load-mkmf-loaderror

[2016-03-07 10:04] olleolleolle commented on #352
@davidsowerby Thanks for your interest in github-changelog-generator! Do tell if using a newer Ruby worked for you.

[2016-03-07 14:11] davidsowerby commented on #352
@olleolleolle Thanks for the quick response. I'm hoping I can get this to work for me - your project seems to be doing exactly what I want.

Ubuntu is some way behind on Ruby versions.  I used the Brightbox ppa instead, and installed Ruby 2.3:

[code]

But ... I am still getting an error

ERROR:  Error installing github_changelog_generator:
	ERROR: Failed to build gem native extension.

/usr/bin/r

[2016-03-07 14:14] olleolleolle commented on #352
The ffi gem builds native extensions.

Kind souls on the Web explain this, too: https://github.com/jasmine/jasmine/issues/755#issue-54955239

[2016-03-07 14:24] davidsowerby commented on #352
Ok, tried this:

`sudo apt-get install gcc ruby ruby-dev libxml2 libxml2-dev  libxslt1-dev`
` sudo gem install ffi`

First command completed but references Ruby 1.9.1 and also has some suspicious output:

Setting up libxml2-dev:amd64 (2.9.1+dfsg1-3ubuntu4.7) ...
Setting up libxslt1-dev:amd64 (1.1.28-2build1) ...
Setting up ruby1.9.1 (1:1.9.3.551-2bbox1~trusty1) ...
update-alternatives: warning: fo

[2016-03-07 14:28] olleolleolle commented on #352
@davidsowerby We've reached the point in this GitHub Issue where we're answering "How do I install Ruby on Ubuntu with development header files so that `ffi` can install native extensions?"

I'll close this Issue since it's no longer about this project, but about how to get up and running with gems with extensions on Ubuntu 14.04.

[2016-03-07 14:28] #352 closed

[2016-03-07 14:43] davidsowerby commented on #352
Ok, fair enough, thanks for your help this far ... I've been trying to find some reference to installing on Ubuntu but not found anything complete as yet.  With luck, your summary of the problem will be enough to solve that:

To someone unfamiliar with Ruby that's a useful piece of information

[2016-03-07 14:55] olleolleolle commented on #352
@davidsowerby Cool! Perhaps this can be a tip? http://www.nokogiri.org/tutorials/installing_nokogiri.html#ubuntu___debian

[2016-03-07 14:55] olleolleolle commented on #352
@davidsowerby Nokogiri is a common dependency which has extensions.

[2016-03-08 14:27] davidsowerby commented on #352
@olleolleolle Thanks for the thought - but I decided not to install Ruby just for this - much as I like the look of your project, it would introduce an unnecessary dependency, and one which is clearly not straightforward to manage.

I have a half-written alternative - I'll just need to finish the other half ... but thanks for your help

[2016-03-08 14:35] olleolleolle commented on #352
@davidsowerby "It depends", as always. Best of luck!

[2016-03-11 20:02] silvestreh commented on #351
I believe I'm getting the same error…

[code]

But since I know jack about Ruby, I'm not exactly sure if it's the same.

[2016-03-17 19:47] olleolleolle commented on #327
Continued work on this in #354.

[2016-03-17 19:52] olleolleolle commented on #323
This is a message from [the github_api gem](https://github.com/peter-murach/github/issues)

Here is the implementation of `respond_to?`
https://github.com/peter-murach/github/blob/c7b4e08cf1f48d86ea071f545842246587d6a6e0/lib/github_api/response_wrapper.rb#L133

Here is a fix to it:

https://github.com/inukshuk/bibtex-ruby/commit/a65a370a8c7be93303c281477d1da65566cdad5f

[2016-03-17 19:54] #323 closed

[2016-03-18 07:59] #327 closed

[2016-03-18 08:39] perlun commented on #325
I think it's a bit more sophisticated than that. I.e., it's not _completely_ broken with Ruby 2.3.0, only under certain circumstances.

When running `github_changelog_generator` inside a project folder, I get the same error. If I change to another folder and manually specify a `-u user -p project`, it runs without problems.

If I run the exact same command inside the project folder, it fails.

The

[2016-03-18 22:52] shortdudey123 commented on #329
@skywinder Still seeing this in `1.7.11`

[code]

[code]

[2016-03-19 09:28] olleolleolle commented on #282
Hi, this is still a defect. I label this issue BUG now.

The tool puts PRs in the wrong bucket.

In this small snippet, we can find PR 118 wrongly placed in the section generated after 0.5.1:

[code]

(You can verify that the placement is wrong by visiting the 0.5.1 Full Changelog, where the 118 merge commit is visible.)

[2016-03-19 11:25] olleolleolle commented on #325
@perlun just patched this defect Rubygems (not yet released). See https://github.com/rubygems/rubygems/pull/1558 for more details.

Closing this issue. Thanks, all!

[2016-03-19 11:25] #325 closed

[2016-03-19 11:28] olleolleolle commented on #284
Closing this in favour of the more general feature request #316. Thanks for filing the issue - you can subscribe to the other one to keep updated.

[2016-03-19 11:28] #284 closed

[2016-03-19 20:36] nicwaller commented on #316
I would also appreciate this feature! In accordance with [Semantic Versioning](http://semver.org/) I make a point of highlighting changes that break backward compatibility. It would be great if I could configure the changelog generator to include a section for breaking changes. Like this.

[code]

As you can see, I've also proposed an alternate command line syntax for specifying sections. I like t

[2016-03-21 09:09] perlun opened #359 "Warn/fail when running on JRuby"
It tends to take a long time with JRuby and not even be able to complete anyway:

[code]

I think we should add something like `abort 'JRuby not supported' if RUBY_PLATFORM == 'java'` to the startup of `github_changelog_generator` to avoid this. A proper long-time fix would be to try and make it work with JRuby as well, but that's probably more work.

[2016-03-21 09:10] olleolleolle commented on #359
Or, in the .gemspec? http://guides.rubygems.org/specification-reference/#platform=

[2016-03-21 09:13] perlun commented on #359
Yes - good idea, even cleaner that way. But how will that work if you have a `Gemfile` for your project and want it to be usable in both `ruby` and `jruby` scenarios? Will you have to `platform:` that specific gem line then?

[2016-03-21 09:53] olleolleolle commented on #359
The error to the user will be something like "Can't find a release matching your platform." from Rubygems/Bundler. Non-installable on those platforms.

[2016-03-23 13:00] gravitystorm commented on #276
Looks like this was added in https://github.com/skywinder/github-changelog-generator/commit/6f17e7c23633bebb56d4aab4976e34d4ade32d3c

[2016-03-23 13:23] olleolleolle commented on #276
It sure does, @gravitystorm.

[2016-03-23 13:23] #276 closed

[2016-03-23 13:29] gravitystorm commented on #71
This is a major problem for the project that I'm working on (https://github.com/gravitystorm/openstreetmap-carto) due to the moderately large number of issues and PRs (1322 and 773 so far). It is taking me a while just to implement [our initial changelog](https://github.com/gravitystorm/openstreetmap-carto/issues/1430), since I need to change issue tags, change config values, run github_changelog_

[2016-03-23 13:33] retorquere commented on #276
By me in fact :)

[2016-03-23 13:36] olleolleolle commented on #71
@gravitystorm Could you open a separate issue for the caching? (I dig it!)

[2016-03-23 13:36] olleolleolle commented on #276
@retorquere Thanks for building it!

[2016-03-23 13:51] gravitystorm opened #361 "Cache API responses"
From https://github.com/skywinder/github-changelog-generator/issues/71#issuecomment-200343511

It would be a good idea to cache the API responses (e.g. issues and PRs) to save downloading them again every time that github_changelog_generator is run.

This is a major problem for the project that I'm working on (https://github.com/gravitystorm/openstreetmap-carto) due to the moderately large number

[2016-03-23 19:13] olleolleolle commented on #312
This is now released.

[2016-03-23 19:13] #312 closed

[2016-03-28 10:13] skywinder commented on #361
Agree, as @estahn mentioned:

could be nice alternative to #211.

[2016-03-29 08:44] perlun opened #362 "Wishlist: --exclude-tags could support a regexp/glob pattern"
This is useful in our use case, when we tend to tag a version when it is being deployed to a particular environment. E.g.: version 1.2.3 deployed to the `tst` environment would be tagged as `tst_1.2.3`.

I can volunteer to fix this, if it is considered a useful feature. Suggestions on how it should work (new option or just change existing behavior of `--exclude-tags`?) are highly welcome.

[2016-03-30 21:15] joasgarcia opened #363 "Is it works with private repos?"
Are there any required param to execute with private repos?

[2016-03-31 05:28] olleolleolle commented on #363
A token with the `repos` Privilege.

[2016-03-31 05:28] #363 closed

[2016-03-31 07:25] perlun commented on #286
I see something similar, where pull requests are being connected to the wrong release. Unfortunately non-FOSS in this case also. Will see if I can find a way to nail it down locally.

[2016-03-31 07:37] olleolleolle commented on #286
Related to this: https://github.com/skywinder/github-changelog-generator/issues/282

[2016-04-01 10:34] skywinder commented on #362
Implemented in 1.12.0 by #320

[2016-04-01 10:34] #362 closed

[2016-04-01 10:39] perlun commented on #362
Excellent, thanks a lot!

[2016-04-02 19:13] retorquere commented on #361
I've started doing this on a fork

[2016-04-02 21:23] retorquere commented on #361
Not a simple change. I'm a little lost in how GCG hangs together, to be honest.

I have Octokit-based caching working, but care needs to be taken when it comes to thread-safety, and the objects Octokit yields are subtly different it seems, and the github_api objects are passed around the app, so a move to octokit touches nearly everything at once.

I'm doing some sqlite-based experiments (my curre

[2016-04-04 07:13] skywinder commented on #361
@retorquere :+1:
please give me name of your branch and push it in your fork to review!

To simplify this feature, I would like to finish #222 first. I want to do it this week, so it will easier to implement this feature after!

[2016-04-04 07:20] retorquere commented on #361
There's no branch yet. Nothing works right now.

[2016-04-08 18:22] insuusvenerati opened #364 "Error installing on Ubuntu 14.04"
Getting an error when trying to install:

`Invalid gemspec in [/var/lib/gems/1.9.1/specifications/unicode-display_width-1.0.3.gemspec]: Illformed requirement ["< 3.0.0, >= 1.9.3"]
Invalid gemspec in [/var/lib/gems/1.9.1/specifications/unicode-display_width-1.0.3.gemspec]: Illformed requirement ["< 3.0.0, >= 1.9.3"]
Invalid gemspec in [/var/lib/gems/1.9.1/specifications/unicode-display_width-1.0.3.

[2016-04-12 16:51] abreksa4 commented on #364
+1

Same here on 14.04

[2016-04-12 21:29] dguo opened #365 "Pull requests seem to be inaccurately included in tags"
Hi, thanks for this tool. I have an issue regarding the pull request logic. My team follows the  [Git Flow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) workflow, and our changelog seems to be inaccurate as a result. The list of merged pull requests under each tag contains all the pull requests that were merged into any branch during the time between that tag and t

[2016-04-13 22:28] insuusvenerati opened #366 "Add commit messages as changelog entries"
I know you can add enhancements, issues and pull requests but can we get it to simply list commit messages as part of the change log?

[2016-04-14 12:01] skywinder commented on #366
Duplicate of #51. Please upvote or suggest improvments for this feature there.

[2016-04-14 12:01] #366 closed

[2016-04-15 03:26] insuusvenerati commented on #51
I'm just dropping by to +1 this. Currently my only option is to use a git-changelog plugin on jenkins.

[2016-04-15 08:38] olleolleolle opened #367 "Feature Request: On using a public token on a private repo and getting a 404, fail informatively"
When having mis-configured github-changelog-generator, with a token with the wrong permissions (it needs `repos` to work), the error output is:

[code]

This 404 from the GitHub API is an error which stops execution, and we could present a more informative error message, which speculated on possible causes and showed a link to the docs on making a token with private repo permissions.

[2016-04-16 19:16] Aluxian commented on #351
I'm getting this too:

[code]

[2016-04-26 12:20] skywinder commented on #365
Hi, there! Thanks for mention it.
To solve this issue it's required to find a way to check, is PR merged to `master` or not, Still Wondering how to do that.

[2016-04-28 02:50] dguo commented on #365
Hmm..what about [getting the list of commits in the PR](https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request) and then checking if the tag contains those commits? Not sure how much that could affect performance.

[2016-04-29 17:32] connorshea opened #369 "Add a LICENSE file"
I know the README says MIT License, but it'd be nice to have a LICENSE file in the repo itself, if possible. We're interested in using some ideas and potentially code from your Changelog generator in order to integrate a feature like this directly into GitLab (see the discussion [here](https://gitlab.com/gitlab-org/gitlab-ce/issues/15345)).

Thanks!

[2016-05-05 10:04] #369 closed

[2016-05-05 10:43] skywinder commented on #365
@dguo thanks, it makes sense. I will check, how it works. It would be very nice improvement!

[2016-05-05 16:38] connorshea commented on #369
Thanks!

[2016-05-09 12:05] skywinder commented on #359
Since there is no any easy way to fix it - I will close it, since we are not going to support JRuby for now.

[2016-05-09 12:05] #359 closed

[2016-05-09 12:22] #364 closed

[2016-05-09 12:26] skywinder commented on #351
Fixed in #368

[2016-05-09 12:26] #351 closed

[2016-05-10 02:01] MCKRUZ opened #374 "unreleased and unreleased-label"
[code]

You have two of the same descriptions for two different items.

[2016-05-10 18:56] tas50 opened #375 "Excluding issues in the Rake task"
I'm a bit confused on how to use some of the command line options in the Rake task.  I'd like to set no-issues in the Rake task. The readme says the command line options can be included in the Rakefile with config.whatever.  The code looks like it only includes issues though and not no_issues.  Is there a way to disable adding issues to the changelog via the Rake task?

[2016-05-10 19:16] olleolleolle commented on #375
Perhaps we should include a negative option setting in the code sample in the README.

The --no-something syntax is for setting the "something" flag to off from the command line.

To set the "something" setting to off using the .github_changelog_generator file, you add a line like:

something=no

Finally, to set it in the configuration of a Rake task, set it the value it should have; in this case

[2016-05-10 23:21] tas50 commented on #375
Thanks for the lengthy reply.  That seems to remove the issues just fine, but now I'm not seeing enhancements and bugs, but just merged pull requests.  Is that the expected behavior?

[2016-05-11 04:27] olleolleolle commented on #375
https://github.com/skywinder/github-changelog-generator/blob/6a51c0b4354416469f5c9ba23992fbd7cf6bb0e1/lib/github_changelog_generator/parser.rb#L64 Here is the option parsing with names and such, where the docstrings are.

Please do investigate. Perhaps you've come across some language problem in the documentation - that the project does not explain what its options do well enough.

If you can prop

[2016-05-11 16:34] yarikoptic opened #376 "[wishlist] --include-tags-regex"
There is `--exclude-tags-regex` but there could be a variety of non-release tags in the repository.  So IMHO it would be a more common use-case to be able to specify which tags regex to consider (instead of trying to catch all the ones to exclude).  Or is there a "negation" which could be specified within exclude-tags-regex, so I could say "exclude all which do not match this regex".  Thanks in ad

[2016-05-11 16:40] yarikoptic opened #377 "[wishlist] allow to exclude non-annotated tags"
relates to #376 .  Generally annotated tags are advised to be used for releases and other important "tagging events".  That is the ones 'git describe' uses by default (unless you provide --tags).  I think that github-changelog-generator doesn't care to discriminate between the two types of tags atm, and it might be beneficial to have this support

[2016-05-12 05:41] dmitriz opened #378 "ERROR: Loading command: install (LoadError)"
I don't even know where to start ;(

[code]

[2016-05-12 06:08] olleolleolle commented on #378
Hi dmitriz.

Your `2.0.0-p195` has a busted (perhaps due to a reinstall) dynamically loaded C dependency.

This is not a Github Changelog Generator issue. Closing.

Perhaps you can get around this by upgrading your ruby installation - `brew update && brew upgrade ruby`.

[2016-05-12 06:08] #378 closed

[2016-05-12 12:32] tamers commented on #365
I started using this awesome tool a week ago ( @skywinder thanks btw ) but I have the same exact problem as @dguo so +1 for this feature

[2016-05-13 16:38] filib commented on #351
@olleolleolle @skywinder would it be possible for this to be pushed up to `rubygems`? I'm still seeing this error in `1.12.1`.

[2016-05-13 16:39] filib commented on #351
No, sorry, it's a different error. I'll open another issue.

[2016-05-13 18:19] olleolleolle commented on #351
@filib Hugs and have a good weekend!

[2016-05-18 09:11] vaernst opened #380 "[Question] Possible to omit -u option for private hosted github rest api call"
Hello

i would like to know if its possible to exclude to user value from the rest-api url

**problem i have now**

github_changelog_generator user/project --github-api http://..../rest/api/1.0/projects/projectname

Getting http response 404 for url
 http://..../rest/api/1.0/projects/projectname/repos/**user**/repovalue/tags

but if i manually goto below url

http://..../rest/api/1.0/projects/proj

[2016-05-18 09:31] olleolleolle commented on #380
@vaernst Good question!

I'm not perfectly familiar with the private GitHub API URLs and such.

So, when you have your own private GitHub API running, the username is never a URL component? I learn every day.

Can we collaborate on making a set of inputs + expected behaviors?

Would this invocation (without `--user`) represent better what you want to achieve?

`github_changelog_generator --project

[2016-05-19 07:10] vaernst commented on #380
@olleolleolle

=>Im not sure if in private Github this is always like this when you set it up, possibly this is configurable

=> this is indeed what i wanna achieve ... be able to excute without passing the -u user option

[2016-05-25 10:14] sparksp commented on #323
Looks like this has been fixed upstream now, you just need to `gem update github_api` on your local environment 😄

[2016-06-03 06:02] EspadaV8 opened #388 "Issues with 2 labels appear twice in the changelog"
Some issues can have multiple labels added to them which then cause the changelog file to have 2 lines for the one entry. In some cases this might be wanted (if it was a 'bug' label and an 'enhancement' label) but other times the 2 labels on GitHub could both be classes as a 'bug' label in the generator. The duplicated entries then end up together in the file and it looks like a mistake.

[2016-06-03 06:03] EspadaV8 commented on #388
Possibly related to this, but if an issue is duplicated it appears that the special characters, e.g. `[` are double escaped with `\\`

[2016-06-11 08:40] TheFive opened #389 "To many Issues ?"
When I generate the Changelog i get the following error:
[code]
If i reduce the number of issues, the changelog generator is finishing, but than the changelog itself is missing some (random) issues. (that can easily be seen in the diff).

Is there an other way to configure the changelog generator ?
(i am working with daily / weekly releases, so i have a huge amount of releases & issues).

My repos

[2016-06-11 08:41] TheFive commented on #389
I have installed the newest version with gem install today.

[2016-06-11 09:13] TheFive commented on #389
My actual idea is to put all release notes before 1.0.0 to history.md and generate only the later one, but i did not find a configuration for the changelog generator to manage that.

[2016-06-15 13:01] skywinder commented on #389
I going to implement this logic in next releases.
Close in favor of #209.

[2016-06-15 13:01] #389 closed

[2016-06-21 19:00] topic2k opened #390 "Clone of GitHub Changelog Generator in Python"
Hello, i liked the output of GitHub Changelog Generator, but i wasn't able to get Ruby running (it). As i don't know Ruby but Python, i decided to try to port it.
The script ([pygcgen](https://github.com/topic2k/pygcgen)) is working and seems to do it's job right, but i wanna ask all of you, if you could try it and report any issues or do pull request. The options of the script only slightly diffe

[2016-06-21 19:07] skywinder commented on #390
Thank you for warm words about this project. There's quite hard to port all the things to Python. Since this project is perfect work of several rubists for a year. To tell the truth, Python and Ruby is pretty similar by speed and functionality. So I don't think that there's any reason to port it to Python.

[2016-07-01 16:33] topic2k commented on #390
Thanks for your answer.
Well, the reasons for me to port it were:
- i wasn't able to get ruby running the script,
- i don't know Ruby (but a good enough amount of Python),
- i was curios if i can get it ported.
Of course you are right, there is no real need or reason to port it. ;)  Anyway, it was fun and challenging learning a bit of Ruby that way.

BTW: Maybe you can add a label "question", "won

[2016-07-01 16:33] #390 closed

[2016-07-01 17:59] olleolleolle commented on #390
(Thanks, @topic2k!)

[2016-07-03 05:20] tas50 commented on #375
I've been playing around with this more and I do think it's still a bug.  Here's the rake task config I'm using for the project acrmp/foodcritic:

https://gist.github.com/tas50/0c62f088263d1789c6068f884f49e752

If I set issues = false I get a changelog like this:

https://gist.github.com/tas50/bcfc2151782c66a6c4e1b3cf70833260

Notice that you don't see enhancements of bug fixes.  Everything just s

[2016-07-07 01:27] dylandhall opened #394 "Changelog includes issues going back months too far"
Changelog includes issues going back to feburary, when my last release (marked by --since-tag) is in June.

Maybe I'm using it incorrectly, or maybe I wasn't tagging correctly before.

My release is tagged on the master branch, perhaps it's using develop as a reference and missing the tag? Is there a way to do this by dates instead? Is this just an error?

[2016-07-10 23:31] robbieaverill commented on #394
Same issue as #304

[2016-07-11 21:06] cormacmccarthy opened #395 "GHE not working with --github-site set to an enterprise site"
I'm able to successfully use the tool to create a changelog for a site on github proper, but, when I try and run it against my enterprise site, it doesn't work.

[code]

[2016-07-12 06:41] olleolleolle commented on #395
Hello, thanks for registering this!

I don't have access to a GHE, and am guessing a little here, to try and diagnose what's wrong.

Have you tried _also_ adding the option `--github-api` to the above invocation?

[code]

[2016-07-12 14:48] cormacmccarthy commented on #395
I believe that did the trick! Well, at least, I didn't get an error. I got:

[code]

So, it's an empty CHANGELOG, but, I'm assuming that's related to other things that I can easily fix, and unrelated to GHE issues. Thanks!

[2016-07-12 14:48] #395 closed

[2016-07-12 15:06] olleolleolle commented on #395
@cormacmccarthy If you were to read about this, say, in the docs. Where would you want to learn this?

[2016-07-12 15:07] olleolleolle commented on #395
@cormacmccarthy I'm asking because I think you and I can make an edit to the README together.

[2016-07-12 19:22] TomyLobo commented on #289
I have the same issue. I'm currently working on our 1.2.2 release, but had to release a 1.2.1.1 and 1.2.1.2 first and created the according milestones.
Now the ordering is off and everything from the main branch ended up in the 1.2.1.1 release in the changelog.

[2016-07-12 20:21] cormacmccarthy opened #397 "`--user` flag should not be ignored"
I am specifying a user using the `-u` or `--user` flag in the command line.

I expect this to result in my command line specified user being used.

The actual result is that it "detects" me as the user, and uses me instead.

The issue with this is that the repository I am trying to generate release notes for is not owned by me, I work from (and issue pull requests) from a fork of a repo owned by a

[2016-07-12 20:24] cormacmccarthy commented on #397
Same thing happens if I create a `.github_changelog_generator` file and put `user=shareduser` in there.

[2016-07-13 03:29] Voidi commented on #293
After reinstalling this under Ubuntu 16.04. with the same Problems, it seems that the gem manager uses the umask of root, which i my case results in 700 file permissions.
So after all that seems not issue on our side.

[2016-07-13 03:29] #293 closed

[2016-07-17 19:35] muuki88 opened #398 "Contributors Section"
Hi,

Thanks for this nice helper tool. What I like to do for my project is to list all the contributors for a given release. Which could look like

[code]

[2016-07-18 08:11] skywinder commented on #398
Hi, @muuki88!
I don't think, that is very common case for changelog generator.
Feel free make a PR, or compound  it from the "Merged pull requests" section by regexp and shell script, if you want to. 😉

[2016-07-18 08:11] #398 closed

[2016-07-18 11:31] chros73 commented on #302
I can confirm this issue with `--no-issues-wo-labels` and the same applies to `--no-pr-wo-labels` as well (no matter whether `--no-filter-by-milestone` is set or not).

Sample config:
[code]

URL to issues: https://github.com/chros73/rtorrent-ps/issues?q=is%3Aissue+is%3Aclosed
Note: There are 3 issues without label and all of them are included (every issue has been assigned to a milestone (there's

[2016-07-18 11:54] chros73 commented on #302
So, the workaround for these bugs for now can be that we assign a dummy label (e.g. `no-changelog`) to those issues/pull-requests and use `exclude-labels=no-changelog` in config.
The working config (with couple of hacks :) ) is:
[code]

[2016-07-18 14:12] skywinder commented on #293
Thanks for update, @Voidi

[2016-07-22 07:06] #397 closed

[2016-07-22 18:28] muuki88 commented on #398
@skywinder you are probably right. Thanks anyway :)

[2016-07-25 09:47] liiight opened #402 "can't create Thread: Not enough space (ThreadError)"
I'm getting this error after executing. I am using `--token`.

[code]

[2016-07-25 09:55] olleolleolle commented on #402
Out of memory: bringing in all these in memory took more space than you had available. On your OS, perhaps the max addressable is 4gb? Can it be that much?

[2016-07-25 10:14] liiight commented on #402
I'm using win7 64 and have 8gb ram. Dunno how much was available when running it though, I'll mind the process monitor this time

[2016-07-27 14:57] liiight commented on #402
Any ideas?

[2016-07-27 15:07] olleolleolle commented on #402
One random Web search turned up Jesse Storimer's book on Threads in Ruby,
and his blog post:
http://www.jstorimer.com/blogs/workingwithcode/7970125-how-many-threads-is-too-many

On Wed, Jul 27, 2016 at 4:57 PM, Or Carmi <notifications@github.com> wrote:

[2016-07-27 15:17] olleolleolle commented on #402
So, this code:
https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/generator/generator_fetcher.rb#L15
is trying to open 1 Thread _per_ tag. And you had 900+.

900 open Threads with Ruby.

@skywinder: This bit used to have logic to open 50 threads max.

https://github.com/skywinder/github-changelog-generator/commits/master/lib/github_changelog_generato

[2016-07-28 06:14] liiight commented on #402
Can I limit the number of opened tags?

[2016-08-01 12:03] aastudio opened #403 "-bash: github_changelog_generator: command not found"
I did ```gem install github_changelog_generator```

My settings :
- ```ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin15]```
- gem version ```2.4.5.1```
- ```Homebrew 0.9.9```

When I run ```github_changelog_generator```, I have the following message : ```-bash: github_changelog_generator: command not found```

[2016-08-01 12:08] olleolleolle commented on #403
The command name uses dashes?

[2016-08-01 21:12] aastudio commented on #403
I simply run ```github_changelog_generator```

[2016-08-03 23:58] aelavender commented on #71
Hi, sorry to dredge up an old thread.  Ran into the rate-limiting issue when trying to process a very large repo (~12k PRs merged over the history of the project).

It appears that the part that makes the vast majority of requests is fetching issue events, which needs to be done once per issue/PR.  Would it be reasonable, for large repos, to skip this step and instead used the `merged_at` or `clos

[2016-08-05 15:58] sbrownInfospace commented on #244
We reproduced this in one of our Infospace private repos:

https://github.com/infospace/search_clientside_results/releases

Expect the 3.9.1.508 release tag to be most recent (by publish time and tag version) instead of the 3.9.0.507 one.

[2016-08-09 20:41] jkeiser opened #406 "Fetching events for issues and PRs triggers abuse rate limits"
When fetching events for issues and PRs, if there are enough of them, github_changelog_generator can trigger the abuse rate limits. We should try following the [abuse rate limit guidelines](https://developer.github.com/guides/best-practices-for-integrators/#dealing-with-abuse-rate-limits), or wait the respectful amount of time, or something, rather than just dropping the events on the floor.

When

[2016-08-09 20:51] jkeiser commented on #406
The key here seems to be "Make requests for a single user or client ID serially. Do not make requests for a single user or client ID concurrently."  Following that guideline means removing the thread stuff there.

[2016-08-09 20:53] jkeiser commented on #406
Oh! I think the reason I'm seeing it and others aren't, is that they allow a certain amount of parallelism but there is a bug in the way we cap our thread count. Will PR.

[2016-08-09 21:28] jkeiser commented on #406
On my machine, reducing this thread count to 16 fixes the error (and reducing it to 30 is not enough): https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/fetcher.rb#L169

[2016-08-10 00:26] jkeiser commented on #406
I have now narrowed the number down a bit: 24 threads does not trigger the issue at all, and 26 triggers it a ton. I bet there is a magic parallelism number they have, and I bet it's 25.

[2016-08-10 01:41] jkeiser commented on #406
Confirmed! 25 simultaneous requests is OK. 26 is abuse.  Will make PR.

[2016-08-10 07:19] #406 closed

[2016-08-11 12:00] skywinder commented on #244
@sbrownInfospace your link doesn't work, since repo is private. I would like to debug this bug, but need real example.

[2016-08-11 12:03] skywinder commented on #403
Could it related with `rvm` `chruby or `rbenv` settings? Is the other gem works in this way?

[2016-08-11 12:07] skywinder commented on #402
@olleolleolle thanks for research. Ok, I will handle it. Now pretty limit with access to pc. But I will try to resolve it asap.

@liiight you can use options: following option to limit tags:
[code]

[2016-08-15 07:39] Turbo87 commented on #213
@skywinder has there been any progress on this feature? I'd love to be able to include e.g. custom upgrade instructions in some of the release notes.

[2016-08-15 07:47] Turbo87 commented on #397
@skywinder has the fix for this been released? I'm using v1.13.1 and I'm having the same issue.

[2016-08-15 07:48] Turbo87 commented on #397
so apparently this works if you use `-u` **and** `-p`, but not if you only use `-u`.

[2016-08-17 12:10] skywinder commented on #213
@Turbo87 I think, that is must have feature. But now I'm working on other projects. So have no time to implement it by myself.

[2016-09-01 06:49] perlun commented on #253
I think this can be closed. Happened to me now also when the repo had been renamed.

[2016-09-01 10:42] Sloy commented on #291
Same here. I'm not using `--max-issues` but rather `--since-tag`. It's including all PRs in the first tag.

[2016-09-01 19:36] olleolleolle commented on #403
Rbenv uses [a "rehash" command](https://github.com/rbenv/rbenv#rbenv-rehash) to build command-line wrappers around any executable that gems provide.

This issue has seen no response in a month. Re-open with more details, if it's still a problem.

Take care!

[2016-09-01 19:36] #403 closed

[2016-09-20 20:49] rcdailey opened #416 "Support Stash/Bitbucket"
I use Atlassian Stash (Bitbucket Server) at my workplace. Will this function with Stash repositories?

[2016-09-21 03:34] olleolleolle commented on #416
No. Thanks for asking.

[2016-09-22 21:15] aih commented on #316
An alternate, or additional feature would be to add the label next to the commit message. Something like:

- Add support for custom sections #313 [feature-request]

[2016-09-26 14:43] victornoel opened #419 "Support Gitlab (and other github-like backends)"
Hi,

How hard would it be to have a pluggable backend to switch from github to gitlab if desired?
I guess most of the logic behind github-changelog-generator is not github specific but solely relies on the fact that there is issues, PR, tags on them and so on.
Gogs could be another candidate for that.

I would like to help, but I'm not very familiar with Ruby so I really couldn't handle the refact

[2016-09-29 21:41] olleolleolle commented on #349
This has been changed to not use the git binary.

[2016-09-29 21:41] #349 closed

[2016-09-29 23:23] rmtheis opened #425 "Install error on Mac: "rack requires Ruby version >= 2.2.2""
I'm getting this error when I do `sudo gem install github_changelog_generator` on Mac OS X El Capitan Version 10.11.6:

    ERROR:  Error installing github_changelog_generator:
	rack requires Ruby version >= 2.2.2.

Any suggestions?

[2016-09-30 05:52] olleolleolle commented on #425
I think the README wants to help you - you can add a Gemfile in the folder where you want to run the tool.

If you can work with me to improve those instructions, we can get them to a place where they're for everyone.

Try following the FAQ item about Gemfile - then tell me about your experience. It's never been run by someone trying it for the first time.

Best of luck!

[2016-09-30 09:02] olleolleolle commented on #425
Bundler, the package management gem, which allows you to peg dependencies to versions, has an open issue which is "help OS X users to know what to do".

https://github.com/bundler/bundler/issues/4986

[2016-09-30 09:08] olleolleolle commented on #425
In order for you to get ahead,

This blog post does two things at the beginnging: https://gorails.com/setup/osx/10.11-el-capitan

- Installing Homebrew
- Installing Ruby

Can you do those? Then, you should be able to

[code]

note the absence of the `sudo`.

[2016-10-03 11:00] skywinder commented on #416
I will reopen it as the feature request. It would be nice to think, how can we use the same engine for other repos like Bitbucket + Jira.

[2016-10-03 11:09] skywinder commented on #304
@lamont-granquist  Hi. Is this issue still valid? Can you give me a name of your repo, if it's open sourced, in order to test it?

[2016-10-03 11:19] olleolleolle commented on #416
I added the Help Wanted sign to this issue, in order to search for a champion.

When we have the project in a shape where adding a new backend is easy, this can be done.

[2016-10-03 12:40] skywinder commented on #416
That's right!

[2016-10-03 16:05] lamont-granquist commented on #304
still valid last i checked.

acrmp/foodcritic was the repo i was testing it against, the PR linked to in the 2nd comment shows the results, you should be able to check out that PR against foodcritic and replicate the output.

[2016-10-04 23:50] rmtheis commented on #425
Thanks for pointing me in the right direction! In the end I updated Ruby rather than creating a gemfile.

At first I hadn't fully understood the problem, and I hadn’t realized that I’d need to have RVM in order to update my Ruby version. Once I realized that, I was able to install RVM with

    gpg2 --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
    \curl -L

[2016-10-04 23:50] #425 closed

[2016-10-05 13:06] skywinder commented on #419
Related with #416

[2016-10-18 11:31] nunofgs commented on #253
Just got bit by this as well. Glad I found this issue!

[2016-10-19 07:40] olleolleolle opened #435 "Docs: update the token failure example to OctoKit 404 failure"
This part of the readme refers to a failure which won't happen with OctoKit:

https://github.com/skywinder/github-changelog-generator/#github-token

[2016-10-26 14:23] crtrott commented on #316
Just wanted to add that we'd like to see this feature as well. But its a great tool already.

[2016-10-26 17:31] mikewaters commented on #361
+1'd, we have 6k pull requests and the generator parses them *all*, even if I only want the current release. I'd like to integrate this with our CD, and don't want to run into API limitations (or knock over our enterprise instance).

[2016-10-28 09:55] gnowenegue commented on #51
is this feature fully implemented yet?

[2016-10-31 10:45] olleolleolle opened #436 "Spec for #line_labels_for behavior"
There's a new cool feature merged into master in #418: you can opt to add labels onto the GitHub issues lines of the changelog.

That behavior (the creation of the line) lacks an RSpec test.

https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/generator/generator_generation.rb#L154

[2016-11-04 21:40] olleolleolle commented on #394
Thanks for reporting and de-duplicating. Closing in favor of #304.

[2016-11-04 21:40] #394 closed

[2016-11-04 21:58] olleolleolle commented on #374
Fixed in #439.

[2016-11-04 21:58] #374 closed

[2016-11-04 21:59] olleolleolle commented on #326
Cool feature. Pull-requests are welcome. As are ideas about how to configure this.

[2016-11-04 22:24] joffrey-bion commented on #326
Thanks for your interest, and sorry for not giving more ideas in my first post. I would gladly contribute, but I'm no ruby developer. Time to learn :)

A possibility would be to provide a new parameter containing the prefix/suffix of the tags that we don't want injected in the release URL. For instance, something like:

    url-ignored-tag-prefix=v
    url-ignored-tag-suffix=-SNAPSHOT

We could al

[2016-11-04 22:59] thorsteneckel commented on #291
Should be a duplicate of #304 and fixed with PR https://github.com/skywinder/github-changelog-generator/pull/438 .

[2016-11-04 23:13] thorsteneckel opened #440 "Broken multi hyphen options in param file"
Hi there,

currently it seems not possible to use options that contain multiple hyphens in the param file like e.g. `issue-line-labels`. This causes the following error:

[code]

[2016-11-04 23:40] thorsteneckel opened #442 "broken issue-line-labels in log"
Currently the option 'issue-line-labels' generates broken entries in the log like `{line_labels_for(issue)}`.

[2016-11-05 00:01] thorsteneckel commented on #436
Related #443

[2016-11-05 07:45] olleolleolle commented on #442
Thanks, fix merged.

[2016-11-05 07:45] #442 closed

[2016-11-05 07:50] olleolleolle commented on #440
Thanks for fixing this!

[2016-11-05 07:50] #440 closed

[2016-11-06 14:52] rnelson0 opened #444 "multi_json is required but is listed as a test dependency"
https://github.com/skywinder/github-changelog-generator/blob/9f08e3b014246f6d71b403964897438f1b6bff32/lib/github_changelog_generator.rb#L9 specifies that multi_json is required, but it's only listed as a [development dependency](https://github.com/skywinder/github-changelog-generator/blob/8cf43822c3c2404397fe1a684b853f1e6bda323b/Gemfile#L19) and is not listed in the gemspec. This generates errors:

[2016-11-06 16:58] #444 closed

[2016-11-08 21:37] Morketh opened #446 "Configuration settings file"
Would be really handy to have a configuration file that contains settings. currently i have a ```git changelog``` alias setup to call the changelog generator however this gets really messy when you have different repositories setup with different issue labels or you want your change log formatted differently between projects. I think a global configuration file with sections for each repository wo

[2016-11-10 09:50] Jwata opened #447 "Filtered issues/PRs are different from comparing changes"
Since issues/PRs are filtered by time, the filtered issues can be different from `Comparing changes` by tags in Github which is actual changes.
I'm not sure if it's possible to filter issues without time.

https://github.com/skywinder/github-changelog-generator/blob/d551c3a1987f34f6d1b20e2c35bcdf52b9a827ab/lib/github_changelog_generator/generator/generator_generation.rb#L98

[2016-11-10 17:29] Turbo87 opened #448 "Error: can't convert Sawyer::Resource to Array when iterating over a 301 Moved Permanently"
when trying to run this generator I'm hitting the following error:

[code]

I've tried it with several other Ruby versions, uninstalled and reinstalled the gen again, but nothing works... any clue what I'm doing wrong?

[2016-11-10 17:48] olleolleolle commented on #448
Thanks for this report, @Turbo87. Let's figure it out!

[2016-11-10 18:14] Turbo87 commented on #448
thanks to @rwjblue we've figured it out: this was caused by an outdated `.github_changelog_generator` file. the repository was recently moved to another organization but the file wasn't updated. while this was not a real issue of the generator, the error message could be improved though to tell you that the repository wasn't found.

[2016-11-10 18:19] olleolleolle commented on #448
@Turbo87 Thanks for figuring it out!

[2016-11-10 18:23] olleolleolle commented on #448
@Turbo87 To improve chances of us fixing your issue, do you have a before/after of the `.github_changelog_generator` file?

[2016-11-10 18:25] Turbo87 commented on #448
@olleolleolle see https://github.com/ember-cli/ember-cli-mocha/commit/d712d0968485c03118ebb8517c282a372919013d

[2016-11-10 19:15] olleolleolle commented on #448
I have a hard time reproducing this failure. Things I tried:

- pointing it at olleolleolle/github-changelog-generator
- pointing it at olleolleolle/olleolleolle.github.io which has 0 tags (does not fail)

Hm. Hm. Is it about having transferred ownership of the repo?

[2016-11-10 19:17] olleolleolle commented on #448
Now! Now I can.

Using the original ember-cli-mocha one!

[2016-11-10 19:17] Turbo87 commented on #448
It might be. I know that GitHub is redirecting *some* stuff, but maybe not everything.

[2016-11-10 21:31] tduffield opened #450 "What is the expected behavior of "between-tags"?"
The wording of the description of "between-tags" says that the "Change log will be filled only between specified tags". What I took that to mean was that if I specified tags, the section headers would combine the changelog for those tags.

For example, say I have the following tags: 1.2.[0-20], 1.3.[0-40], and 1.4.[0-10].
Now, lets say that I specify the following config:
[code]

I would expect th

[2016-11-10 23:44] #448 closed

[2016-11-10 23:47] olleolleolle commented on #272
@thorsteneckel, would this be something for you?

[2016-11-11 07:14] thorsteneckel commented on #272
Oh :) Would be an honor!

[2016-11-11 08:16] olleolleolle commented on #255
Oh, we've had this since February, I'll close this. Enjoy!

[2016-11-11 08:16] #255 closed

[2016-11-11 08:17] olleolleolle commented on #272
Poke, poke, @skywinder - can you add @thorsteneckel as a "collaborator"?

[2016-11-11 12:22] skywinder commented on #272
@olleolleolle  With pleasure under your supervision! 😉   👍
Welcome, @thorsteneckel! 🎉

[2016-11-11 12:24] thorsteneckel commented on #272
thanks guys 🤓  glad to be here 🎉

[2016-11-12 09:22] olleolleolle commented on #446
Hi @Morketh, thanks for writing this feature idea down.

Would this still be useful to you if it were reduced to "a shared global defaults configuration file"? E.g  `~/.github_changelog_generator.rc`? The simplification I'm after is dropping the "sections", and only keep the global defaults in there.

Ttogether with the project-specific  `.github_changelog_generator` file configuration that alread

[2016-11-12 10:01] thorsteneckel commented on #291
Feel free to reopen or leave feedback. Should be changed since 14.1.

[2016-11-12 10:01] #291 closed

[2016-11-13 01:08] Morketh commented on #446
I think that would be the best way to do it as some defaults would be set for the entire system and the rest can be overridden per project file.
I didn't actually know about the alias i couldn't really find much documentation here on the wiki or through the ```--help``` flag in the way of configuration files just all of the different command-line options. once i figure out all the project specific

[2016-11-13 20:02] olleolleolle commented on #446
There, now I renamed the issue, to update its goal. Thanks for clarifying the feature request.

[2016-11-13 23:42] Morketh commented on #446
Glad i could help provide a few ideas, and look forward to seeing this in production

[2016-11-14 12:41] aparraga commented on #256
same issue here!
I commit my changes in #78 branch and I commit a pull request against master. After that, someone label master with 3.0.4 (but #78 is still pending to merge, nobody has review the pull request). After releasing the 3.0.4 someone reviewed and merge the #78 in master. And the next time the CHANGELOG is generated, the #78 is under the 3.0.4 automagically. I don't think that this is t

[2016-11-14 21:59] tduffield commented on #450
Sorry @olleolleolle, but it'd be great if I can have an answer in the next couple days. I have some time-sensitive work that depends on the answer.

[2016-11-14 22:06] olleolleolle commented on #450
I have not investigated `--between-tags`. Not sure what it wants to do. The actual behavior seems not-so-useful, though.

@skywinder, do you know?

@tduffield If you feel like poking through the history and deduce, it's all there.

[2016-11-14 22:11] tduffield commented on #450
@olleolleolle I did look through the history briefly but I didn't see anything that answered my question super clearly.

[2016-11-16 18:44] levithomason commented on #56
Oh man, I would love to see this.  I've been vouching for this project for a while and as of late, losing some of those debates due to the lack of human curated notes.  It's been called "a pretty commit message dump" :(  Having human curated notes would top this off as a premier changelog generator, IMO.

***
P.S.

I do really love this project.  In fact, I decided to wrap it up in an API, [Github

[2016-11-20 15:03] edusantana commented on #375
You can also look at the [rake task file](https://github.com/skywinder/github-changelog-generator/blob/dcd15d1f5d8f230eea9512b746b1cc5697d7cb66/lib/github_changelog_generator/task.rb#L10-L21) options.

[2016-11-21 21:34] skywinder commented on #56
Here is an interesting project by @mattbrictson: https://github.com/mattbrictson/chandler
It looks like something close to this idea.
Just leave this link there in case of.

[2016-11-22 13:43] skywinder commented on #450
The `--between-tags` not pretty useful and quite outdated option.
It works like `filter` for tags. i.e. leave tags, that specified after this option.
I think we can remove it in next major release to simplify the code.

[2016-11-22 13:47] skywinder commented on #256
@aparraga  which repository are you talking about? let me have a look on it.

[2016-11-22 14:21] tduffield commented on #450
I have to disagree. The between-tags is super useful for us (given my PR) in that we bump the version after every PR automatically but want the change log to reflect stable "releases." Im down if we want to deprecate that but having a way to specify section groupings is a must for us.

[2016-11-25 12:05] jimcitrs opened #456 "What is the expected behaviour of --base-file flag."
I'm using the --between-tags to specify an interval between my last generated tag and a the current tag. I use --base-file flag to update my current CHANGELOG.md. The problem it's that it updates my CHANGELOG including the new issues and PRs of the current tag, but it also adds a new Changelog head and This Change Log was automatically generated by [github_changelog_generator] footer every time.

[2016-11-28 08:21] Turbo87 opened #457 "Milestones on PRs not taken into account"
I've tried to regenerate the changelog on https://github.com/ember-cli/ember-cli-mocha, but seems to ignore the milestones set on some of the PRs.

e.g. https://github.com/ember-cli/ember-cli-mocha/pull/134 has milestone `v0.13.0` but generating the changelog puts it under the `v0.12.0` release instead.

[code]

[2016-11-28 08:31] olleolleolle commented on #457
filter_by_milestone feature option is used here: https://github.com/skywinder/github-changelog-generator/blob/d551c3a1987f34f6d1b20e2c35bcdf52b9a827ab/lib/github_changelog_generator/generator/generator_generation.rb#L103

[2016-11-28 08:41] Turbo87 commented on #457
[code]

and

[code]

both result in the same and wrong result. Removing the `--future-release` option also doesn't have any effect aside from changing the future release name as expected.

[2016-11-29 12:17] Turbo87 commented on #457
@olleolleolle I should probably add that the option seems to work fine for issues, but it does not work for PRs

[2016-11-30 08:43] Turbo87 commented on #457
@olleolleolle I have debugged this further and it seems that `--future-release` is indeed responsible for the problem, or rather it doesn't work as I would expect it.

Milestones are taken into account for all git tags, but the milestone that matches the `--future-release` isn't. In other words: if you try the changelog generator on the repository linked above it will work right as expected becaus

[2016-11-30 17:26] Arcanemagus opened #458 "v1.14.0 Fails with missing /tmp/ path on Windows"
It seems that v1.14.0 introduced a bug where it attempts to create `/tmp/github_changelog-logger.log`... which isn't a valid path on Windows and thus fails.

The stack trace:

[code]

It's possible this is related to https://github.com/skywinder/github-changelog-generator/commit/41271b1ecbd0161ad45c0b48304c8e38fc6c72e0, but I'm just guessing here.

Side note: An AppVeyor config was added back in h

[2016-12-08 19:43] aih opened #462 "Option to automatically add generated changelog to Github releases"
Does this option already exist? Does the github API allow it?

[2016-12-31 13:54] olleolleolle commented on #462
Hello @aih!

[Controlling Releases with the GitHub API](https://developer.github.com/v3/repos/releases/) is quite possible, but it feels like a tool to do that should be able to _consume an output_ from github-changelog-generator.

[2016-12-31 17:10] aih commented on #462
That's a good idea-- I'll look into it. At first glance, it's not clear how
to add html to the commit body, but that's an issue to be resolved with the
Github API.
Thanks!
Ari

On Sat, Dec 31, 2016, 5:54 AM Olle Jonsson <notifications@github.com> wrote:

[2017-01-04 07:53] Jonathonbyrd opened #468 "Auto Generate Next Semantic Version Number"
It seems that this script would be able to know the last release tag number and know what enhancements, improvements, bug fixes were made in the unreleased version. **Would it be possible to have this script return the next semantic version for the unreleased version?**

I'm using this script as part of a Travis-CI process that will tag our software if the last tag is older than thirty days.

[2017-01-04 11:11] stratosgear commented on #316
As @nicwaller mentioned above, the ability to hilight breaking changes in this newer release, is sorely needed in my use case.

Regarding passing multiple "sections", again as nicwaller suggests you could use repeating --section options.   Don't know the state of command line parsing libraries in Ruby, but several in Python allow you to easily implement that.

Great tool by the way... :)

[2017-01-06 10:55] hrmoller opened #469 "Cannot use --exclude-tags option after upgrade to Ruby 2.4.0"
My regex is no longer valid after upgrading to Ruby 2.4.0
I'm on a Mac with macOS 10.12.2 and github_changelog_generator 1.14.3

Here's part of the generated output:
[code]

[2017-01-11 00:13] fabn commented on #419
I'll follow this issue and #416 because it would be a great improvement to this project.

I suggest also another idea, I also tried [this tool](https://github.com/rafinskipg/git-changelog), it serves the same purpose as yours but it uses a different approach to generate changelog entries.

If a generic concept of entry provider is added to this tool to abstract the differences between Github/Gitla

[2017-01-11 14:34] goodevilgenius opened #471 "Generate current version number based on branch name, or supply next version number on command line"
I'd love to use this script, but one problem I have is that I'd want to include the changelog with the release (which is based on git tags). As you have it now, you can't include the changelog for v1.2.3 until *after* v1.2.3 has already been released.

What if, however, it could generate a changelog for v1.2.3, based on the current branch being named "release/v1.2.3", or something along those line

[2017-01-13 22:53] rnelson0 opened #472 "Changelog generator does not work properly with forked repos"
I am trying to create a changelog for https://github.com/voxpupuli/puppet-grafana. When I do, it is almost empty - just 1 merged pull request under version 2.6.0. It appears to be because the repo is a fork. When look at one of the Full Changelog links like https://github.com/voxpupuli/puppet-grafana/compare/v2.1.0...v2.5.0 I see that PR 59 and 61 were merged - but on the parent repo. You can see

[2017-01-13 23:18] rnelson0 commented on #472
I'm pretty sure I know the answer but I have to ask and hope someone has a solution! Thanks for this tool, it's pretty awesome :)

[2017-01-16 09:18] skywinder commented on #472
@rnelson0  This script work with you repo as the standalone project. Empty sections appeared because you don't have any closed issues or PR related to this tags.
I don't think, that it's necessary to support forked repo. If you forked it to make something new - you have to start your new change log. If you forked to implement and merge new feature - it will appeared in the main repo as soon as it

[2017-01-16 15:19] rnelson0 commented on #472
@skywinder I understand why it's not working. Is it possible that it could be made to work? I am not that familiar with the GitHub API to know if it *can* pull from the upstream. If you think it can be done, though, and can provide a hint of where to start, I would be willing to try to create a PR for a feature flag.

Our use case is when a project is permanently forked from the original, rather t

[2017-01-16 15:30] skywinder commented on #472
@rnelson0 Thanks, I got the point. It could be done as soon as https://github.com/skywinder/github-changelog-generator/issues/252 will be implemented or this one: https://github.com/skywinder/github-changelog-generator/issues/213
Both of them will solve your issue. So I will close it in favor of most general task, that already created.

[2017-01-16 15:30] #472 closed

[2017-01-16 16:43] rnelson0 commented on #472
@skywinder Awesome, thanks. We'll see what we come up with and contribute a document and/or PRs as appropriate.

Again, thanks for this awesome tool!

[2017-01-17 16:39] skywinder commented on #462
@aih Hi! It's could be a great feature. I will close this in favor of #56. We can continue a discussion on that issue.

[2017-01-17 16:39] #462 closed

[2017-01-24 14:18] skywinder commented on #468
@Jonathonbyrd Hi. it's not possible to predict, which semantic  (minor, major or patch) number will be updated. And it's not directly related to change log generation.

Nevertheless you can use `--unreleased-label` to specify manually next version.

[2017-01-24 14:18] #468 closed

[2017-01-26 17:21] pantocrator27 opened #473 "Should the Rake task obey the .github_changelog_generator configuration file"
It appears that when running the GitHub Changelog Generator rake task, it does not obey the .github_changelog_generator configuration file

[2017-01-26 18:26] olleolleolle commented on #473
If it were to begin doing that, would you want/expect an off switch for the reading of that file?

[2017-01-26 18:59] pantocrator27 commented on #473
I think if it is generally a file that provides an override ... I think the presence of that file means it should be read.  I am just thinking of how something like rubycop works where it does not matter if I am using the CLI or the raketask, the .rubocop.yml file is always read.

[2017-02-03 23:24] vatbub commented on #458
Guys, me too, the stacktrace is
[code]

[2017-02-04 00:43] Arcanemagus commented on #458
Ah, looks like the discussion in #459 never got migrated over here.

The short story is this is fixed by the changes in #459, however the certificate store bundled with Ruby on Windows is too out of date to authenticate the SSL from GitHub, so it fails anyway. @olleolleolle was looking into a solution to this per https://github.com/skywinder/github-changelog-generator/pull/459#issuecomment-2650097

[2017-02-06 21:07] uhrohraggy opened #474 "bundler 1.14.3 issue with uninitalized constant"
Getting the following error running simple command. Appears due to a new requirement for autoload libraries vs requires needed. See https://github.com/bundler/bundler/pull/4981

Just wanted to put on your radar if it's not a bundler issue.

running: github_changelog_generator --future-release=v0.1.0
/home/mysys/.rvm/gems/ruby-2.2.5/gems/bundler-1.14.3/lib/bundler/rubygems_ext.rb:45:in `full_gem_pa

[2017-02-07 05:38] olleolleolle commented on #474
Thanks for making the link between this library and the Bundler issue. It's a deep issue, for sure. And the rake project did a workaround worth investigating.

Can you mention which version of Rubygems is used above? `gem --version`.

Can you try running a `gem update --system ` to try the failing thing with a newer Rubygems?

Thanks again, for an interesting report.

[2017-02-08 16:32] olleolleolle commented on #474
@uhrohraggy Would the suggested workaround `gem update --system` be within reach for you?

[2017-02-08 17:18] Arcanemagus opened #475 "SSL Cert issue on Windows"
With the fixes from #459 in place so that the program will run at all on Windows, we then start running into the following issue:

[code]

It seems the two alternatives for "solutions" to this are:

* Bundling a root cert bundle with this program that is more up to date than the one bundled with Ruby ([like this](https://github.com/piotrmurach/github/commit/926cd068f2fecc5fcefd293a4efc7736d6de399c

[2017-02-08 20:25] olleolleolle commented on #469
@hrmoller Hello!

Experiment: Try to fill in _both_ the `--exclude-tags-regex` and `--exclude-tags` with your value?

See the code for why this is perhaps a way through this winding code path: https://github.com/skywinder/github-changelog-generator/blob/bcacabcf5fca8eeaba7624b7f5551c9d92244b41/lib/github_changelog_generator/generator/generator_tags.rb#L178

[2017-02-08 20:37] XaserAcheron commented on #475
Welp. This is a fun issue to run into immediately upon trying the tool. D:

I don't have much insight to add, unfortunately (not a Rubyist), aside from "thanks for rememberin' us Windows users". :P

[2017-02-08 20:45] XaserAcheron commented on #475
I'm shooting in the dark here, but [this gem](https://github.com/stevegraham/certified) looks like it may ease the burden of going the bundle route, as it streamlines the process of updating the certs.

[2017-02-08 20:51] olleolleolle commented on #475
@XaserAcheron Certified's patches to Faraday seem out of date. Also: [The repository which it wants to download a certificate bundle file from](https://github.com/bagder/ca-bundle) nowadays says about itself:

[2017-02-08 22:48] Arcanemagus commented on #475
@XaserAcheron Btw, the last working version for Windows is currently v1.13.2, it's what I've been stuck on till this is resolved.

[2017-02-08 23:15] XaserAcheron commented on #475
@Arcanemagus Super-thanks! v1.13.2 indeed works. I'll see about updating once this is all resolved, but this version will do for now.

[2017-02-13 21:25] rnelson0 commented on #471
This is what the `future_release` is for.

[2017-02-15 12:59] SplittyDev opened #481 "Critical logging error"
Hey, when trying to run this on Windows I'm getting the following error:
[code]

Apparently it's trying to create a logfile in a directory that doesn't exist.

[2017-02-15 13:06] olleolleolle commented on #481
@SplittyDev https://github.com/skywinder/github-changelog-generator/issues/458 this is the same issue, right?

[2017-02-15 13:43] SplittyDev commented on #481
@olleolleolle Oh yeah, sorry I didn't see that.

[2017-02-15 13:43] #481 closed

[2017-02-17 21:10] jrjohnson opened #482 "Unreleased Only still pulls a lot of data"
We use this truly excellent library to create release notes and we only ever need the unreleased stuff.  Using the --unreleased-only flag still pulls thousands of issues in PRs even though only a few fall into this category.  Is there another flag I should be using, or is this just a necessary part of the process?

We occasionally end up getting messages like:
`403 - You have triggered an abuse de

[2017-02-22 06:05] mattstratton opened #483 "Exclude PR's from certain users?"
It would be just dandy if there was a method (maybe I'm missing something) to filter the PR's so that I can exclude PR's from certain users (i.e., myself, as the main contributor to my project).

I'm mostly interested in displaying PR's that came from outside the maintainers. Mostly because if I include all of the PR's, the changelog is HUGE. But I want to make sure that we maintain in the changel

[2017-02-22 07:01] olleolleolle commented on #483
I'm a user of the rake variant of this tool. There, it's a bit easier to add functionality, since lambdas etc could be placed there, with, say "additional filtering".

How do you configure the tool?

[2017-02-22 07:02] olleolleolle commented on #483
I'm typing this on a phone. It doesn't come out very clearly.

Implementing new things is easier when ignoring CLI options. Like, you know, the hard part.

[2017-02-22 08:32] mattstratton commented on #483
Right now, I have the gem installed locally and I just run the command with parameters (because we haven't released the software that is going to be using it, so I'm quite open to ideas).

We do our releases via github releases via Travis, so I had toyed with the idea of having Travis automatically run this, but it becomes a bit of a race condition due to the tags (the release is kicked off when T

[2017-02-22 08:42] olleolleolle commented on #483
💥 Experiment hint ahead: 📖

Ruby has open classes. You can override stuff, for fun and learning.

This Ruby method fetches issues and PRs from the API:
https://github.com/skywinder/github-changelog-generator/blob/bcacabcf5fca8eeaba7624b7f5551c9d92244b41/lib/github_changelog_generator/generator/generator.rb#L27-L36

You override it, and it could _also_ call an additional `proc` which could filter y

[2017-02-27 08:52] drafie opened #484 "404 Not Found Error"
I am getting this error when running it on a private repo.

github_changelog_generator --token XXXXXXXXXXXXXX

/var/lib/gems/2.3.0/gems/octokit-4.6.2/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/xxxxx/xxxxxxx/tags?per_page=100: 404 - Not Found // See: https://developer.github.com/v3 (Octokit::NotFound)

 from /var/lib/gems/2.3.0/gems/faraday-0.11.0/lib/

[2017-02-27 08:56] olleolleolle commented on #484
Wild guess: If you try using the ENV variable variant of the `--token`, does it do it differently?

[2017-02-27 09:14] drafie commented on #484
No, same result.

[2017-03-01 08:17] drafie commented on #484
End user error.   The GitHub token I created did not have sufficient privileges.   It requires the entire repo scope.

[2017-03-01 08:17] #484 closed

[2017-03-02 07:07] olleolleolle commented on #484
To not waste your experience, can you author an error message to present together with 404 errors?

To get you started composing:

- the user can check on the Web page if the project $PROJECT for the user $USER exists
- the user can check if the token used for any Private project has the "Repos" privilege checked

[2017-03-06 10:55] thebravoman commented on #474
Similar error from my side:

[code]

[2017-03-06 11:02] thebravoman commented on #474
[code]
was the answer.

[2017-03-07 15:25] nrodriguez commented on #304
Still getting this issue with 1.14.3

[2017-03-10 14:09] nnn commented on #458
Getting same thing as @vatbub. Are there any existing solutions for this now?

[2017-03-10 14:14] olleolleolle commented on #458
A workaround to try could be:

Setting the options `cache_file` and `cache_log` can be set, to avoid running the above code:

https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/octo_fetcher.rb#L34-L35

[2017-03-10 22:38] Arcanemagus commented on #458
Marking this as closed since #459 fixes the issue described here. Please follow #475 for the next issue preventing this from running on Windows.

If you don't need the latest version you can force the v1.13.2 version as it is the last working version on Windows.

[2017-03-10 22:38] #458 closed

[2017-03-11 19:16] spyhunter99 opened #486 "Question, how does it work?"
Just a question out of curiosity (and because I'm making a maven plugin that does something similar).

Q: how do you go about calculating which ticket was resolved with a given version?

I would imagine that are there several different ways to go about this.

 - time stamp, find all tickets resolved between the release tags
 - milestone based? not all projects use milestones but i would imagine yo

[2017-03-11 19:24] olleolleolle commented on #486
Hello!

Explore the `--help` for the options for what's possible. The code also is available to read, here.

The `@tag_section_mapping` calculation ought to interest you:
https://github.com/skywinder/github-changelog-generator/blob/bcacabcf5fca8eeaba7624b7f5551c9d92244b41/lib/github_changelog_generator/generator/generator_tags.rb#L16

The _GitHub Releases_ feature is not used. It's all about Git t

[2017-03-11 21:41] spyhunter99 commented on #486
THanks for the reply, I'm an experienced java developer but ruby is like greek to me. I would have normally traced through the code otherwise (and I attempted it).

As for the readme section, sounds like a great idea!

In my side project, I was able to pull the "release" lists from github and then calculate time stamps from that. But then I started thinking about tags. Tags could be on any branch,

[2017-03-11 21:52] olleolleolle commented on #486
Thanks for stopping by!

I will close this issue now, if that's all the same to you.

[2017-03-11 21:52] #486 closed

[2017-03-12 04:13] spyhunter99 commented on #486
https://github.com/mil-oss/MIL-STD-498-maven-plugins

[2017-03-27 12:11] nathanwebsterdotme commented on #244
Hi,  I'm also experiencing this issue when using the API to create tags via the releases API calls.

[2017-04-03 06:15] woodsae opened #489 "Automatic ticket links"
It is a common practice that developers put their ticket number at the beginning of their commits and pull requests.  These ticket numbers then appear in the changelog, but as plain text.  It would be helpful if the changelog generator could do a regex for the ticket number pattern and replace it with a link to the ticket in the project management tool of your choice.

I envision this working by p

[2017-04-10 11:43] akleiber opened #491 "Depending on time of changelog creation the date of old changelog entries changes"
Maybe this is not related to github-changelog-generator may be it is.

I have a closed pull request that was closed and merged on 08.04.2017 23:23 MESZ (UTC+2) according to GitHub. I created the changelog on 09.04.2017 00:05 MESZ (UTC+2). The release got the release date of 09.04.2017. Let's name this release R-1.

When I create a changelog for new releases the date for release R-1 changes to 08.0

[2017-04-10 11:56] olleolleolle commented on #491
`strftime`'s date format is a configuration options
[code]

[2017-04-13 07:08] olleolleolle commented on #474
@uhrohraggy Can you confirm that a `gem update --system` fixes things for you, too?

[2017-04-20 09:39] 5chdn opened #492 "Please document front-matter and release-url"
Hi, I don't seem to understand the following options:

        --front-matter [JSON]        Add YAML front matter. Formatted as JSON because it's easier to add on the command line

What exactly does that allow me to do? Would be nice to have an example.

        --release-url [URL]          The URL to point to for release links, in printf format (with the tag as variable).

I tried to use `https:/

[2017-04-20 09:40] olleolleolle commented on #492
front-matter creates ["YAML front matter"](https://jekyllrb.com/docs/frontmatter/)

[2017-04-20 09:42] 5chdn opened #493 "Improve API requests timing for large repositories."
Hi, I just tested the ruby changelog generator, and like it very much. I keep triggering the Github abuse detection mechanism.

    Warning: Can't finish operation: GitHub API rate limit exceeded, change log may be missing some issues. You can limit the number of issues fetched using the `--max-issues NUM` argument.
    #<struct Octokit::RateLimit limit=5000, remaining=4703, resets_at=2017-04-20 1

[2017-04-20 09:43] olleolleolle commented on #492
I searched the code here for `release-url` and this is the PR that introduced it:

https://github.com/skywinder/github-changelog-generator/pull/259

Hope this helps.

You're welcome to write documentation strings.

Perhaps as a part of the man page? https://github.com/skywinder/github-changelog-generator/blob/master/man/git-generate-changelog.md

[2017-04-20 14:39] ceddlyburge commented on #458
I just gem installed this on a windows machine and hit the same error.

I couldn't find out how to set --cache_log and --cache-file to nil via command line parameters.

I was able to make it work by simply creating a c:\tmp folder though.

[2017-04-21 12:36] binhex commented on #244
any news on this?, its now 2017 and the github api still sorts tags incorrectly, or at least it looks like it sorts based on numeric value of the tag rather than the more logical sorting of when created.

[2017-04-24 15:51] nuno-agostinho commented on #244
Hello, I am also experiencing inconsistent order from releases tagged in the same day: https://github.com/nuno-agostinho/psichomics/releases

[2017-05-05 12:31] hendrikeng opened #495 "What Tags to use to create Headings in Changelog"
Hey there, thanks for the awesome generator, it all works i just couldn't figure out wich tags to use in commit messages to create the headings like :

[code]

only closed issues was automatically generated in the changelog, i tried add: , fixes: etc...what am i missing..thanks a lot

[2017-05-05 13:06] olleolleolle commented on #495
Labels, @hendrikeng. GitHub Labels. I'll add one now, to this GitHub Issue.

[2017-05-05 13:27] hendrikeng commented on #495
@olleolleolle ah ok...i guess i misunderstood the whole concept then, so if i, in example, start a new project, i would create all features and functions i want to program as issues before i start, e.g. button xyz, when its finished, commit it with **feature #1 button** and  it would be stated in my changelog as feature implemented etc ....does that makes sense ? thanks a lot for your explanation

[2017-05-05 13:36] olleolleolle commented on #495
Dark secret: each GitHub Pull Request _is_ an Issue (just with some more metadata on it, and displayed differently on the github.com website). Pull Requests are also sorted in under their (label) heading.

[2017-05-05 13:44] hendrikeng commented on #495
Thanks a lot @olleolleolle :-)

[2017-05-05 13:45] olleolleolle commented on #495
Have a great weekend.

[2017-05-05 13:45] #495 closed

[2017-05-07 20:59] julienmoumne commented on #244
Reproducible issue on https://github.com/piwik/piwik-dotnet-tracker

This is the command we use `github_changelog_generator --exclude-tags-regex "\-"` using [this configuration file](https://github.com/piwik/piwik-dotnet-tracker/blob/master/.github_changelog_generator) (could not make the `--exclude-tags-regex` option work using the configuration file).

Here is the produced markdown. It would be

[2017-05-11 19:25] codysoyland opened #497 "Non-linear release histories not supported"
I may have missed a flag or something, but this doesn't appear to support release histories that include multiple maintained release branches.

As an example, see the changelog generated for github.com/pilosa/pilosa: https://gist.github.com/codysoyland/703101d5be09fc811cb3f7a6ab8d1e8e

As you can see, we made releases in the following order:

1. 0.2.4
2. 0.3.1
3. 0.2.5
4. 0.3.2

However, the chang

[2017-05-15 01:06] Lucashuang0802 commented on #492
@olleolleolle looks like `release-url` is included already. 😃

[2017-05-16 13:26] gustavjf opened #502 "Changelog Generator Requirements"
In the Readme, you mention `"Here is a wikipage list of alternatives that I found. But none satisfied my requirements."`

Would you be able to share specifically what your requirements were?

[2017-05-16 13:27] olleolleolle commented on #502
@skywinder That's a tricky one, for _you_. _Hugs!_

[2017-05-16 14:54] gustavjf commented on #502
Just to add a bit, I noticed some of the links [here](https://github.com/skywinder/Github-Changelog-Generator/wiki/Alternatives) only have an `"example"` link without cons. Some of those links are currently broken, but I was just curious why they're on the list if no particular cons were listed.

Was it just to share other potential alternatives?

[2017-05-16 16:12] unicolet opened #503 "PR cited in the wrong TAG"
I am not sure if this is related to #491 but we have a specific case (private repo, sorry) where a PR is cited in the wrong TAG.

I think it has to do with method `filter_issues_for_tags` using `actual_date`. I'm working on a PR ;-)

[2017-05-16 22:07] hyzhak opened #505 "Squeeze few tags in one"
I have one repository with a lot small tags: `0.0.1-0.0.69` (where I have done some crazy experiments with API) and `0.1.0-0.x.y` - much more stable tags.

So I'd like to have `CHANGELOG.mb` where one section `0.0.1-0.0.69` combines everything that come in this period and `0.n.m` for each `tag >= 0.1.0`.

How could I archive this by `github_changelog_generator` tool?

Thanks!

[2017-05-18 13:44] olleolleolle opened #507 "Bug: Credit line about this project added more than once"
Generated changelog files get  a "credit line" added at the end.

Such a "credit line" about this project **should only be added once**. Currently, it is always appended, whether needed or not.

Here is what one of those lines look like:

[code]

### Desired behavior

- Avoid adding more lines like it if it already exists
- If such a string (or strings, there can have been many) can be found at th

[2017-05-20 19:44] Lucashuang0802 opened #509 "Request for being a collaborator"
😃

[2017-05-21 18:32] skywinder commented on #509
@Lucashuang0802 Thank you very much for you active position! Much appreciated. For now, @olleolleolle is the boss.

p.s.
it's Duplicate of #272
Feel free to continue the discussion there.
Cheers! 😉

[2017-05-21 18:32] #509 closed

[2017-05-21 19:37] m1guelpf commented on #272
Would be interested to help :smile:

[2017-05-22 04:47] Lord-Haji opened #510 "Not working"
[code]

[2017-05-22 04:47] Lord-Haji commented on #510
Nothing happens after this

[2017-05-22 06:58] olleolleolle commented on #510
This issue is fixed in master branch and will be out in the next release.

[2017-05-22 06:58] #510 closed

[2017-05-22 06:58] olleolleolle commented on #510
Thank you for reporting!

[2017-05-22 11:51] CDAGaming opened #511 "Error On Running Generation Command"
Sorry in Advance if this is Easily Fixable, as im very new to using this 👍
![2017-05-22](https://cloud.githubusercontent.com/assets/16328918/26307600/1187a4e4-3ebb-11e7-9214-b6c1d894a1f1.png)

[2017-05-22 11:56] olleolleolle commented on #511
Hi, this has been fixed in master, and will be in the next release, thanks for reporting!

[2017-05-22 11:56] #511 closed

[2017-05-22 12:22] CDAGaming commented on #511
I'll be looking forward to it, thanks for the assistance!

[2017-05-22 12:25] Lord-Haji opened #512 "Crash on start"
![scrnsht](https://image.prntscr.com/image/be217017c9314cd38853cd364100c0fb.png)

Seems same as #511

Using latest version of ``master``

[2017-05-22 12:26] Lord-Haji commented on #512
This was earlier closed by @olleolleolle

[2017-05-22 12:33] CDAGaming commented on #511
Hey @olleolleolle Can I ask how I can build and utilize this from source so I'm able to generate still while awaiting next release

[2017-05-22 12:37] olleolleolle commented on #511
@CDAGaming Perhaps you can be inspired about `specific_install`, a gem which offers a `gem` command to install from Git source? I blogged about it a bit: http://ollehost.dk/blog/2017/02/19/how-to-use-very-latest-bundler-in-travis/

[2017-05-22 12:51] CDAGaming commented on #511
![2017-05-22 1](https://cloud.githubusercontent.com/assets/16328918/26309606/3874d588-3ec3-11e7-8d65-6e56ac4d513d.png)
Well, Specific Install Worked and it got a bit further, now its this error @olleolleolle
Once Again, thank you for your time so far to assist, i really appreciate it 👍

[2017-05-22 12:52] olleolleolle commented on #511
@CDAGaming See https://github.com/skywinder/github-changelog-generator/pull/480 on why Windows has this problem.

[2017-05-22 12:58] CDAGaming commented on #511
Ah, WIP I see. Then I'll go with the next thing which is downgrading to a working version(Most likely v1.13.2), thanks for the help on this and hope that issue can be resolved sometime soon :+1:

[2017-05-23 08:06] #512 closed

[2017-05-24 22:40] olleolleolle commented on #505
This is not currently a feature in the tool. Perhaps you can do some text post-processing?

[2017-05-25 14:51] tzejohn opened #521 "Error in generating changelog on Windows"
I am seeing the following error when running the generator. This is run on a windows box, against a repo in an internal GitHub Enterprise installation. Any idea on how to troubleshoot further?

[code]

[2017-05-25 15:07] olleolleolle commented on #521
@tzejohn Is there a Git installation in the path?

Can you use `-p projectname` and `-u username` to try not using the code which has this issue (it is trying to find projectname and username using git metadata)/

[2017-05-25 15:39] tzejohn commented on #521
Sorry. I was troubleshooting when running under the bash windows prompt and under the windows command prompt. I thought the error was the same, but it was not. Here is the error trace when running under bash on windows. it seems it cannot create the log file, but I can use ~touch~ from the shell and create the file at the same path.

[code]

[2017-05-25 20:03] olleolleolle commented on #521
Oh? Then you have the issue which has plagued Windows users of that version - either downgrade or use master.

If you search for `specific_install` in Issues, you may find a way to use latest, today.

[2017-05-25 20:04] olleolleolle commented on #521
This problem has been solved in the master branch. Closing this issue.

[2017-05-25 20:04] #521 closed

[2017-05-27 06:25] alexdotgit commented on #367
First timer here! Would really love to try and tackle this issue if I'm able to @olleolleolle

[2017-05-27 07:04] olleolleolle commented on #367
Go ahead, make a test, make a PR, it's open!

[2017-05-27 19:16] voxxit opened #524 "Use GitHub's GraphQL v4 API"
It seems it [solves a lot of the REST API's rate limiting problems](https://developer.github.com/v4/guides/resource-limitations/#rate-limit) users of this project are encountering with large projects:

Happy to help where I can with this!

[2017-05-27 21:25] deohtee commented on #435
Is this the 404 error that is supposed to show with OctoKit?

[code]

Want to double check before submitting a PR.

[2017-05-28 06:37] olleolleolle commented on #435
@deohtee Yes, this is the kind of error that we would like to talk about in this part of the README. There may be other outputs, but this communicative error message (including that link about Rate Limiting, suuuuper) guides the user to the right solution quicker.

To be clear, this section is now inaccurate:

[code]

[2017-05-28 15:16] olleolleolle commented on #524
I am enthusiastic about this good idea.

[2017-05-29 08:01] deohtee commented on #367
Hey @olleolleolle , is this still an issue even with the OctoKit gem? Or did the error change similar to #525 ?

[2017-05-29 08:17] olleolleolle commented on #367
The errors from Octokit are good and fail with mention of the API, which helps guide the user.

But, the specific thing, the token privilege group `repos` being needed to have access to private repositories, that detail is not in the octokit message.

[2017-05-29 08:18] olleolleolle commented on #367
I should change the description field to reflect that that is what we need, if anything.

[2017-05-31 04:10] deohtee commented on #367
Hey @olleolleolle, really excited to get started. I've been trying to familiarize myself with the code  here and have been trying to pin down where to start.

Just want to double check, but would this be a good starting place for this issue? https://github.com/skywinder/github-changelog-generator/blob/master/lib/github_changelog_generator/octo_fetcher.rb#L314-L317

Thank you for the guidance 😄

[2017-05-31 05:26] olleolleolle commented on #367
I believe this would be a great place to have more information.

Whether the longer explanation is presented directly there, in a man page or at a URL is a matter of refining.

Getting the basic tip into that abort string would help.

[2017-06-07 17:32] Pawamoy opened #528 "Output in reStructuredText format"
Most Python projects use RST format for their documents, including CHANGELOG.rst. It would be great if outputing in RST was possible, instead of Markdown :airplane:

[2017-06-07 17:37] Pawamoy commented on #528
Asking question and searching for answers just after is what I do. I realised that you can use Pandoc to convert from markdown to rst very  easily:

[code]

[2017-06-21 15:35] sachin21 opened #529 "[question] May I select pull-req to add changes to CHANGELOG.md?"
May I I select pull-req to add changes to CHANGELOG.md?
I don’t want to include pull-req's changes to CHANGELOG.md at sometimes.

This question from this tweet https://twitter.com/SkyWinder/status/877545052398071808 .

[code]
[code]

Question should post to stackoverflow..etc but I make this issue by kindness of @skywinder .

[2017-06-21 17:07] olleolleolle commented on #529
There are tricks!

- tagging issues using Labels allows you to exclude them

[2017-06-21 19:27] sachin21 commented on #529
@olleolleolle Thanks! But I haven't the permission to add the label. If you don't mind, could you add some label?

[2017-06-22 18:52] skywinder commented on #529
You have to ask the owner of the repo to add this label or add you as
collaborator to do that. Cheers.
On Wed, 21 Jun 2017 at 15:27 Satoshi Ohmori <notifications@github.com>
wrote:

[2017-06-22 18:53] #529 closed

[2017-06-22 18:58] skywinder commented on #528
Thank you very much for update. Since this task could be easily fixed - I will close it. Cheers!

[2017-06-22 18:58] #528 closed

[2017-06-23 17:11] kylebrowning commented on #51
Still nothing :(

[2017-06-25 06:59] Lucashuang0802 commented on #450
The `--between-tags` will be removed on the next release, @olleolleolle so this is not an issue anymore? 😃

[2017-06-25 18:29] Lucashuang0802 commented on #456
The `--base` flag seems to be for migration. Info is here: https://github.com/skywinder/github-changelog-generator#migrating-from-a-manual-changelog 😃

[2017-06-27 03:56] Lucashuang0802 commented on #272
I would love to be part of it. @skywinder @olleolleolle 😄

[2017-06-27 03:57] Lucashuang0802 commented on #388
@EspadaV8 Issues, do you mean commits?

[2017-06-27 04:00] Lucashuang0802 commented on #253
@skywinder Agree with @perlun. This is a rare case and it is not worthy of putting resources on it. Keeping it as a reference is good enough. 😃

[2017-06-27 05:10] olleolleolle commented on #253
Thanks, Lucas for bringing this up. Closing.

[2017-06-27 05:10] #253 closed

[2017-06-27 06:02] Lucashuang0802 commented on #507
@olleolleolle problem solved. 😃

[2017-06-27 06:41] olleolleolle commented on #507
Fixed in #535. Thanks!

[2017-06-27 06:41] #507 closed

[2017-06-27 12:35] Furtif opened #536 "error"
Filtered issues: 13
C:/Ruby23-x64/lib/ruby/gems/2.3.0/bundler/gems/github-changelog-generator-fb7e21f9f89f/lib/github_changelog_generator/generator/generator_generation.rb:25:in `include?': no implicit conversion of false into String (TypeError)
	from C:/Ruby23-x64/lib/ruby/gems/2.3.0/bundler/gems/github-changelog-generator-fb7e21f9f89f/lib/github_changelog_generator/generator/generator_generation

[2017-06-27 12:39] olleolleolle commented on #536
@Furtif thanks for reporting this!

@Lucashuang0802 Perhaps you have a follow-up to to #507 - something like `unless log.include?(credit_line)`?

[2017-06-27 14:09] Furtif commented on #536
@olleolleolle ok https://github.com/Furtif/github-changelog-generator is update an error almost

[2017-06-27 17:09] Lucashuang0802 commented on #536
@olleolleolle would that change you proposed made a difference? Logically, it seems like the same thing.

[2017-06-27 17:11] Lucashuang0802 commented on #536
@olleolleolle sorry, I just read the error. 😃  Let me try that. What's your suggestion to test the Windows machine?

[2017-06-27 17:39] Furtif commented on #536
appveyor

[2017-06-27 17:56] Lucashuang0802 commented on #536
@Furtif we have merged a change. can you confirm if it fixes your issue? thanks. 😄

[2017-06-27 18:19] Furtif commented on #536
How to confirm? The issue has opened !!! The test is there the error in question

[2017-06-27 19:21] olleolleolle commented on #502
`conventional-changelog` kindly adds a note about differences: https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli#problems-with-github-changelog-generator-or-similar-projects

It seems like an excellent project.

The list of missing features from this project is fair, and it reads like a TODO list.

[2017-06-27 19:23] olleolleolle commented on #502
I hope this answers your enquiry.

[2017-06-27 19:23] #502 closed

[2017-06-27 21:43] skywinder opened #540 "#51"

[2017-06-27 21:47] skywinder commented on #540
This issue created during a test of the Agile board. https://github.com/skywinder/github-changelog-generator/projects/3

[2017-06-27 21:47] #540 closed

[2017-06-27 21:51] skywinder commented on #51
@kylebrowning
I'd be more than happy to merge a PR adding this feature, it seems like it would be useful for sure 👍

[2017-06-28 10:19] Lord-Haji commented on #536
@Furtif close this, this is fixed

[2017-06-28 10:21] Lord-Haji opened #541 "Credit line bug"
https://github.com/Necrobot-Private/NecroBot/commit/4ba9964d4008a63dad2290fd06c5cac760d54fd5#diff-4ac32a78649ca5bdd8e0ba38b7006a1e
[code]

[2017-06-28 11:07] olleolleolle commented on #536
Fixed in #537.

Thanks for reporting!

[2017-06-28 11:07] #536 closed

[2017-06-28 14:18] Lucashuang0802 commented on #536
thanks @Lord-Haji

[2017-06-28 14:19] Lucashuang0802 commented on #541
@Lord-Haji @olleolleolle sorry for this buggy change. I will take a look. 😄

[2017-06-28 15:08] Lucashuang0802 commented on #541
@Lord-Haji thanks for reporting. The change is in.

[2017-06-28 16:00] Furtif commented on #536
👍

[2017-06-28 16:00] Furtif commented on #536
thanks :)

[2017-06-29 10:10] Lord-Haji commented on #541
@Lucashuang0802 Thanks!

[2017-06-29 10:10] #541 closed

[2017-07-07 00:09] richnsoos opened #544 "Question: will changelog since-tag work only if tagging convention within repo is consistent?"
Over the past few years, we have changed our tagging pattern in our repo. For example, here's a sampling of our different tags within same repo:

1. engine-2.4.0.RELEASE (most recent tag)
2. engine-2.4.0-RC7
3. engine-2.4.0-RC6
4. engine-2.4.0-RC2
5. engine-2.3.0.RELEASE
6. engine-2.3.0.RC5
7. engine-2.3.0.RC4
8. engine-2.3.0.RC3
9. engine-02.03.00.RC2
10. chassis-framework-dep-bom-01.00.00.22
11.

[2017-07-12 06:51] kreczko commented on #419
This issue has not been touched for quite some time.
Is this being worked on?

If not, would it be possible to add some detail as to what needs changing?
Any helpful pointers to relevant sections in the code could speed up things.

[2017-07-12 10:48] pociej commented on #403
+1

[2017-07-16 16:10] olleolleolle opened #545 "Remove the URL in the repository's description section"
The link `https://skywinder.github.io/github-changelog-generator/` has outdated information.

That link is presented in the first part of the description, and new users will use it to learn.

And there will be slightly outdated things.

Proposed solution: Remove that link.

[2017-07-16 16:13] olleolleolle opened #546 "Markdown: add a newline before the Full Changelog links"
Formatting suggestion: add a newline between "## <version>" and the "Full Changelog" links -- some markdown parsers don't like things immediately after headers.

[2017-07-16 16:57] ianroberts131 commented on #546
Ok if I take a stab at this? Looking to get started with open source development.

[2017-07-16 18:02] olleolleolle commented on #546
@ianroberts131 Go ahead!

[2017-07-18 07:29] riuvshin opened #547 "question: how to append changelog with only current version changes."
hi there I have repo with huge amount of PRs and Issues and Im looking for a way how to not regenerate whole change log for all versions each time. I need only append existing changelog with changes for concrete version is that possible?

another question - how to filter merged PRs by labels? I want to sort PRs like
**BUG merged PRs:**
- 1
- 2

**Enhancement merged PRs:**
- 1
- 2

[2017-07-18 08:05] olleolleolle commented on #547
I don't believe that the first thing is possible - there is no "early return" from the fetching and processing of GitHub metadata.

The second scenario: well, the Merged PR section "is for" showing unlabeled things. By adding Labels, you can get them out of that list of unlabeled PRs. The default list of labels recognized is extensible and configurable. See --help or man pages.

Hope this helps!